<div class="breadcrumb">
    <h1>Health Tips Detail</h1>
  </div>
  <div class="d-flex">
      <button (click)="goBack()" class="btn btn-sm rounded-circle btn-icon float-right btn-outline-primary">
        <i class="icon i-Arrow-Back"></i>
      </button>
    </div>
  <div class="row">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="card card-ecommerce-3 o-hidden mb-4">
      <div class="d-flex"> 
        <div class="flex-grow-1 p-4">
          <h2 class="m-0 font-weight-bold text-muted">{{item?.title}}</h2>
          <p class="text-muted">Published {{item?.dateCreated | date:'medium'}} | &nbsp;
              <small style="font-size: 13px;">By {{item?.author}}</small>
            </p>
          <p class="m-0 text-small text-muted">{{item?.subTitle}}</p>
          <img alt="user" class="img-fluid animated filpInX w-100" [src]="item?.thumbnail" style="height: auto;">
          <!-- <p class="m-0">{{package?.formattedValue}}</p> -->
          <p class="mt-3 text-18" [innerHtml]="item?.content"></p>
          <div class="actions">
           <!--  <button class="btn btn-sm rounded-circle btn-icon float-right btn-outline-primary">
              <i class="icon i-Arrow-Back"></i>
            </button> -->
          </div>
        </div>
      </div>
      
    </div>
  
  </div>
  </div>
  
<app-loader [isLoadingData]="waiting"></app-loader>
