
  <div class="breadcrumb">
    
  </div>

  <div class="row">
    <div class="col-md-7 col-offset-2">
        <div class="card"> 
            <div class="card-body">
                <div class="d-flex mb-1 float-right">
                          
                    <button class="btn btn-outline-danger btn-rounded m-1" ngbPopover="Download the sample template for uploading the tariff. Kindly download, edit and upload it back to the system"
                    triggers="mouseenter:mouseleave" popoverTitle="Sample Template Description"
                    (click)="downloadTemplate()"><i class="i-File-Download"></i>Download Enrollee Template</button>
              </div>
              <h5 class="card-title">Upload your enrollee records</h5>
            
              <form role="form" #f="ngForm" (ngSubmit)="send()">
               
                <div class="form-group"  [ngClass]="{
                  'has-danger': id.invalid && (id.dirty || id.touched),
                  'has-success': id.valid && (id.dirty || id.touched)
              }">
              <label>Plan</label>
              <select class="custom-select" name="id" #id="ngModel" id="inputGroupSelect01" [(ngModel)]="item.id">
                  <option selected>Select Plan</option>
                  <option *ngFor="let package of packages" [value]="package.id">
                    {{package.name}}
                  </option>
                </select>
                <div class="form-control-feedback" *ngIf="id.errors && (id.dirty || id.touched)">
                  <p *ngIf="id.errors.required" class="text-danger">This field is required</p>
                </div>
              </div>

              <div class="form-group">
                <label for="healthcare_file">Please select the file you want to upload </label>
                <div class="input-group mb-3">
                               
                    <div class="custom-file">
                        <input type="file" accept=".csv" class="custom-file-input" id="healthcare_file" #uploader (change)="onFileChange($event)" aria-describedby="logodescription">
                        <label class="custom-file-label" for="healthcare_file">{{filename}}</label>
                    </div>
                    <small class="form-text" style="width:100%;" *ngIf="waiting">
                        <div class="loader-bubble loader-bubble-light m-2"></div>
                    </small>
                  </div>
              </div> 
                <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting">{{waiting ? 'Processing':'Upload'}}</btn-loading>
         
                </form>
            </div>
          </div>
      
        
    </div>
  </div>
 

