<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body animated fadeIn">

                <div class="card-title mb-3">{{tip}}</div>
                <form #f="ngForm" (ngSubmit)="submit()">
                    <div class="row"  [hidden]="isProfile">
                       
                        <div class="col-md-6 form-group mb-3">
                            <label for="firstName">Firstname</label>
                            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="item.firstName" class="form-control form-control-rounded" id="firstName" placeholder="Enter your first name">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="lastName">Surname</label>
                            <input type="text" class="form-control form-control-rounded" name="lastName" #lastName="ngModel" [(ngModel)]="item.lastName" id="lastName" placeholder="Enter your last name">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control form-control-rounded" name="email" #email="ngModel" [(ngModel)]="item.email" readonly id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email"/>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control form-control-rounded" readonly name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="item.phoneNumber" id="phone" placeholder="Enter phone" />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="credit">State</label>
                            <select class="form-control form-control-rounded" name="state" #state="ngModel" [(ngModel)]="item.state">
                              <option *ngFor="let state of states| sort:'name'" [value]="state.name">{{state.name}}</option>
                            </select>
                           
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control form-control-rounded" id="address" name="address" #address="ngModel" [(ngModel)]="item.address" placeholder="Address">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="credit">Gender</label>
                            <select class="form-control form-control-rounded" name="gender" #gender="ngModel" [(ngModel)]="item.gender">
                              <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                            </select>
                           
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="picker1">Birth date</label>
                            <div class="input-group">
                                <input id="picker1" type="text" name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="item.dateOfBirth" class="form-control form-control-rounded" placeholder="yyyy-mm-dd"  
                                    ngbDatepicker #dp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary btn-rounded" (click)="dp.toggle()" type="button">
                                        <i class="icon-regular i-Calendar-4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <btn-loading btnClass="btn-primary btn-rounded float-right" (click)="showProfilePicture()" [type]="'button'">Next </btn-loading>
                        </div>
                      
                   
                    </div>
                    <div class="row animated fadeIn" [hidden]="isPictureUpload">
                         
                          <div class="col-md-6 offset-md-3">
                              <div class="col-md-4 offset-md-3">
                                  <img width="300" id="Company_Logo_src"
                                    src="../assets/images/placeholder.png" />
                                </div>
                              <div class="col-md-12 input-group mb-3">
                                  <div class="custom-file">
                                    <input type="file" (change)="onFileChange($event)" #uploader class="custom-file-input" id="inputGroupFile02" />
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{filename ? filename : 'Choose file'}}</label>
                                  </div>
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                                  </div>
                                  <div class="col-md-12 text-center" *ngIf="isUploading">
                                      <div class="spinner spinner-primary mr-3 text-center"></div>
                                  </div>
                                 
                                   
                                </div>
                                <div class="col-md-12">
                                     <btn-loading btnClass="btn-primary btn-rounded float-right btn-block" [type]="'submit'" [disabled]="waiting" [loading]="waiting">Save Changes</btn-loading>
                                     <div class="mt-3 text-center">
                                        <a href="javascript:;" class="text-muted" (click)="back()"><u>Back</u></a>
                                      </div>
                                </div>
                                
                          </div>
                         
                          <input type="text" required  [(ngModel)]="item.profilePic" name="profilePic" hidden class="form-control hidden"/>
                     
                       
                        
                    </div>
                       
                </form>

            </div>
        </div>
    </div>
</div>