<ngb-tabset>
    <ngb-tab title="Medications">
        <ng-template ngbTabContent>
            <h5 class="card-title">Medications</h5>
            <img src="..." alt="..." class="img-thumbnail" />
            <button class="btn btn-info">
                  Upload Logo
                </button><br>
            <label for="exampleFormControlInput1">Firstname</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ebuka" />
            <label for="exampleFormControlInput1">Lastname</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Obi" />
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" placeholder="eobi@appzonegroup.com" id="exampleFormControlInput1" />
            <label for="exampleFormControlInput1">Mobile Number:</label>
            <input type="number" class="form-control" placeholder="08130770663" id="exampleFormControlInput1" />
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Gender:
                    </span>
                </div>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address: </span>
                </div>
                <textarea class="form-control" aria-label="With textarea">
41 Olasonoye Street Ijegun Satellite Town Lagos</textarea
                  >
                </div>
                <br />
                <p>
                  <button class="btn btn-info">
                    Click to Verify Your Account
                  </button>
                </p>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>Change Password</b></ng-template>
              <ng-template ngbTabContent>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      >Current Password:
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Ebuka"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      >New Password:
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Obi"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      >Confirm Password:
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="eobi@appzonegroup.com"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <p>
                  <button class="btn btn-success">
                    Save Changes
                  </button>
                </p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>