<div class="breadcrumb">
  <h1>Email Template</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Email Template</h5>
        <form role="form" #f="ngForm" (ngSubmit)="updateTemplate(f)">
          
          <div class="form-group mb-3" [ngClass]="{
                      'text-danger': emailType.invalid && (emailType.dirty || emailType.touched),
                      'text-success': emailType.valid && (emailType.dirty || emailType.touched) }">
            <label for="type"> Email Template Type</label>
            <select class="form-control" id="emailType" (change)="getEmailTemplatePlaceholders()" name="emailType"
              required #emailType="ngModel" [(ngModel)]="item.emailType">

              <option *ngFor="let type of emailTypes" [ngValue]="type.value"> {{type?.name}} </option>

            </select>
            <small class="form-text text-danger"
              *ngIf="emailType.errors?.required && (emailType.dirty || emailType.touched)">This field is
              required</small>

          </div>
          <div class="form-group" [ngClass]="{
                    'has-danger': subject.invalid && (subject.dirty || subject.touched),
                    'has-success': subject.valid && (subject.dirty || subject.touched)
                }">
            <label>Subject</label>
            <input type="text" class="form-control" name="subject" placeholder="Name (e.g Gold,Silver)"
              [(ngModel)]="item.subject" required #subject="ngModel">
            <div class="form-control-feedback" *ngIf="subject.errors && (subject.dirty || subject.touched)">
              <p *ngIf="subject.errors.required" class="text-danger">This field is required</p>
            </div>
          </div>

          <div class="form-group" [ngClass]="{
                    'has-danger': body.invalid && (body.dirty || body.touched),
                    'has-success': body.valid && (body.dirty || body.touched)
                }">
            <label>Email Body </label>
            <!-- <angular-editor name="body" #body="ngModel" required [(ngModel)]="item.body" ></angular-editor> -->
            <app-tinymce [(ngModel)]="item.body" name="body" #body="ngModel" required [options]="{branding:false}" #tinymce='tinymce'></app-tinymce> 
           <!-- <quill-editor class="rounded" name="body" #body="ngModel" required [(ngModel)]="item.body"></quill-editor>  -->

            <div class="form-control-feedback" *ngIf="body.errors && (body.dirty || body.touched)">
              <p class="text-danger" *ngIf="body.errors.required">This field is required</p>

            </div>
          </div>
          
          <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="loading"
            [disabled]="loading">{{loading ? 'Processing':'Save Changes'}}</btn-loading>


        </form>
      </div>
    </div>


  </div>
  <div class="col-md-3">
    <h4>Available placeholders</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let placeholder of placeholders">{{placeholder}}</li>

    </ul>
  </div>
</div>