<div class="row">
    <div class="col-md-12 mb-3">
        <div class="d-flex mb-2 float-right">
            <button class="btn btn-outline-secondary btn-rounded m-1" (click)="refresh()"><i
            class="fa fa-refresh"></i> Refresh</button>
        </div>
        <div class="d-flex mb-2 float-right">
            <button class="btn btn-outline-secondary btn-rounded m-1" (click)="open(addEnrollee)"><i
          class="i-Add-User"></i> Create New Enrollee</button>
        </div>

        <div class="d-flex mb-2 float-left">
            <select name="count" [(ngModel)]="paginationConfig.count" (change)="changeCount()" class="form-control">
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
        </div>

    </div>
    <div class="col-md-12" *ngIf="items?.length > 0">
        <div class="card mb-3">
            <div class="card-body">
                Filter By
                <form role="form" #f="ngForm" (ngSubmit)="filterData()" class="form-horizontal">

                    <div class="row row-xs">
                        <div class="col-sm-12 col-md-4" *ngIf="role !== 'HMO'">
                            <div class="form-group">
                                <label>Organization </label>
                                <select class="form-control form-control-rounded" (change)="filterData()" name="orgId" [(ngModel)]="filter.orgId">
                          
                          <option *ngFor="let org of orgs" value="{{org.id}}">{{org.name}}</option>
                          
                        </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4" *ngIf="role === 'HMO'">
                            <div class="form-group">
                                <label>Organization </label>
                                <select class="form-control form-control-rounded" (change)="filterData()" name="orgId" [(ngModel)]="filter.orgId">
                        
                        <option *ngFor="let org of nameAndIds" value="{{org.id}}">{{org.name}}</option>
                        
                      </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4" *ngIf="role !== 'HMO'">
                            <div class="form-group">
                                <label>Health Maintenance Organization</label>
                                <select class="form-control form-control-rounded" (change)="filterData()" name="ultimateHmoId" [(ngModel)]="filter.ultimateHmoId">
                           
                            <option *ngFor="let hmo of hmos" value="{{hmo.id}}">{{hmo.name}}</option>
                         
                          </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Enrollee Name/Email </label>
                                <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search by Name or Email" class="form-control form-control-rounded">
                            </div>
                        </div>

                        <div class="col-md-4  mt-3 mt-md-0">
                            <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary btn-block btn-rounded">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="col-md-12">

        <div class="card  o-hidden" *ngIf="items?.length > 0">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Enrollee ID</th>
                            <th>Email</th>
                            <th>Organization</th>
                            <th>Hmo</th>
                            <th>Plan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let user of items | grdFilter: {name: searchText, enrolleeEmail: searchText}; let i=index">
                            <td>
                                <ngx-avatar size="35" [name]="user.name" class="float-left avatar-align"></ngx-avatar>
                                <span class="ml-2">{{user.name}}</span>
                            </td>
                            <td><code>{{user.enrolleeId}}</code></td>

                            <td>{{user.enrolleeEmail}}</td>
                            <td>{{user.orgName ? user.orgName:'-'}}</td>
                            <td>{{user.uhmoName}}</td>
                            <td><label class="label label-success">{{user.plan}}</label></td>

                            <td>
                              <a class="btn btn-sm btn-success text-white" (click)="role === 'HMO' ? gotoRoute('hmo/user/enrollee',user.id, 'detail') : gotoRoute('provider/enrollee',user.id, 'detail')" ngbTooltip="View Detail"><i class="fa fa-list"></i> Detail</a>
                    
                                
                            </td>

                    </tbody>


                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <p>{{getPageInfoDescription()}}</p>
                </div>
                <div class="col-md-6 float-right">
                    <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>

        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-User"></i>
                </div>
                <p class="text-16">
                    No Enrollee<br />
                </p>
            </div>
        </div>
    </div>
</div>


<ng-template #addEnrollee let-modal>
    <div class="card o-hidden" [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
        <div class="row">
            <div class="col-md-12">
                <div class="p-4">
                    <h1 class="mb-3 text-18">Add Enrollee</h1>
                    <!-- <p class="mb-4 text-muted font-small">Lorem ipsum dolor sit amet.</p> -->
                    <form #f="ngForm" (ngSubmit)="createEnrollee(f)">
                        <p *ngIf="response" [ngClass]="{'alert alert-success text-center': isSuccess,'alert alert-danger text-center': !isSuccess}">
                            {{response}}</p>
                        <div class="row">
                            <div class="col-md-6 form-group mb-3" [ngClass]="{
              'text-danger': lastName.invalid && (lastName.dirty || lastName.touched),
              'text-success': lastName.valid && (lastName.dirty || lastName.touched) }">
                                <label for="lastname">Surname </label>
                                <input type="text" class="form-control form-control-rounded" id="lastname" name="lastname" required #lastName="ngModel" [(ngModel)]="item.lastName" placeholder="Surname">
                                <small class="form-text text-danger" *ngIf="lastName.errors?.required && (lastName.dirty || lastName.touched)"><i class=""></i>Last Name is
                  required</small>

                            </div>

                            <div class="col-md-6 form-group mb-3" [ngClass]="{
                'text-danger': firstName.invalid && (firstName.dirty || firstName.touched),
                'text-success': firstName.valid && (firstName.dirty || firstName.touched) }">
                                <label for="firstName">Other names </label>
                                <input type="text" class="form-control form-control-rounded" id="firstName" name="firstName" required #firstName="ngModel" [(ngModel)]="item.firstName" placeholder="Other names">
                                <small class="form-text text-danger" *ngIf="firstName.errors?.required && (firstName.dirty || firstName.touched)"><i class=""></i>Other name
                  is
                  required</small>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group" [ngClass]="{
              'text-danger': email.invalid && (email.dirty || email.touched),
              'text-success': email.valid && (email.dirty || email.touched) }">
                                <label for="email">Email address</label>
                                <input id="email" class="form-control form-control-rounded" type="email" name="email" required #email="ngModel" [(ngModel)]="item.email" placeholder="Email Address">
                                <small class="form-text text-danger" *ngIf="email.errors?.required && (email.dirty || email.touched)"><i
                    class=""></i>Please enter a valid email address</small>

                            </div>

                            <div class="col-md-6 form-group" [ngClass]="{
              'text-danger': phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched),
              'text-success': phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched) }">
                                <label for="phoneNumber">Phone Number</label>
                                <input id="phoneNumber" class="form-control form-control-rounded" type="tel" name="phoneNumber" required #phoneNumber="ngModel" [(ngModel)]="item.phoneNumber" placeholder="Phone Number">
                                <small class="form-text text-danger" *ngIf="phoneNumber.errors?.required && (phoneNumber.dirty || phoneNumber.touched)"><i
                    class=""></i>Please
                  enter a valid phone number</small>

                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{
              'text-danger': address.invalid && (address.dirty || address.touched),
              'text-success': address.valid && (address.dirty || address.touched) }">
                            <label for="address">Address</label>
                            <input id="address" class="form-control form-control-rounded" type="text" name="address" required #address="ngModel" [(ngModel)]="item.address" placeholder="Home Address">
                            <small class="form-text text-danger" *ngIf="address.errors?.required && (address.dirty || address.touched)"><i class=""></i>Please enter
                address</small>

                        </div>

                        <btn-loading btnClass="btn-primary btn-rounded btn-block" [loadingText]="'Loading'" [loading]="loading" [disabled]="!f.valid || loading">
                            Add Enrollee
                        </btn-loading>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<app-loader [isLoadingData]="waiting"></app-loader>