<div class="breadcrumb">
    <h1>Send Announcements</h1>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">

    <div class="col-md-9 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Announcements</h5>

                <form role="form" #f="ngForm" (ngSubmit)="createPack(f)">

                    <div class="form-group" [ngClass]="{
              'has-danger': packageName.invalid && (packageName.dirty || packageName.touched),
              'has-success': packageName.valid && (packageName.dirty || packageName.touched) }">
                        <label>Title</label>
                        <input type="text" class="form-control" name="packageName" placeholder="Name (e.g Gold,Silver)" [(ngModel)]="item.packageName" required #packageName="ngModel">
                        <div class="form-control-feedback" *ngIf="packageName.errors && (packageName.dirty || packageName.touched)">
                            <p *ngIf="packageName.errors.required" class="text-danger">This field is required</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Announcements Group</label>
                        <select class="form-control">
                          <option>Clients</option>
                          <option>HMO</option>
                       </select>
                    </div>

                    <div class="form-group" [ngClass]="{
              'has-danger': packageDescription.invalid && (packageDescription.dirty || packageDescription.touched),
              'has-success': packageDescription.valid && (packageDescription.dirty || packageDescription.touched)
          }">
                        <label>Announcements Content</label>
                        <quill-editor class="rounded" name="packageDescription" #packageDescription="ngModel" required [(ngModel)]="item.packageDescription"></quill-editor>

                        <div class="form-control-feedback" *ngIf="packageDescription.errors && (packageDescription.dirty || packageDescription.touched)">
                            <p class="text-danger" *ngIf="packageDescription.errors.required">This field is required</p>

                        </div>
                    </div>

                    <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting">{{waiting ? 'Processing':'Create'}}</btn-loading>


                </form>
            </div>
        </div>

    </div>
</div>