<div class="">
    <div class="breadcrumb">
      <h1>Add Claim Request</h1>
  
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="d-flex mb-2">
  
        </div>
      </div>
  
      <div class="col-md-12">
  
        <div class="card mb-2" *ngIf="!response">
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="generateVisitCode()">
  
              <div class="row row-xs">
  
  
                <div class="col-md-5 offset-md-2">
  
                  <input class="form-control" id="name" name="name" required #name="ngModel" [(ngModel)]="item.name"
                    placeholder="Enter Enrollee ID">
   
                  <small class="form-text text-danger" *ngIf="name.errors?.required && (name.dirty || name.touched)">This
                    field is required</small>
                  <p *ngIf="error.isError" class="form-text text-danger"><i class="fa fa-close"></i> {{error.Message}}</p>
                </div>
  
                <div class="col-md-3 mt-3 mt-md-0">
                  <btn-loading [btnClass]="'btn btn-outline-primary btn-rounded'" [loading]="waiting" [type]="'submit'"
                    [disabled]="waiting || !f.valid" [loadingText]="'Loading...'">
                    <i class="fa fa-search"></i> Generate Visit Code
                  </btn-loading>
                </div>
  
              </div>
            </form>
          </div>
        </div>
        <div class="card mt-2" *ngIf="response">
          <div class="card-body animated fadeIn">
  
            <div class="card-title mb-3">{{title}}</div>
            <form #cb="ngForm" (ngSubmit)="createBatch(cb)">
                <div class="col-md-8 form-group mb-3">
                    <div class="col-md-12 mb-2">
                        <label>Do you want to batch claim?</label>
                        <label class="radio radio-success ml-2"> 
                            <input type="radio" name="radio" [(ngModel)]="isBatch" [value]="1" >
                            <span>Yes</span>
                            <span class="checkmark"></span>
                            
                        </label>
                        <label class="radio radio-danger ml-2">  
                            <input type="radio" name="radio" [(ngModel)]="isBatch" [value]="2" >
                            <span>No</span>
                            <span class="checkmark"></span>
                            
                        </label>
                        <div class="row row-xs" *ngIf="isBatch ===1 && claimBatches?.length == 0"> 
                            <div class="col-md-9">
                               
                              <input class="form-control" id="name" name="batchName" required #batchName="ngModel" [(ngModel)]="item.batchName"
                                placeholder="Batch Name">
                              <small class="form-text text-danger" *ngIf="batchName.errors?.required && (batchName.dirty || batchName.touched)">This
                                field is required</small>
                              <p *ngIf="error.isError" class="form-text text-danger"><i class="fa fa-close"></i> {{error.Message}}</p>
                            </div>
              
                            <div class="col-md-3 mt-3">
                              <btn-loading [btnClass]="'btn btn-outline-primary btn-rounded'" [loading]="waiting" [type]="'submit'"
                                [disabled]="waiting || !cb.valid" [loadingText]="'Loading...'" >
                                <i class="fa fa-save"></i> Create Claim Batch
                              </btn-loading>
                            </div>
              
                          </div>
                    </div>
                   
                      <!-- <label for="credit">Do you want to batch claim?  <input type="radio" name="claimbatch"> Yes <input type="radio" name="claimbatch"/> No </label>
                      -->
                      
                    
                    </div>
            </form>
            <form #f="ngForm" (ngSubmit)="submitClaimForm(f)" *ngIf="!next">
              
              <!--Claim Form Starts here-->
              <div class="row" *ngIf="isBatch ===1 ||isBatch === 2">
                   
                <div class="col-md-6 form-group mb-3">
                  <label for="employeeId">Enrollee Name</label>
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="response.enrolleeName" class="form-control"
                    id="employeeId" placeholder="Enter your first name">
                </div>

                <div  class="col-md-6 form-group mb-3" [ngClass]="{
                  'text-danger': providerId.invalid && (providerId.dirty || providerId.touched),
                  'text-success': providerId.valid && (providerId.dirty || providerId.touched) }">
                  <label>Hospital </label>
                  <select class="form-control" #providerId="ngModel" name="providerId" [(ngModel)]="item.providerId">
                     
                      <option *ngFor="let name of nameAndIds" [value]="name.id">{{name.name}}</option>
                  </select>
                  <small class="form-text text-danger" *ngIf="providerId.errors?.required && (providerId.dirty || providerId.touched)">This field is required</small>

                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>Date Of Code Request</label>
                  <div class="input-group">
  
                    <input class="form-control" placeholder="yyyy-mm-dd" (click)="dc.toggle()"
                      [(ngModel)]="item.dateOfCodeRequest" name="dateOfCodeRequest" ngbDatepicker #dc="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-default calendar" (click)="dc.toggle()"
                        type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>Date Of Claim Request</label>
                  <div class="input-group">
  
                    <input class="form-control" placeholder="yyyy-mm-dd" (click)="dr.toggle()"
                      [(ngModel)]="item.dateOfClaimRequest" name="dateOfClaimRequest" ngbDatepicker #dr="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-default calendar" (click)="dr.toggle()"
                        type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>Admission Date </label>
                  <div class="input-group">
  
                    <input class="form-control" placeholder="yyyy-mm-dd" (click)="da.toggle()"
                      [(ngModel)]="item.admissionDate" name="admissionDate" ngbDatepicker #da="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-default calendar" (click)="da.toggle()"
                        type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
  
  
                <div class="col-md-6 form-group mb-3">
                  <label>Discharge Date </label>
                  <div class="input-group">
  
                    <input class="form-control" placeholder="yyyy-mm-dd" (click)="dd.toggle()"
                      [(ngModel)]="item.dischargeDate" name="dischargeDate" ngbDatepicker #dd="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-default calendar" (click)="dd.toggle()"
                        type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                </div>
  
  
                <div class="col-md-6 form-group mb-3">
                  <label for="monthOfClaim">Month Of Claim</label>
                  <select class="form-control" name="monthOfClaim" #monthOfClaim="ngModel"
                    [(ngModel)]="item.monthOfClaim">
                    <option [value]="0">Select Month</option>
                    <option *ngFor="let month of months" [value]="month">{{month}}</option>
                  </select>
                </div>
  
                <div class="col-md-6 form-group mb-3">
                  <label for="yearOfClaim">Year Of Claim</label>
                  <input type="text" name="yearOfClaim" #yearOfClaim="ngModel" [(ngModel)]="item.yearOfClaim"
                    class="form-control" id="yearOfClaim" placeholder="Enter your year of claim">
                </div>
  
                <div class="col-md-6 form-group mb-3">
                  <label for="cost">Claim Amount</label>
                  <input type="text" name="cost" #cost="ngModel" [(ngModel)]="item.cost" class="form-control" id="cost"
                    placeholder="Claim Amount">
  
                </div>
                <div class="col-md-6 form-group mb-3" *ngIf="item.authorizationCode">
                  <label for="authorizationCode">Authorization Code</label>
                  <input type="text" name="authorizationCode" #authorizationCode="ngModel" readonly [(ngModel)]="item.authorizationCode" class="form-control" id="authorizationCode">
  
                </div>
                <div class="col-md-6 form-group mb-3" *ngIf="isBatch === 1 && claimBatches?.length > 0">
                  <label for="cost">Claim Batching Code</label>
                  <select class="form-control"   name="claimBatchId" #claimBatchId="ngModel" [(ngModel)]="item.claimBatchId" >
                      <option [value]="">Select Claim Batch Code</option>
                      <option *ngFor="let item of claimBatches"  [value]="item.id">{{item.name}}</option>
                    </select> 
                    
  
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="credit">Comment </label>
                  <input type="text" name="description" #description="ngModel" [(ngModel)]="item.description"
                    class="form-control" id="description" placeholder="Comment ">
  
                </div>
                <div class="col-md-12">
                    <div class="col-md-7 offset-md-2">
                        <btn-loading [btnClass]="'btn btn-outline-primary btn-lg btn-block'" [loading]="waiting" [type]="'submit'"
                        [disabled]="waiting || !cb.valid" [loadingText]="'Loading...'" >
                        <i class="fa fa-save"></i> Save and Continue
                      </btn-loading>
      
                    </div>
                </div>
               
  
              </div>
              <!--Claim Form Ends Here--> 
            </form>
            <div class="col-md-12" *ngIf="next">
              <form #d="ngForm" (ngSubmit)="submit()">
                <!--Diagnosis and Investigation form starts here-->
              <div class="row animated fadeIn" [hidden]="isAttachment">
  
                  <div class="col-md-12 form-group mb-3">
                    <div class="col-md-3">
                      <label for="cost">Name</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" name="name" #name="ngModel" [(ngModel)]="item.diagnosisModel.name" class="form-control"
                        id="cost" placeholder="Name of Diagnosis">
    
                    </div>
    
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <div class="col-md-3">
                      <label for="cost">Diagnosis Description</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" name="description" #description="ngModel" [(ngModel)]="item.diagnosisModel.description"
                        class="form-control" id="cost" placeholder="Note">
    
                    </div>
    
                  </div>
                  <hr />
                  <h3>Investigation</h3>
                  <div class="col-md-12 form-group mb-3">
                    <div class="col-md-3">
                      <label for="cost">Investigation Note</label>
                    </div>
                    <div class="col-md-9">
                      <textarea class="form-control" name="description" [(ngModel)]="item.investigationModel.description"></textarea>
                    </div>
    
                  </div>
                  <div class="col-md-12">
                    <button type="button" (click)="show(2)"
                      class="btn btn-primary btn-block mt-3 btn-rounded">
                      Next <i class="fa fa-angle-double-right faa-passing animated"></i></button>
    
                  </div>
                  <div class="mt-3 text-center" *ngIf="isClaim">
                    <a href="javascript:;" class="text-muted" (click)="back(1)"><u>Back</u></a>
                  </div>
                </div>
                <!--Diagnosis and Investigation form ends here-->
    
              </form>
                <form #drugForm="ngForm" (submit)="processForm(drugForm)" >
                    <!--Drug and Service Rendered Form starts here-->
        
                    <div class="row animated fadeIn" [hidden]="isTariff">
                      <table class="table table-bordered">
                        <thead>
                          <th width="30%">Name</th>
                          <th width="40%">Description</th>
                          <th width="10%">Quantity</th>
                          <th width="20%">Price</th>
        
                          <th>Action</th>
                        </thead>
                        <tr *ngFor="let drug of form.drugs; let i = index;">
                          <td>
        
                            <input class="form-control" #nameControl="ngModel"
                              (change)="validateDrug($event.target.value, drug)" [(ngModel)]="drug.name"
                              name="name_{{drug.unq}}" placeholder="Drug Name" type="text">
                              <div *ngIf="drug.fetchingDrug" class="loader-bubble loader-bubble-primary m-1"></div>
                            <p *ngIf="drug.error" class="form-text text-danger"><i class="fa fa-close"></i> {{drug.error}}</p>
                          </td>
                          <td>
                            <input class="form-control" #nameControl="ngModel" [(ngModel)]="drug.dosageDescription"
                              name="dosageDescription_{{drug.unq}}" placeholder="Dosage Description" type="text">
                          </td>
        
                          <td>
                            <input class="form-control" #nameControl="ngModel" min="0" (change)="calculatePrice(drug)"
                              [(ngModel)]="drug.quantityPrescribed" name="quantityPrescribed_{{drug.unq}}"
                              placeholder="Enter your password" type="number">
        
                          </td>
                          <td>
                            <input class="form-control" #nameControl="ngModel" [(ngModel)]="drug.cost" name="cost_{{drug.unq}}"
                              readonly placeholder="Price" type="number">
                          </td>
        
        
                          <td>
                            <button class="btn btn-sm btn-danger" (click)="removeDrug(i)"> <i
                                class="fa fa-trash-o"></i></button>
                          </td>
                        </tr>
                        <tfoot>
                          <tr>
                            <td colspan="3">
                              <button class="btn btn-sm btn-default" type="button" (click)="addDrugs()"><i class="fa fa-plus"></i> Add
                                Drug</button>
                            </td>
                            <td><strong class="bolder">Total: {{totalAmount | currency:'&#8358;' }}</strong></td>
                          </tr>
                        </tfoot>
                      </table>
                      <!--  <ng-template ngFor let-drug [ngForOf]="form.drugs" let-index="index" let-isLast="last">
              
           </ng-template> -->
                      <div class="col-md-4 mt-3 mt-md-0">
                        </div>
        
                      <div class="col-md-12">
                        <!-- <btn-loading btnClass="btn-primary btn-rounded float-right" [type]="'submit'" [disabled]="waiting"
                          [loading]="waiting">Submit</btn-loading> -->
                           
                              <button class="btn btn-primary btn-block" type="submit" (click)="show(3)"> Next <i class="fa fa-angle-double-right faa-passing animated"></i></button>
                            
                        <div class="mt-3 text-center" *ngIf="isClaim">
                          <a href="javascript:;" class="text-muted" (click)="back(2)"><u>Back</u></a>
                        </div>
                      </div>
        
                    </div>
                    <!--Drug and Service Rendered Forms ends here-->
                  </form>
                  <form #serviceForm="ngForm" (submit)="processServiceForm(serviceForm)" >
                      <!--Drug and Service Rendered Form starts here-->
          
                      <div class="row animated fadeIn" [hidden]="isService">
                        <table class="table table-bordered">
                          <thead>
                            <th width="30%">Service</th>
                            <th width="50%">Description</th>
                             
                            <th width="20%">Price</th>
          
                            <th>Action</th>
                          </thead>
                          <tr *ngFor="let service of form2.services; let i = index;">
                            <td>
            
                                <select class="form-control" (change)="validateService($event.target.value, service)" name="name_{{service.unq}}" #nameControl="ngModel" [(ngModel)]="service.name">
                                  <option>Select Service type</option>
                                  <option *ngFor="let item of items"  [value]="item.code">{{item.name}}</option>
                                </select>
                                <div *ngIf="service.fetchingDrug" class="loader-bubble loader-bubble-primary m-1"></div>
                              <p *ngIf="service.error" class="form-text text-danger"><i class="fa fa-close"></i> {{service.error}}</p>
                            </td>
                            <td>
                              <input class="form-control" #nameControl="ngModel" [(ngModel)]="service.description"
                                name="description_{{service.unq}}" placeholder="Description" type="text">
                            </td> 
                            <td>
                              <input class="form-control" #nameControl="ngModel" [(ngModel)]="service.cost" name="cost_{{service.unq}}"
                                readonly placeholder="Price" type="number">
                                 
                            </td>
          
          
                            <td>
                              <button class="btn btn-sm btn-danger" (click)="removeService(i)"> <i
                                  class="fa fa-trash-o"></i></button>
                            </td>
                          </tr>
                          <tfoot>
                            <tr>
                              <td colspan="3">
                                <button class="btn btn-sm btn-default" type="button" (click)="addServices()"><i class="fa fa-plus"></i> Add
                                  More</button>
                              </td>
                              <td><strong class="bolder">Total: {{totalServiceAmount | currency:'&#8358;' }}</strong></td>
                            </tr>
                          </tfoot>
                        </table>
                        <!--  <ng-template ngFor let-drug [ngForOf]="form.drugs" let-index="index" let-isLast="last">
                
             </ng-template> -->
                         
          
                        <div class="col-md-12">
                          <btn-loading btnClass="btn-primary btn-rounded float-right" (click)="processServiceForm(serviceForm)" [type]="'submit'" [disabled]="waiting"
                            [loading]="waiting" >Submit</btn-loading>
                          <div class="mt-3 text-center" *ngIf="isClaim">
                            <a href="javascript:;" class="text-muted" (click)="back(2)"><u>Back</u></a>
                          </div>
                        </div>
          
                      </div>
                      <!--Drug and Service Rendered Forms ends here-->
                    </form>
            </div>
           
    
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <app-loader [isLoadingData]="waiting"></app-loader>