<div class="col-md-12 mb-3">
    <div class="d-flex mb-2 float-right">
        <button class="btn btn-outline-primary m-1 btn-rounded" (click)="open(modalUpload)"><i class="fa fa-upload"> </i> Upload Staff</button>
    </div>
 </div>
<app-staff-list
[items]="items" 
[role]="userRole"
[waiting]="waiting" 
(reloadit)="refresh($event)"
(filterAction)="init($event)">
</app-staff-list>

<ng-template #modalUpload let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> 
     Upload {{item.orgName}} Staff 
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
        <form role="form" #f="ngForm" (ngSubmit)="uploadEnrollee()">
               
            <div class="form-group"  [ngClass]="{
              'has-danger': id.invalid && (id.dirty || id.touched),
              'has-success': id.valid && (id.dirty || id.touched)
          }">
          <label>Plan</label>
          <select class="custom-select" name="id" #id="ngModel" id="inputGroupSelect01" [(ngModel)]="item.id">
              <option selected>Select Plan</option>
              <option *ngFor="let package of packages" [value]="package.id">
                {{package.name}}
              </option>
            </select>
            <div class="form-control-feedback" *ngIf="id.errors && (id.dirty || id.touched)">
              <p *ngIf="id.errors.required" class="text-danger">This field is required</p>
            </div>
          </div>

          <div class="form-group">
            <label for="healthcare_file">Please select the file you want to upload </label>
            <div class="input-group mb-3">
                           
                <div class="custom-file">
                    <input type="file" accept=".csv" class="custom-file-input" id="healthcare_file" #uploader (change)="onUploadFileChange($event)" aria-describedby="logodescription">
                    <label class="custom-file-label" for="healthcare_file">{{filename}}</label>
                </div>
                <small class="form-text" style="width:100%;" *ngIf="waiting">
                    <div class="loader-bubble loader-bubble-light m-2"></div>
                </small>
              </div>
          </div> 
            <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting">{{waiting ? 'Processing':'Upload'}}</btn-loading>
     
            </form>
    </div>
    
  </ng-template>