<div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex mb-1"> 

        <button class="btn btn-outline-primary btn-rounded m-1"
          (click)="open(modalSelectHospital)"><i class="i-Add-User"></i> New Post Category</button>
       
      </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
           
           
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                  No post category<br/>
                    <button class="btn btn-outline-primary btn-sm btn-rounded m-1"  (click)="open(modalSelectHospital)"> Create</button>
                </p>
            </div>
        </div>
      <div class="card o-hidden" *ngIf="items?.length > 0">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                  <tr> 
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let item of items | grdFilter: {category: searchText}; let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{item.category}}</td> 
                        <td> 
                           <button  (click)="open(modalSelectHospital,item)" ngbTooltip="Edit Post Category " type="button" class="btn btn-sm btn-success">
                              <span class=" label label-success">  <i class="fa fa-edit"></i></span>
                           </button> &nbsp;&nbsp;
      
                           <button  (click)="remove(item, deleteConfirmModal)" ngbTooltip="Delete Post Category " type="button" class="btn btn-sm btn-danger">
                              <span class=" label label-danger">  <i class="fa fa-trash"></i></span>
                           </button>
                        </td>
      
                    </tbody>
                </table>
          </div>
          
        <div class="col-md-12">
            <div class="col-md-4 float-left">
              <p>{{getPageInfoDescription()}}</p>
            </div>
            <div class="col-md-6 float-right">
              <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true"
                [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page"
                aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>
      </div>
    </div>

  </div>
  <app-loader [isLoadingData]="waiting"></app-loader>
  <ng-template #modalSelectHospital let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{!edit ? 'Create New Post Category': 'Update Post Category'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           
              <form #f="ngForm" (ngSubmit)="!edit ? createCategory(f) : updateCategory(f)">
                  <div class="form-group mb-2"  [ngClass]="{
                    'has-danger': category.invalid && (category.dirty || category.touched),
                    'has-success': category.valid && (category.dirty || category.touched)
                }">
                <label for="category"> Post Category</label>
                  <input type="text" class="form-control" name="category" placeholder="Category Name" [(ngModel)]="item.category"
                    required #category="ngModel">
                    <small class="form-text text-danger" *ngIf="category.errors?.required && (category.dirty || category.touched)">This field is required</small>
    
                </div>
                 
              </form>
            
      </div>
      <div class="modal-footer">
          <btn-loading  
          [btnClass]="'btn btn-rounded btn-outline-dark'" 
          [loading]="waiting" 
          [type]="'button'"
          [disabled]="waiting"
          [loadingText]="'Loading...'"
          (click)="!edit ? createCategory(f) : updateCategory(f)">
            <i class="i-Add-User"></i> Save
          </btn-loading>
            </div>
    </ng-template>

    <ng-template #deleteConfirmModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Post Category Delete</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure?</strong></p> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>