<div class="">
    <div class="breadcrumb">
        <h1>Bank Account Setting</h1>
        <ul>
            <li><a href="">Settings</a></li>
            <li>Bank Setting</li>
        </ul>
    </div>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row row-xs">
    <div class="col-md-8 offset-md-2">
        <app-bank-account-setup [isSaving]="isSaving" (bankAction)="saveBankDetails($event)"></app-bank-account-setup>
    </div>
</div>