<div class="breadcrumb">
        <h1>Health Tips</h1>
    </div>
    
    <div class="separator-breadcrumb border-top"></div>
    
    <div class="">
       <app-health-tips-list
       [items]="items"
       [waiting]="waiting">
    </app-health-tips-list>
    </div>
    