<div class="card o-hidden" [@animate]="{
  value: '*',
  params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
}">
    <div class="row">
        <div class="col-md-12">
            <div class="p-4">
                <div class="auth-logo text-center mb-4">
                    <img src="assets/images/logo.png" alt="" />
                </div>
                <h1 class="mb-3 text-18">{{tip}}</h1>
                <form [formGroup]="verificationForm" (ngSubmit)="submit()">
                    <p *ngIf="successText" [ngClass]="{'alert alert-success text-center': isSuccess,'alert alert-danger text-center': !isSuccess}">{{successText}}</p>

                    <div [hidden]="isPin">
                        <div class="form-group group-icon" [ngClass]="{
            'has-error':
              verificationForm.get('pin').errors &&
              verificationForm.get('pin').touched
          }">
                            <input type="text" class="form-control form-control-rounded" formControlName="pin" placeholder="pin" />

                            <small class="text-danger" *ngIf="
              verificationForm.get('pin').hasError('required') &&
              verificationForm.get('pin').touched
            ">
            Confirmation code is required
          </small>
                            <span class="icon-envelope text-muted icon-input"></span>
                        </div>
                        <button type="button" (click)="showPassword()" class="btn btn-primary btn-block mt-3 btn-rounded"><i class="fa fa-arrow-right"></i> Go</button>
                    </div>
                    <div [hidden]="isPassword">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" class="form-control form-control-rounded" formControlName="password" type="password" placeholder="Password" />
                            <small class="help-block text-danger" *ngIf="verificationForm.get('password').hasError('required') && verificationForm.get('password').touched">
                  Password field is required
                </small>
                            <small class="text-danger" *ngIf="verificationForm.get('password').hasError('invalidpassword') &&  verificationForm.get('password').touched">
                  Password must contain at least one Uppercase letter, digits and special character (@1!#$)
                </small>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': verificationForm.get('confirmpassword').errors && verificationForm.get('confirmpassword').touched}">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" placeholder="Confirm Password" class="form-control form-control-rounded" formControlName="confirmpassword">
                            <span class="help-block" *ngIf="verificationForm.get('confirmpassword').hasError('required') &&  verificationForm.get('confirmpassword').touched">
                  This field can't be blank
                </span>
                            <small class="help-block text-danger" *ngIf="verificationForm.errors?.mismatch">
                  Password do not match
                </small>
                        </div>
                        <btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="'Loading'" [loading]="loading" [disabled]="!verificationForm.valid || loading">
                            Create
                        </btn-loading>
                    </div>
                </form>
                <div class="mt-3 text-center" *ngIf="isPin">
                    <a href="javascript:;" class="text-muted" (click)="back()"><u>Back</u></a>
                </div>
            </div>
        </div>

    </div>
</div>