<div class="">
  <div class="breadcrumb">
    <h1>Tariff Category</h1>
    <ul>
      <li><a [routerLink]="['/systemadmin/dashboard']">Dashboard </a></li>

    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12 mb-1">
      <div class="d-flex mb-2">
       
      </div>
    </div>

    <div class="col-md-8">
     
          <div class="card mb-2">
              <div   class="card-body">
                  <form #f="ngForm" (ngSubmit)="submit(f)">

                <div class="row row-xs">
                   
   
                  <div class="col-md-9">

                      <input class="form-control" id="category" name="category" required #category="ngModel"
                      [(ngModel)]="item.category" placeholder="Tariff Category Name">
                    <small class="form-text text-danger"
                      *ngIf="category.errors?.required && (category.dirty || category.touched)">This field is required</small>
            
                    </div>
                
                  <div class="col-md-3 mt-3 mt-md-0">
                      <btn-loading [btnClass]="'btn btn-outline-primary btn-rounded'" [loading]="waiting" [type]="'submit'" [disabled]="waiting || !f.valid"
                      [loadingText]="'Loading...'" (click)="submit(f)">
                      Create
                    </btn-loading>
                      </div>
                     
                </div>
              </form>
              </div>
            </div> 
      <div class="card  o-hidden">
        <div class="table-responsive">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>

                <th scope="col">Category</th>
                <th scope="col">Number of Tariffs</th>

                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let i= index">

                <td>
                  {{item.category}}
                </td>
                <td>
                  {{item.countDrugList}} / {{item.countTariffList}}
                </td>

                <td>
                  <button class="btn btn-sm btn-rounded btn-outline-success"
                    (click)="gotoRoute('hmo/configuration/tariff-category',item.uid, 'tariff')"><i class="i-Eye"></i>
                    View Tariffs</button>
                  <button class="btn btn-sm btn-rounded btn-outline-danger" (click)="deleteInvoice(4, deleteConfirmModal)">
                    <i class="i-Remove"></i> Delete
                  </button>
                  <button class="btn btn-sm btn-rounded btn-outline-secondary" (click)="deleteInvoice(4, deleteConfirmModal)">
                      <i class="i-Edit"></i> Edit
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-5 float-left">
            <p>{{getPageInfoDescription()}}</p>
          </div>
          <div class="col-md-4 float-right">
            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [boundaryLinks]="true"
              [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page"
              aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-loader [isLoadingData]="waiting"></app-loader>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete Record</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded"
      (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')">Ok</button>
  </div>
</ng-template>

<ng-template #modalTariffCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isEdit ? 'Edit Tariff Category' : 'Add Tariff Category'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form #f="ngForm" (ngSubmit)="submit(f)">

      <div class=" form-group mb-3" [ngClass]="{
              'text-danger': category.invalid && (category.dirty || category.touched),
              'text-success': category.valid && (category.dirty || category.touched) }">
        <label for="category">Category Name </label>
        <input class="form-control" id="category" name="category" required #category="ngModel"
          [(ngModel)]="item.category" placeholder="Tariff Category Name">
        <small class="form-text text-danger"
          *ngIf="category.errors?.required && (category.dirty || category.touched)">This field is required</small>

      </div>

    </form>
  </div>
  <div class="modal-footer">
    <btn-loading [btnClass]="'btn-outline-dark'" [loading]="waiting" [type]="'button'" [disabled]="waiting"
      [loadingText]="'Loading...'" (click)="submit(isEdit)">
      Send
    </btn-loading>
  </div>
</ng-template>