<div class="row" *ngIf="items?.length > 0">
    <div class="col-lg-12 animated fadeIn" *ngFor="let item of items" >
        <div class="card card-ecommerce-3 o-hidden mb-4" >
            <div class="d-flex">
                <div class=""><img alt="" class="card-img-left" src="{{item?.eventFlyer}}"></div>
                <div class="flex-grow-1 p-4">
                    <h5 class="m-0 font-weight-bold text-muted">{{item?.title}}</h5>
                    <p class="m-0 text-small text-muted">Posted By {{item?.author}}</p>
                    <p class="m-0 text-muted">Published On {{item?.dateCreated | date:'medium'}} </p>
                    <p class="text-muted mt-3" [innerHtml]="item.description | excerpt:500 : false : '....'"></p>
                    <div class="actions float-right"> 
                        <button class="btn btn-outline-primary" (click)="role === 'HMO' ? gotoRoute('/hmo/media/event',item.id, item.slug) : gotoRoute('/enrollee/events',item.id,item.slug)">
                         <i class="icon i-Add-Cart" ></i> Read More
                        </button>
                        <button class="btn btn-outline-success" *ngIf="role==='HMO'" (click)=" gotoRoute('/hmo/media/event',item.id, item.slug)">
                          <i class="icon i-Edit" ></i> Edit
                         </button>
                         <button class="btn btn-outline-danger"  *ngIf="role==='HMO'" (click)="gotoRoute('/hmo/media/event',item.id, item.slug)">
                          <i class="icon i-Add-Cart" ></i> Delete
                         </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <div class="col-md-12 mt-4">
        <div class="col-md-5 float-left">
            <p>{{getPageInfoDescription()}}</p>
        </div>
        <div class="col-md-4 float-right">
            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [boundaryLinks]="true"
                [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page"
                aria-label="Default pagination"></ngb-pagination>
        </div>
    </div>
</div> 

        <div *ngIf="items?.length === 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16 text-danger">
                    No event and program yet<br />
                    <button *ngIf="role === 'HMO'" class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="goTo('/hmo/media/event/create')"> Create Event</button>
                </p>
            </div>
        </div>


<app-loader [isLoadingData]="waiting"></app-loader>