<div class="">
    <div class="breadcrumb row">
        <h1>Events</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="breadcrumb row">
        <div class="col-md-12">
        <h4>New Events</h4>
    </div>

    <div class="col-lg-6">
      <div class="card card-ecommerce-3 o-hidden mb-4">
        <div class="d-flex">
          <div class="">
            <img class="card-img-left" src="./assets/images/photo-wide-1.jpg" alt="">
          </div>
          <div class="flex-grow-1 p-4">
            <h5 class="m-0 font-weight-bold text-muted">Event Title</h5>
            <p class="m-0 text-small text-muted">By ABC Cafe</p>
            <p class="m-0">Zone Tech Park</p>
            <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Nesciunt placeat esse tempore debitis.</p>
            <div class="actions">
              <button class="btn btn-sm rounded-circle btn-icon btn-outline-primary" (click)="open(viewEvents)">
                <i class="icon i-Eye"></i>
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="breadcrumb row">
        <div class="col-md-12">
        <h4>Registered Events</h4>
    </div>

    <div class="col-lg-6">
      <div class="card card-ecommerce-3 o-hidden mb-4">
        <div class="d-flex">
          <div class="">
            <img class="card-img-left" src="./assets/images/photo-wide-1.jpg" alt="">
          </div>
          <div class="flex-grow-1 p-4">
            <h5 class="m-0 font-weight-bold text-muted">Event Title</h5>
            <p class="m-0 text-small text-muted">By ABC Cafe</p>
            <p class="m-0">Zone Tech Park</p>
            <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Nesciunt placeat esse tempore debitis.</p>
            <div class="actions">
              <button class="btn btn-sm rounded-circle btn-icon btn-outline-primary" (click)="open(viewEvents)">
                <i class="icon i-Eye"></i>
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </div>



<ng-template #viewEvents let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Event Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    	<img src="assets/images/cardbg/benefitsCard.jpg">
    	<div class="mt-3">
    		<h6>Lagos, Nigeria.</h6>
    	</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam voluptate eveniet. Ipsum, vero similique?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam voluptate eveniet. Ipsum, vero similique?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam voluptate eveniet. Ipsum, vero similique?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam voluptate eveniet. Ipsum, vero similique?</p>
        <form #f="ngForm" (ngSubmit)="fundAccount()" *ngIf="eventRegister">
            <div class="form-group">
                <label for="amount">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="description">E-mail</label>
                    <input type="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Phone Number</label>
                    <input type="text" class="form-control" required>
            </div>
    	<button class="btn btn-primary btn-rounded" (click)= "eventRegister = !eventRegister">Register</button>
        </form>

    </div>
    <div class="modal-footer">

    	<button class="btn btn-outline-primary" (click)= "eventRegister = !eventRegister">Register for Event</button>

    </div>
</ng-template>