<div class="">
  <div class="breadcrumb">
    <h1>Tariff</h1>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
  
      <div class="col-md-12">
        <div class="card mb-4">
          <ngb-tabset #t="ngbTabset" (tabChange)="beforeChange($event)">
            <ngb-tab id="tab-service" title="Services Tariff">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="d-flex mb-1">
                        <button class="btn btn-outline-danger btn-rounded m-1" ngbPopover="Download the sample template for uploading the tariff. Kindly download, edit and upload it back to the system"
                        triggers="mouseenter:mouseleave" popoverTitle="Sample Template Description"
                        (click)="download()"><i class="i-File-Download"></i>Download Template</button>

                      <button class="btn btn-outline-primary btn-rounded m-1"
                        (click)="open(modalServiceupload,false)"><i class="i-Upload1"></i>Upload Tariff</button>

                        <button class="btn btn-outline-primary btn-rounded m-1"
                        (click)="open(modalServicecreate,false)">New  Service Tariff</button>
                     
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="card  o-hidden" *ngIf="!waiting">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                               
                              <th scope="col">Code</th>
                              <th scope="col">Service</th>
                              <th scope="col">Description</th>
                              <th scope="col">Category</th>
                              <th scope="col">Price</th>
                              <th scope="col">Date Created</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of items">
                              
                              <td>
                                  {{item.code}}
                              </td>
                              <td>
                                {{item.serviceName}}
                              </td>
                              <td>
                                {{item.description}}
                              </td>
                              <td>
                                 {{item.categoryName}}
                              </td>
                              <td>
                               {{item.price | currency:'&#8358;'}}
                              </td>
                              <td>
                                {{item.dateCreated | date:'medium'}}
                              </td>
                              <td>
                                <a>
                                  <button (click)="open(modalServicecreate,false,item)" class="btn btn-rounded btn-outline-secondary mr-2">
                                    Edit
                                  </button>
                                  <button (click)="remove(deleteConfirmModal,false,item)" class="btn btn-rounded btn-outline-danger">
                                      Delete
                                    </button>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-12">
                          <div class="col-md-4 float-left">
                            <p>{{getPageInfoDescription()}}</p>
                          </div>
                          <div class="col-md-6 float-right">
                            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true"
                              [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page"
                              aria-label="Default pagination"></ngb-pagination>
                          </div>
                        </div>
                    </div>
                  </div>

                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-drug">
              <ng-template ngbTabTitle>Drug Tariff</ng-template>
              <ng-template ngbTabContent>
                  <div class="row" >
                      <div class="col-md-12 mb-3">
                        <div class="d-flex mb-3">
                          
                            <button class="btn btn-outline-danger btn-rounded m-1" ngbPopover="Download the sample template for uploading the tariff. Kindly download, edit and upload it back to the system"
                            triggers="mouseenter:mouseleave" popoverTitle="Sample Template Description"
                            (click)="downloadDrug()"><i class="i-File-Download"></i>Download Template</button>
    
                          <button class="btn btn-outline-primary btn-rounded m-1"
                            (click)="open(modalServiceupload,true)"><i class="i-Upload1"></i>Upload Tariff Bulk list</button>
                          
                            <button class="btn btn-outline-primary btn-rounded m-1"
                            (click)="open(modalServicecreate,true)">New Drug Tariff</button>
                             
                        </div>
                        
                      </div>
                      <div class="row col-md-12 col-sm-12 mb-3">
                          <div class="col-md-3">
                              <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filter.category" (change)="getDrugTariff()">
                                <option selected [value]="''">Filter By status</option>
                                <option [value]="'Anathentics'">
                                  Anathentics
                                </option>
                              </select>
                            </div>
  
                            <div class="col-md-3">
                                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filter.category" (change)="getDrugTariff()">
                                  <option selected>Filter By status</option>
                                  <option [value]="'Anathentics'">
                                    Anathentics
                                  </option>
                                </select>
                              </div>
  
                              <div class="col-md-3">
                                  <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filter.category" (change)="getDrugTariff()">
                                    <option selected>Filter By status</option>
                                    <option [value]="'Anathentics'">
                                      Anathentics
                                    </option>
                                  </select>
                                </div>
                      </div>
                      <div class="col-md-12">
                        <div class="card  o-hidden" *ngIf="!waiting">
                          <div class="table-responsive" >
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                   
                                  <th scope="col">Category</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Code</th>
                                  <th scope="col">Dosage Form</th>
                                  <th scope="col">Strengths</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Date Created</th>
                                  <th scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of items">
                                 <td>
                                        {{item.category}}
                                 </td>
                                 
                                  <td>
                                      {{item.name}}
                                  </td>
                                  <td>
                                      {{item.code}}
                                  </td>
                                  <td>
                                    {{item.dosageForm}}
                                  </td>
                                  <td>
                                     {{item.strengths}}
                                  </td>
                                  <td>
                                   {{item.price | currency:'&#8358;'}}
                                  </td>
                                  <td>
                                    {{item.dateCreated | date:'medium'}}
                                  </td>
                                  <td>
                                    <a>
                                      <button (click)="open(modalServicecreate,true,item)" class="btn btn-rounded btn-outline-secondary mr-2">
                                        Edit
                                      </button>
                                      <button (click)="remove(deleteConfirmModal,true,item)" class="btn btn-rounded btn-outline-danger">
                                          Delete
                                        </button>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-12">
                              <div class="col-md-4 float-left">
                                <p>{{getPageInfoDescription()}}</p>
                              </div>
                              <div class="col-md-6 float-right">
                                <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true"
                                  [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page"
                                  aria-label="Default pagination"></ngb-pagination>
                              </div>
                            </div>
                        </div>
                      </div>
    
                    </div>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
   

    
  </div>
</div>

<app-loader [isLoadingData]="waiting"></app-loader>

<ng-template #modalServiceupload let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{isDrug ? 'Upload Drugs Tariff' : 'Upload Service Tariff'}}</h4>
      <button category="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="form-group">
          <label for="healthcare_file">Please select the file you want to upload </label>
          <div class="input-group mb-3">
                         
              <div class="custom-file">
                  <input category="file" accept=".csv" type="file" class="custom-file-input" id="healthcare_file" #uploader (change)="onFileChange($event)" aria-describedby="logodescription">
                  <label class="custom-file-label" for="healthcare_file">{{filename}}</label>
              </div>
              <small class="form-text" style="width:100%;" *ngIf="waiting">
                  <div class="loader-bubble loader-bubble-light m-2"></div>
              </small>
            </div>
        </div>
         
      </form>
    </div>
    <div class="modal-footer">
        <btn-loading  
        [btnClass]="'btn btn-rounded btn-outline-dark'" 
        [loading]="waiting" 
        [type]="'button'"
        [disabled]="waiting"
        [loadingText]="'Loading...'"
        (click)="submit()">
          <i class="i-Upload1"></i> Upload
        </btn-loading>
          </div>
  </ng-template>


<ng-template #modalServicecreate let-modal>
    <div class="modal-header">
      <h4  *ngIf="!isEdit" class="modal-title" id="modal-basic-title">
        {{isDrug ? 'Create Drugs Tariff' : 'Create Service Tariff'}}
      </h4>
      <h4  *ngIf="isEdit" class="modal-title" id="modal-basic-title">
          {{isDrug ? 'Update Drugs Tariff' : 'Update Service Tariff'}}
        </h4>
      <button category="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"> 
      <form #f="ngForm" (ngSubmit)="isEdit ? update(f) : create(f)">
          <div class=" form-group mb-3" [ngClass]="{
            'text-danger': code.invalid && (code.dirty || code.touched),
            'text-success': code.valid && (code.dirty || code.touched) }">
              <label for="code">Code </label>
              <input class="form-control" id="code" name="code" required #code="ngModel" [(ngModel)]="item.code" placeholder="Code">
              <small class="form-text text-danger" *ngIf="code.errors?.required && (code.dirty || code.touched)">This field is required</small>

            </div>
            <div class="  form-group mb-3" [ngClass]="{
              'text-danger': categoryId.invalid && (categoryId.dirty || categoryId.touched),
              'text-success': categoryId.valid && (categoryId.dirty || categoryId.touched) }">
                <label for="categoryId"> Tariff Category</label>
                <select class="form-control" id="categoryId" name="tariffCategoryId" required #categoryId="ngModel" [(ngModel)]="item.tariffCategoryId">
                    <option [ngValue]="0"> Select tariff Category </option>
                  <option *ngFor="let cat of categories" [ngValue]="cat.id"> {{cat.name}} </option>
                    
                     
                </select>
                <small class="form-text text-danger" *ngIf="categoryId.errors?.required && (categoryId.dirty || categoryId.touched)">This field is required</small>

            </div>
            <div class=" form-group mb-3" [ngClass]="{
              'text-danger': price.invalid && (price.dirty || price.touched),
              'text-success': price.valid && (price.dirty || price.touched) }">
                <label for="price">Price</label>
                <input class="form-control" id="price" name="price" required #price="ngModel" [(ngModel)]="item.price" placeholder="Price">
                <small class="form-text text-danger" *ngIf="price.errors?.required && (price.dirty || price.touched)">This field is required</small>

              </div>
        <div *ngIf="!isDrug">
           
              <div class=" form-group mb-3" [ngClass]="{
                'text-danger': serviceName.invalid && (serviceName.dirty || serviceName.touched),
                'text-success': serviceName.valid && (serviceName.dirty || serviceName.touched) }">
                  <label for="serviceName">Service </label>
                  <input class="form-control" id="serviceName" name="serviceName" required #serviceName="ngModel" [(ngModel)]="item.serviceName" placeholder="Service Name">
                  <small class="form-text text-danger" *ngIf="serviceName.errors?.required && (serviceName.dirty || serviceName.touched)">This field is required</small>
  
                </div>
 
                <div class=" form-group mb-3" [ngClass]="{
                  'text-danger': description.invalid && (description.dirty || description.touched),
                  'text-success': description.valid && (description.dirty || description.touched) }">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" name="description" required #description="ngModel" [(ngModel)]="item.description" placeholder="Description">
                    <small class="form-text text-danger" *ngIf="description.errors?.required && (description.dirty || description.touched)">This field is required</small>
    
                  </div>
               
        </div>
        <div *ngIf="isDrug">
          
            
              <div class=" form-group mb-3" [ngClass]="{
                'text-danger': name.invalid && (name.dirty || name.touched),
                'text-success': name.valid && (name.dirty || name.touched) }">
                  <label for="name">Name </label>
                  <input class="form-control" id="name" name="name" required #name="ngModel" [(ngModel)]="item.name" placeholder=" Name">
                  <small class="form-text text-danger" *ngIf="name.errors?.required && (name.dirty || name.touched)">This field is required</small>
  
                </div>

                <div class=" form-group mb-3" [ngClass]="{
                  'text-danger': category.invalid && (category.dirty || category.touched),
                  'text-success': category.valid && (category.dirty || category.touched) }">
                    <label for="category">Category </label>
                    <input class="form-control" id="category" name="category" required #category="ngModel" [(ngModel)]="item.category" placeholder="Category">
                    <small class="form-text text-danger" *ngIf="category.errors?.required && (category.dirty || category.touched)">This field is required</small>
    
                  </div>
                  <div class=" form-group mb-3" [ngClass]="{
                    'text-danger': subCategory.invalid && (subCategory.dirty || subCategory.touched),
                    'text-success': subCategory.valid && (subCategory.dirty || subCategory.touched) }">
                      <label for="subCategory">Sub Category </label>
                      <input class="form-control" id="subCategory" name="subCategory" required #subCategory="ngModel" [(ngModel)]="item.subCategory" placeholder="Sub Category">
                      <small class="form-text text-danger" *ngIf="subCategory.errors?.required && (subCategory.dirty || subCategory.touched)">This field is required</small>
      
                    </div>

                    <div class=" form-group mb-3" [ngClass]="{
                      'text-danger': dosageForm.invalid && (dosageForm.dirty || dosageForm.touched),
                      'text-success': dosageForm.valid && (dosageForm.dirty || dosageForm.touched) }">
                        <label for="dosageForm">Dosage Form  </label>
                        <input class="form-control" id="dosageForm" name="dosageForm" required #dosageForm="ngModel" [(ngModel)]="item.dosageForm" placeholder="Dosage Form">
                        <small class="form-text text-danger" *ngIf="dosageForm.errors?.required && (dosageForm.dirty || dosageForm.touched)">This field is required</small>
        
                      </div>
    
               
                <div class=" form-group mb-3" [ngClass]="{
                  'text-danger': strengths.invalid && (strengths.dirty || strengths.touched),
                  'text-success': strengths.valid && (strengths.dirty || strengths.touched) }">
                    <label for="strengths">Strengths</label>
                    <input class="form-control" id="strengths" name="strengths" required #strengths="ngModel" [(ngModel)]="item.strengths" placeholder="Strengths">
                    <small class="form-text text-danger" *ngIf="strengths.errors?.required && (strengths.dirty || strengths.touched)">This field is required</small>
    
                  </div>

                  <div class=" form-group mb-3" [ngClass]="{
                    'text-danger': presentation.invalid && (presentation.dirty || presentation.touched),
                    'text-success': presentation.valid && (presentation.dirty || presentation.touched) }">
                      <label for="presentation">Presentation</label>
                      <input class="form-control" id="presentation" name="presentation" required #presentation="ngModel" [(ngModel)]="item.presentation" placeholder="Presentation">
                      <small class="form-text text-danger" *ngIf="presentation.errors?.required && (presentation.dirty || presentation.touched)">This field is required</small>
      
                    </div>
               
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <btn-loading  
        [btnClass]="'btn btn-rounded btn-outline-dark'" 
        [loading]="waiting" 
        [type]="'button'"
        [disabled]="waiting"
        [loadingText]="'Loading...'"
        (click)="isEdit ? update(f) : create(f)">
          <i class="i-Upload1"></i> Save
        </btn-loading>
          </div>
  </ng-template>

  <ng-template #deleteConfirmModal let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Delete Confirm</h4>
          <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <p><strong>You cannot retrieve this record once it deleted, Do you want to proceed?</strong></p> 
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
          <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
      </div>
  </ng-template>