<div class="breadcrumb">
  <h1>Users</h1>
  <ul>
      
      <li>Create</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
 
  <div class="col-md-12 animated fadeIn">
      <div class="card mb-4">
          <div class="card-body">
              <div class="card-title mb-3">Create New Hospital</div>
              <form #f="ngForm" (ngSubmit)="submit(f)">
                  <div class="row">
                      <div class="col-md-6 form-group mb-3" >
                          <label for="name">Hospital Name *</label>
                            <ng-select [items]="healthcares$ | async" bindLabel="name" bindValue="name"
                              [multiple]="false" [hideSelected]="false" placeholder="Search Hospital"
                              [loading]="people3Loading" [(ngModel)]="item.providerName" [typeahead]="textinput$" name="providerName">
                            </ng-select>
                          
                      </div>

                      <div class="col-md-6 form-group mb-3"[ngClass]="{
                        'text-danger': providerEmail.invalid && (providerEmail.dirty || providerEmail.touched),
                        'text-success': providerEmail.valid && (providerEmail.dirty || providerEmail.touched)
                    }">
                          <label for="email">Official Email *</label>
                          <input type="email" class="form-control" id="email" required #providerEmail="ngModel" name="providerEmail" [(ngModel)]="item.providerEmail" placeholder="Active Hospital email address">
                          <small class="form-text text-danger" *ngIf="providerEmail.errors?.required && (providerEmail.dirty || providerEmail.touched)">This field is required</small>

                      </div>

                      <div class="col-md-6 form-group mb-3" [ngClass]="{
                        'text-danger': providerPhone.invalid && (providerPhone.dirty || providerPhone.touched),
                        'text-success': providerPhone.valid && (providerPhone.dirty || providerPhone.touched) }">
                          <label for="phone">Official Phone Number *</label>
                          <input type="number" min="0"  class="form-control" id="phone" name="providerPhone" required #providerPhone="ngModel" [(ngModel)]="item.providerPhone" aria-describedby="phone"
                              placeholder="Enter Phone number">
                              <small class="form-text text-danger" *ngIf="providerPhone.errors?.required && (providerPhone.dirty || providerPhone.touched)">This field is required</small>

                          </div>
                      <div class="col-md-6 form-group mb-3" [ngClass]="{
                        'text-danger': providerState.invalid && (providerState.dirty || providerState.touched),
                        'text-success': providerState.valid && (providerState.dirty || providerState.touched) }">
                          <label for="state"> Select State  *</label>
                          <select class="form-control" id="state" name="providerState" required #providerState="ngModel" [(ngModel)]="item.providerState">
                              <option>States list</option>
                              <option *ngFor="let state of states|sort:'name'" value="{{state.name}}">{{state.name}}</option>
                         
                          </select>
                          <small class="form-text text-danger" *ngIf="providerState.errors?.required && (providerState.dirty || providerState.touched)">This field is required</small>

                      </div>
                      <div class="col-md-6 form-group mb-3" [ngClass]="{
                        'text-danger': providerAddress.invalid && (providerAddress.dirty || providerAddress.touched),
                        'text-success': providerAddress.valid && (providerAddress.dirty || providerAddress.touched) }">
                          <label for="address">Nearest Map Address *</label>
                          <input class="form-control" id="address" name="providerAddress" required #providerAddress="ngModel" [(ngModel)]="item.providerAddress"  autocorrect="off" autocapitalize="off" spellcheck="off"  #mapSearch placeholder="Office Address">
                          <small class="form-text text-danger" *ngIf="providerAddress.errors?.required && (providerAddress.dirty || providerAddress.touched)">This field is required</small>
                          <small class="form-text text-danger" *ngIf="mapAddressError">{{mapAddressError}}</small>

                        </div> 
                        <div class="col-md-6 form-group mb-3" [ngClass]="{
                        'text-danger': providerLocation.invalid && (providerLocation.dirty || providerLocation.touched),
                        'text-success': providerLocation.valid && (providerAddress.dirty || providerLocation.touched) }">
                          <label for="address">Office Address *</label>
                          <input class="form-control" id="address" name="providerLocation" required #providerLocation="ngModel" [(ngModel)]="item.providerLocation" placeholder="Office Address">
                          <small class="form-text text-danger" *ngIf="providerLocation.errors?.required && (providerLocation.dirty || providerLocation.touched)">This field is required</small>

                        </div> 
                      <div class="col-md-6 form-group mb-3">
                          <label for="logo">Official Logo</label> 
                      <div class="input-group mb-3">
                       
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" id="logo" #uploader (change)="onFileChange($event)" aria-describedby="logodescription">
                              <label class="custom-file-label" for="logo">{{filename ? filename : 'Choose file'}}</label>
                          </div>
                          <small class="form-text" style="width:100%;" *ngIf="waiting">
                              <div class="loader-bubble loader-bubble-light m-2"></div>
                          </small>
                        </div>
                        <input type="text" required [(ngModel)]="item.providerUrl" name="providerUrl" hidden class="form-control hidden"/>

                     </div>
                      <div class="col-md-6 form-group mb-3">
                          <label for="description">Brief description about your hospital</label>
                          <textarea id="description" name="businessDescription" #businessDescription="ngModel" [(ngModel)]="item.businessDescription" class="form-control"></textarea>
                         
                      </div>

                      <div class="col-md-12">
                          <btn-loading btnClass="btn-primary btn-rounded float-right" [loading]="waiting" [disabled]="!f.valid || waiting || mapAddressError">Submit</btn-loading>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

</div>


<ng-template #modalInvite let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Generate Referral Link</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
            <input type="email" class="form-control" id="email" required #sentTo="ngModel" name="sentTo" [(ngModel)]="item.sentTo" placeholder="Email Address">
            <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="icon-regular i-Mail"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
