<div class="">
  <div class="breadcrumb">
      <h1>Gateway Payment Setting</h1>
      <ul>
          <li><a href="">Settings</a></li>
          <li>Gateway Payment</li>
      </ul>
  </div>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row row-xs">
  <div class="col-md-8 offset-md-2">
      <app-payment-gateway-config [isSaving]="isSaving" (save)="saveConfig($event)"></app-payment-gateway-config>
  </div>
</div>