.layout-sidebar-compact .sidebar-left .navigation-left .nav-item .nav-item-hold .nav-text {
    display: block !important;
}
.layout-sidebar-compact .sidebar-left .navigation-left .nav-item .nav-item-hold .nav-icon{
    font-size: 20px !important;
    height: 20px !important;
    width: 20px !important;
    display: block;
    margin: 0 auto;
}