<div class="">
    <div class="breadcrumb">
        <h1>Users</h1>
        <ul>
            <li><a [routerLink]="['/systemadmin/dashboard']">Dashboard </a></li>
            <li>Users</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex mb-5">
                <button class="  btn btn-outline-primary m-1 " [routerLink]="['/systemadmin/users/create']">Create Hmo</button>
            </div>
        </div>
        <div class="card col-md-12">
                <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">

 
                        <!-- Intro screen -->
                        <div class="app-inro-circle inbox-intro">
                            <div class="border rounded-circle big-bubble">
                                <i class="i-Dropbox"></i>
                            </div>
                            <p class="text-16">
                                No record to display<br/> 
                            </p>
                        </div>
                    </div>
            <div class="card-body row" *ngIf="items?.length> 0">
                <div class="col-md-4">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Filter By Role</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <p class="clickable-item text-muted" (click)="toggleFilter()"><i class="fa" [ngClass]="{'fa-angle-up':hideFilter, 'fa-angle-down':!hideFilter}"></i> Show advanced filters</p>
                    <form role="form" #f="ngForm" (ngSubmit)="setupPaginations()" *ngIf="hideFilter" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label>Name </label>
                                    <input id="email" placeholder="Search Enrollee or Health Care Provider" name="email" class="form-control form-control-rounded" type="email" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group">
                                    <label>Email </label>
                                    <input id="email" placeholder="Search Using Email" name="email" class="form-control form-control-rounded" type="email" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="float-right"> <button type="submit" class="btn btn-sm pull-right btn-primary">Search</button>
                                </div>
                            </div>
                            <div class="d-flex mb-1 float-right">
                                <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="setupPaginations()"> Search
                                </button>
                                <button class="btn btn-outline-danger btn-sm btn-rounded m-1" (click)="reloadComponent()">Reset </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card  o-hidden">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items; let i= index">
                                <td>
                                    {{item.name}}
                                    <p><code>{{item.phoneNumber}}</code></p>
                                </td>
                                <td>{{item.roleName}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.address}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary mr-3"><i class="i-Eye"></i></button>
                                    <button class="btn btn-sm btn-outline-danger" (click)="deleteInvoice(4, deleteConfirmModal)">
                                        <i class="i-Remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5 float-left">
                        <p>{{getPageInfoDescription()}}</p>
                    </div>
                    <div class="col-md-4 float-right">
                        <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader [isLoadingData]="waiting"></app-loader>
<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Invoice deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
</ng-template>