        /* Styles for hiding the native radio button */
        #withdrawCard{
            cursor: pointer;
        }
        .radioLabel {
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 1em;
            cursor: pointer;
            display: flex;
        }
        
        .radioLabel:hover {
            border: 2px solid #27621d;
        }
        
        .checkboxDetails {
            margin-left: 10px;
        }
        
        input[type='radio'].check-custom {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
            margin-right: 1em;
        }
        /* Styles for the basic appearance of the custom radio button */
        
        input[type='radio'].check-custom~.check-toggle {
            width: 24px;
            height: 24px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid #969696;
            border-radius: 50%;
            cursor: pointer;
        }
        /* Styles for the hover state appearance of the custom radio button */
        
        input[type='radio'].check-custom:hover~.check-toggle {
            border: 2px solid #27621d;
        }
        /* Styles for the focus state appearance of the custom radio button */
        
        input[type='radio'].check-custom:focus~.check-toggle {
            border-color: #b0d5ff;
            box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
        }
        /* Styles for the checked state appearance of the custom radio button */
        
        input[type='radio'].check-custom:checked~.check-toggle {
            border: 2px solid #27621d;
        }
        
        input[type='radio'].check-custom:checked .radioLabel:active {
            border: 2px solid #27621d;
        }
        /* Styles for the checked state appearance of the custom radio button */
        
        input[type='radio'].check-custom:checked~.check-toggle::after {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 40%;
            height: 40%;
            margin: auto;
            position: absolute;
            border-radius: 10%;
            background: #27621d;
        }
        
        .success-checkmark {
            width: 100px;
            height: 135px;
            margin: 0 auto;
            .check-icon {
                width: 80px;
                height: 80px;
                position: relative;
                border-radius: 50%;
                box-sizing: content-box;
                border: 4px solid #4CAF50;
                &::before {
                    top: 3px;
                    left: -2px;
                    width: 30px;
                    transform-origin: 100% 50%;
                    border-radius: 100px 0 0 100px;
                }
                &::after {
                    top: 0;
                    left: 30px;
                    width: 60px;
                    transform-origin: 0 50%;
                    border-radius: 0 100px 100px 0;
                    animation: rotate-circle 4.25s ease-in;
                }
                &::before,
                &::after {
                    content: '';
                    height: 100px;
                    position: absolute;
                    background: #FFFFFF;
                    transform: rotate(-45deg);
                }
                .icon-line {
                    height: 5px;
                    background-color: #4CAF50;
                    display: block;
                    border-radius: 2px;
                    position: absolute;
                    z-index: 10;
                    &.line-tip {
                        top: 46px;
                        left: 14px;
                        width: 25px;
                        transform: rotate(45deg);
                        animation: icon-line-tip 0.75s;
                    }
                    &.line-long {
                        top: 38px;
                        right: 8px;
                        width: 47px;
                        transform: rotate(-45deg);
                        animation: icon-line-long 0.75s;
                    }
                }
                .icon-circle {
                    top: -4px;
                    left: -4px;
                    z-index: 10;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    position: absolute;
                    box-sizing: content-box;
                    border: 4px solid rgba(76, 175, 80, .5);
                }
                .icon-fix {
                    top: 8px;
                    width: 5px;
                    left: 26px;
                    z-index: 1;
                    height: 85px;
                    position: absolute;
                    transform: rotate(-45deg);
                    background-color: #FFFFFF;
                }
            }
        }
        
        @keyframes rotate-circle {
            0% {
                transform: rotate(-45deg);
            }
            5% {
                transform: rotate(-45deg);
            }
            12% {
                transform: rotate(-405deg);
            }
            100% {
                transform: rotate(-405deg);
            }
        }
        
        @keyframes icon-line-tip {
            0% {
                width: 0;
                left: 1px;
                top: 19px;
            }
            54% {
                width: 0;
                left: 1px;
                top: 19px;
            }
            70% {
                width: 50px;
                left: -8px;
                top: 37px;
            }
            84% {
                width: 17px;
                left: 21px;
                top: 48px;
            }
            100% {
                width: 25px;
                left: 14px;
                top: 45px;
            }
        }
        
        @keyframes icon-line-long {
            0% {
                width: 0;
                right: 46px;
                top: 54px;
            }
            65% {
                width: 0;
                right: 46px;
                top: 54px;
            }
            84% {
                width: 55px;
                right: 0px;
                top: 35px;
            }
            100% {
                width: 47px;
                right: 8px;
                top: 38px;
            }
        }