<div class="">
    <div class="breadcrumb">
        <h1>Withdraw</h1>
        <ul>
            <li><a href="">Transfer</a></li>
            <li>Withdraw</li>
        </ul>
    </div>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row row-xs">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Withdraw</h5>
                <h6 class="card-subtitle text-danger danger_text">
                    This is the bank account that your payment is sent to whenever you decide to withdraw
                </h6>
                <br />
                <label for="exampleFormControlInput1">Bank Account Number</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="100,000" />
                <br />
                <label for="exampleFormControlSelect1">Select Your Bank</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Access Bank</option>
                    <option>Access Bank (Diamond)</option>
                </select>
                <br />
                <p>
                    <button class="btn btn-danger">Click to Verify Your Account</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12" (click)="open(bankChoice)" id="withdrawCard">
        <div class="card text-center">
            <div class="card-body">
                <!-- <label class="radioLabel">
                    <input type="checkbox" class="check-custom">
                    <span class="check-toggle"></span>
                    this is a check box dnmskgkjsgsjsjkjskssks
                  </label> -->
                <p>
                    <img src="/assets/images/icon/safebox.png">
                </p>
                <br />
                <h5 class="card-title">Withdraw to Saved bank</h5>
            </div>
        </div>
    </div>
</div>


<ng-template #bankChoice let-modal>
    <div class="modal-header">
        <h4 class="modal-title align-left" id="modal-basic-title">
            Select Bank for Withdrawal
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label class="radioLabel">
            <input type="radio" name="bank" class="check-custom">
            <span class="check-toggle"></span>
            <div class="checkboxDetails">
                <h5><b>Account No:</b> ***** 63761</h5>
                <div><b>Bank:</b> First Bank of Nigeria</div>
            </div>
        </label>
        <label class="radioLabel">
            <input type="radio" name="bank" class="check-custom">
            <span class="check-toggle"></span>
            <div class="checkboxDetails">
                <h5><b>Account No:</b> ***** 63761</h5>
                <div><b>Bank:</b> Fidelity Bank</div>
            </div>
        </label>
        <label class="radioLabel">
            <input type="radio" name="bank" class="check-custom">
            <span class="check-toggle"></span>
            <div class="checkboxDetails">
                <h5><b>Account No:</b> ***** 63761</h5>
                <div><b>Bank:</b> Access Bank</div>
            </div>
        </label>
    </div>
    <div class="modal-footer">
        <btn-loading (click)="modal.dismiss('Cross click'); opensm(confirm)" [btnClass]="'btn-dark btn-rounded'" [loading]="waiting" [type]="'button'" [disabled]="waiting || isUploading" [loadingText]="'Loading...'">
            Withdraw
        </btn-loading>
    </div>
</ng-template>


<ng-template #confirm let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
        <h3>Withdrawal Successful</h3>
    </div>
</ng-template>