<div class="">
    <div class="breadcrumb">
        <h1>Bank Account Setting</h1>
        <ul>
            <li><a href="">Settings</a></li>
            <li>Bank Setting</li>
        </ul>
    </div>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row row-xs">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Bank Settings</h5>
                <h6 class="card-subtitle  text-danger danger_text">
                    This is the bank account that your payment is sent to whenever you decide to withdraw
                </h6>
                <br />
                <label for="exampleFormControlInput1">Bank Account Number</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="100,000" />
                <br />
                <label for="exampleFormControlSelect1">Select Your Bank</label>
                <select class="form-control" id="exampleFormControlSelect1">
            <option>Access Bank</option>
            <option>Access Bank (Diamond)</option>
          </select>
                <br />
                <p>
                    <button class="btn btn-danger">Click to Verify Your Account</button>
                </p>
            </div>
        </div>
    </div>
</div>