.bg-img{
    background: linear-gradient(to right, #2f47c2, #2f47c2);
    border-radius: 10px;
}
#quickLinks #sub-link:hover{
    background: #faf8f8;
    border-radius: 10px;
    padding: 15px 0;
}
.outline-item{
	border: 2px solid #373c54;
    border-radius: 10px;
}