<div class="">
    <div class="breadcrumb">
        <h1>Home</h1>
        <ul>
            <li><a href="">System Admin</a></li>
            <li>Home</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-5">
            <h4>{{greeting}}</h4>
        </div>
        <div class="col-md-4 offset-md-3">
            <h4 class="float-right">{{time}}</h4>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title m-0">Users</div>
                            <p class="text-small text-muted">Metric of Users.</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
                                        <i class="fa fa-users text-32 mr-3"></i>
                                        <div>
                                            <h4 class="text-18 mb-1 text-white">HMOs</h4>
                                            <span>Total: {{counter?.hmo}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
                                        <i class="i-Building text-32 mr-3"></i>
                                        <div>
                                            <h4 class="text-18 mb-1 text-white">Organization</h4>
                                            <span>Total: {{counter?.provider}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <div class="p-4 border border-light rounded d-flex align-items-center">
                                        <i class="fa fa-users text-32 mr-3"></i>
                                        <div>
                                            <h4 class="text-18 mb-1">Enrollee</h4>
                                            <span>Total: {{counter?.enrollees}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="mb-0 text-muted">Subscription/Registration</h6>
                            <p class="text-24 font-weight-light mb-1">20/80</p>
                            <div echarts [options]="chartPie1" [autoResize]="true" style="height: 140px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="mb-2">Last 7 days traffic status</h6>
                            <p class="text-24 font-weight-light mb-1"><i class="i-Up text-success"></i> 15%</p>
                            <div echarts [options]="chartBar1" [autoResize]="true" style="height: 60px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="mb-2">Server failures</h6>
                            <p class="text-24 font-weight-light mb-1"><i class="i-Down text-danger"></i> 5%</p>
                            <div echarts [options]="chartBar1" [autoResize]="true" style="height: 60px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>