<div class="breadcrumb">
    <h1>Create Health Tips</h1>
</div>
<div class="row">
    <div class="col-md-9 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Health Tips</h5>
                <form role="form" #f="ngForm" (ngSubmit)="submitTips()">
                    <div class="form-group" [ngClass]="{
                  'has-danger': title.invalid && (title.dirty || title.touched),
                  'has-success': title.valid && (title.dirty || title.touched)
                   }">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title" [(ngModel)]="item.title" required #title="ngModel">
                        <div class="form-control-feedback" *ngIf="title.errors && (title.dirty || title.touched)">
                            <p *ngIf="title.errors.required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{
                'has-danger': blogCategoryId.invalid && (blogCategoryId.dirty || blogCategoryId.touched),
                'has-success': blogCategoryId.valid && (blogCategoryId.dirty || blogCategoryId.touched)
                }">
                        <label>Category</label>
                        <tag-input [formControl]="tagsCtrl1" (onSelect)="onSelect($event)" [modelAsStrings]="true" name="blogCategoryId" theme='primary'>
                        </tag-input>
                        <select class="form-control" hidden="hidden" name="blogCategoryId" #blogCategoryId="ngModel" [(ngModel)]="item.blogCategoryId">
                            <option [value]="0">Category</option>
                            <option *ngFor="let item of nameAndIds?.data| sort:'name'" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group input-group" *ngIf="imgURL">
                        <div class="uploadFileIcon">
                            <img [src]="imgURL" height="200">
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <!-- <div class="uploadFileIcon">
                            <span>
                            <i class="fa fa-upload"></i>
                            <br>
                            <label>Choose File</label></span>
                        </div> -->
                        <div class="custom-file">
                            <input type="file" (change)="onFileChange($event)" #uploader class="custom-file-input" id="inputGroupFileBrowse2" />
                            
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{filename ? filename : 'Choose file'}}</label>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{
                  'has-danger': content.invalid && (content.dirty || content.touched),
                  'has-success': content.valid && (content.dirty || content.touched)
                   }">
                        <label>Tip Content</label>
                        <quill-editor class="rounded" name="content" #content="ngModel"  required [(ngModel)]="item.content"></quill-editor>
                        <div class="form-control-feedback" *ngIf="content.errors && (content.dirty || content.touched)">
                            <p class="text-danger" *ngIf="content.errors.required">This field is required</p>
                        </div>
                    </div>
                    <label class="checkbox checkbox-outline-primary">
                        <input checked="" [(ngModel)]="item.isPublished" type="checkbox">
                        <span>Publish now</span>
                        <span class="checkmark"></span>
                    </label>
                    <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting">{{waiting ? 'Processing':'Create'}}</btn-loading>
                </form>
            </div>
        </div>
    </div>
</div>