.uploadFileIcon{
	text-align: center;
	border: 1px dashed #003473;
	border-radius: 10px;
	width: 100px;
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-direction:column;
	height: 100px;
}
.uploadFileIcon i {
	font-size: 20px;
}
.uploadFileIcon:hover, .uploadFileIcon:hover label{
	cursor: pointer;
	background: #003473;
	color: #fff !important;
}