<div class="card o-hidden" [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
  <div class="row">
    <div class="col-md-12">
      <div class="p-4">
        <div class="auth-logo text-center mb-4">
          <img src="../assets/images/logo-text.png" alt="HealthKonnet Logo">
        </div>
        <h1 class="mb-3 text-18">Reset Password</h1>
        <form [formGroup]="resetPassword" autocomplete="off" (ngSubmit)="resetUserPassword()">
          <p *ngIf="successText"
            [ngClass]="{'alert alert-success text-center': isSuccess,'alert alert-danger text-center': !isSuccess}">
            {{successText}}</p>

            
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control form-control-rounded" formControlName="password" type="password"
              placeholder="Password" />
            <small class="help-block text-danger"
              *ngIf="resetPassword.get('password').hasError('required') && resetPassword.get('password').touched">
              Password field is required
            </small>
            <small class="text-danger"
              *ngIf="resetPassword.get('password').hasError('invalidpassword') &&  resetPassword.get('password').touched">
              Password must contain at least one Uppercase letter, digits and special character (@1!#$)
            </small>
          </div>

          <div class="form-group"
            [ngClass]="{'has-error': resetPassword.get('confirmpassword').errors && resetPassword.get('confirmpassword').touched}">
            <label class="form-label">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" class="form-control form-control-rounded"
              formControlName="confirmpassword">
            <span class="help-block"
              *ngIf="resetPassword.get('confirmpassword').hasError('required') &&  resetPassword.get('confirmpassword').touched">
              This field can't be blank
            </span>
            <small class="help-block text-danger" *ngIf="resetPassword.errors?.mismatch">
              Password do not match
            </small>
          </div>
          <btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="'Please wait'"
            [loading]="loading" [disabled]="!resetPassword.valid || loading">
            Reset Password
          </btn-loading>
        </form>
        <div class="mt-3 text-center">
          <a href="" class="text-muted" routerLink="/sessions/signin"><u>Sign in</u></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-4">
        <btn-loading btnClass="btn-outline-primary btn-rounded btn-block" routerLink="/sessions/signup">
          Register
        </btn-loading>
      </div>
    </div>
  </div>
</div>