<div class="">
    <div class="breadcrumb">
        <h1>Visits and Claims</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-2">
            <select class="custom-select" id="inputGroupSelect01">
        <option selected>Filter By Status</option>
        
      </select>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input id="email" placeholder="Search Enrollee or Health Care Provider" name="email" class="form-control form-control-rounded" type="email" />
            </div>
        </div>
        <div class="col-md-7">
            <div class="card  o-hidden">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Claim Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of details; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                    {{ log.visit_code }}
                                </td>
                                <td>
                                    {{ log.name }}
                                </td>
                                <td *ngIf="log.status === 'approved'">
                                    <button class="btn" style="background:#7bcb4d;color:#fff;">
                    Approved
                  </button>
                                </td>
                                <td *ngIf="log.status === 'pending'">
                                    <button class="btn" style="background: #36a3f7;color:#fff;">
                    Waiting For Approval
                  </button>
                                </td>
                                <td *ngIf="log.status === 'declined'">
                                    <button class="btn" style="background: #f4516c;color:#fff;">
                    Declined
                  </button>
                                </td>
                                <td>{{ log.date }}</td>
                                <td>
                                    <a [routerLink]="['/hmo/claims', log.visit_code, 'detail']">
                                        <button class="btn btn-outline-secondary">
                      Process Claim
                    </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5 card chat-sidebar-container">
            <div class="chat-content-wrap">
                <div class="d-flex pl-3 pr-3 pt-2 pb-2 o-hidden box-shadow-1 chat-topbar">
                    <a appSidebarToggler="chat-sidebar" class="link-icon d-md-none">
                        <i class="icon-regular i-Right ml-0 mr-3"></i>
                    </a>
                    <div class="d-flex align-items-center">
                        <!-- <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'" alt="fd" class="avatar-sm rounded-circle mr-2"
                        /> -->
                        <p class="m-0 text-title text-16 flex-grow-1">
                            Claim Comments
                            <br/>Latest Comments on claims </p>
                    </div>
                </div>
                <div class="chat-content rtl-ps-none">
                    <div class="mb-4">
                        <div class="d-flex user">
                            <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'" alt="hh" class="avatar-sm rounded-circle mr-3"
                            />
                            <div class="message flex-grow-1">
                                <div class="d-flex">
                                    <p class="mb-1 text-title text-16 flex-grow-1">
                                        David Ebuka
                                    </p>
                                    <span class="text-small text-mut ed">Jun 12 | 2017</span>
                                </div>
                                <p class="m-0">This is a test Message</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-flex">
                            <div class="message flex-grow-1">
                                <div class="d-flex">
                                    <p class="mb-1 text-title text-16 flex-grow-1">
                                        Frank Powell
                                    </p>
                                    <span class="text-small text-muted">Jun 12 | 2019</span>
                                </div>
                                <p class="m-0">A Test reply</p>
                            </div>
                            <img src="https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Prescription02&hatColor=Red&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=Gray01&eyeType=Cry&eyebrowType=UnibrowNatural&mouthType=Disbelief&skinColor=Tanned'"
                                alt="jj" class="avatar-sm rounded-circle ml-3" />
                        </div>
                    </div>
                </div>

                <div class="pl-3 pr-3 pt-3 pb-3 box-shadow-1 chat-input-area">
                    <form #msgForm="ngForm" class="inputForm" (ngSubmit)="sendMessage($event)" (keyup.enter)="sendMessage($event)">
                        <div class="form-group">
                            <textarea class="form-control form-control-rounded" #msgInput ngModel placeholder="Type your message" name="message" id="message" cols="30" rows="3"></textarea>
                        </div>
                        <div class="d-flex">
                            <div class="flex-grow-1"></div>
                            <button class="btn btn-icon btn-rounded btn-primary mr-2">
              <i class="i-Paper-Plane"></i>
            </button>
                            <button class="btn btn-icon btn-rounded btn-outline-primary" type="button">
              <i class="i-Add-File"></i>
            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>