<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body animated fadeIn">
                <ngb-alert  class="alert-card mb-4 alert alert-warning" role="alert">
                   
                  <strong  class="text-capitalize">Notice!</strong> Please fund your account before you proceed.
                  <button class="btn btn-outline-primary btn-sm btn-rounded float-right" (click)="open(modalInvite)">Fund wallet</button>

                 </ngb-alert>
                <div class="card-title mb-3">We have a great plans for you to choose from</div>
                <form #f="ngForm" (ngSubmit)="submit()">
                    
                    <div class="row animated fadeIn">
                         
                          <div class="col-md-6 offset-md-2"> 
                        
                     
                            <div class="col-md-12 form-group mb-3">
                                <label for="credit">Choose from our list of health maintenance organization (HMO)</label>
                                <select class="form-control form-control-rounded" (change)="getPackageByHmoId()" disabled name="hmoId" #hmoId="ngModel" [(ngModel)]="item.hmoId">
                                    <option *ngFor="let hmo of hmos| sort:'name'" [value]="hmo.id">{{hmo.name}}</option>
                                  </select>
                            </div>
                         
                            <div class="col-md-12 form-group mb-3">
                                <label for="credit">Plan</label>
                                <select class="form-control form-control-rounded" name="packageId" #packageId="ngModel" [(ngModel)]="item.packageId">
                                    <option *ngFor="let plan of plans| sort:'name'" [value]="plan.id">{{plan.name}}</option>
                                  </select>
                            </div>
                                <div class="col-md-12">
                                     <btn-loading btnClass="btn-primary btn-rounded float-right btn-block" [type]="'submit'" [disabled]="waiting" [loading]="waiting">Submit</btn-loading>
                                      
                                </div>
                                
                          </div> 
                    </div>
                       
                </form>

            </div>
        </div>
    </div>
</div>
<app-loader [isLoadingData]="loading"></app-loader>

<ng-template #modalInvite let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">FUND YOUR WALLET</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="fundAccount()">
        <div class="form-group">
          <label for="amount">How much do you want to fund?</label>
          <div class="input-group">
              <input type="number" class="form-control" id="amount" min="0" required #amount="ngModel" name="amount" [(ngModel)]="item.amount" >
              <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="icon-regular i-Mail"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group"> 
                <label for="description">Description (optional)</label>
                <textarea id="narration" name="narration" #narration="ngModel" [(ngModel)]="item.narration" class="form-control"></textarea>
                 
          </div>
      </form>
    </div>
    <div class="modal-footer">
        <btn-loading  
        [btnClass]="'btn-outline-primary'" 
        [loading]="waiting" 
        [type]="'submit'"
        (click)="fundAccount()"
        [disabled]="waiting"
        [loadingText]="'Processing...'">
           Continue
        </btn-loading>
    </div>
  </ng-template>