<div class="card o-hidden" [@animate]="{
    value: '*',
    params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
  }">
  <div class="row">
    <div class="col-md-12">
      <div class="p-4">
        <div class="auth-logo text-center mb-4">
          <img src="../assets/images/logo-text.png" alt="HealthKonnet Logo">
        </div>
        <h1 class="mb-3 text-18">Forgot Password</h1>
        <form [formGroup]="forgotPassword" (ngSubmit)="sendPassword()">
          <p *ngIf="successText"
            [ngClass]="{'alert alert-success text-center': isSuccess,'alert alert-danger text-center': !isSuccess}">
            {{successText}}</p>

          <div class="form-group group-icon" [ngClass]="{
              'has-error':
                forgotPassword.get('email').errors &&
                forgotPassword.get('email').touched
            }">
            <input type="email" class="form-control form-control-rounded" formControlName="email" placeholder="Email" />
            <small class="help-block" *ngIf="
                forgotPassword.get('email').hasError('email') &&
                forgotPassword.get('email').touched
              ">
              Invalid email address
            </small>
            <small class="text-danger" *ngIf="
                forgotPassword.get('email').hasError('required') &&
                forgotPassword.get('email').touched
              ">
              Email Field is required
            </small>
            <span class="icon-envelope text-muted icon-input"></span>
          </div>

          <btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="'Loading'" [loading]="loading"
            [disabled]="!forgotPassword.valid || loading">
            Reset Password
          </btn-loading>
        </form>
        <div class="mt-3 text-center">
          <a href="" class="text-muted" routerLink="/sessions/signin"><u>Sign in</u></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-4">
        <btn-loading btnClass="btn-outline-primary btn-rounded btn-block" routerLink="/sessions/signup">
          Register
        </btn-loading>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-4">
        <btn-loading btnClass="btn-primary btn-rounded btn-block">
          NHIS code
        </btn-loading>
      </div>
    </div>
  </div>
</div>