<div class="card o-hidden" [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
  <div class="row">
    <div class="col-md-12">
      <div class="p-4">
        <div class="auth-logo text-center mb-4">
          <img src="../assets/images/logo-text.png" alt="HealthKonnet Logo">
        </div>
        <h1 class="mb-3 text-18">Sign Up</h1>
        <!-- <p class="mb-4 text-muted font-small">Lorem ipsum dolor sit amet.</p> -->
        <form #f="ngForm" (ngSubmit)="submit(f)">
          <p *ngIf="response"
            [ngClass]="{'alert alert-success text-center': isSuccess,'alert alert-danger text-center': !isSuccess}">
            {{response}}</p>
          <div class="row">
            <div class="col-md-6 form-group mb-3" [ngClass]="{
            'text-danger': lastName.invalid && (lastName.dirty || lastName.touched),
            'text-success': lastName.valid && (lastName.dirty || lastName.touched) }">
              <label for="lastname">Surname </label>
              <input type="text" class="form-control form-control-rounded" id="lastname" name="lastname" required
                #lastName="ngModel" [(ngModel)]="item.lastName" placeholder="Surname">
              <small class="form-text text-danger"
                *ngIf="lastName.errors?.required && (lastName.dirty || lastName.touched)"><i class=""></i>Last Name is
                required</small>

            </div>

            <div class="col-md-6 form-group mb-3" [ngClass]="{
              'text-danger': firstName.invalid && (firstName.dirty || firstName.touched),
              'text-success': firstName.valid && (firstName.dirty || firstName.touched) }">
              <label for="firstName">Other names </label>
              <input type="text" class="form-control form-control-rounded" id="firstName" name="firstName" required
                #firstName="ngModel" [(ngModel)]="item.firstName" placeholder="Other names">
              <small class="form-text text-danger"
                *ngIf="firstName.errors?.required && (firstName.dirty || firstName.touched)"><i class=""></i>Other name
                is
                required</small>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group" [ngClass]="{
            'text-danger': email.invalid && (email.dirty || email.touched),
            'text-success': email.valid && (email.dirty || email.touched) }">
              <label for="email">Email address</label>
              <input id="email" class="form-control form-control-rounded" type="email" name="email" required
                #email="ngModel" [(ngModel)]="item.email" placeholder="Email Address">
              <small class="form-text text-danger" *ngIf="email.errors?.required && (email.dirty || email.touched)"><i
                  class=""></i>Please enter a valid email address</small>

            </div>

            <div class="col-md-6 form-group" [ngClass]="{
            'text-danger': phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched),
            'text-success': phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched) }">
              <label for="phoneNumber">Phone Number</label>
              <input id="phoneNumber" class="form-control form-control-rounded" type="tel" name="phoneNumber" required
                #phoneNumber="ngModel" [(ngModel)]="item.phoneNumber" placeholder="Phone Number">
              <small class="form-text text-danger"
                *ngIf="phoneNumber.errors?.required && (phoneNumber.dirty || phoneNumber.touched)"><i
                  class=""></i>Please
                enter a valid phone number</small>

            </div>
          </div>
          <div class="form-group" [ngClass]="{
            'text-danger': address.invalid && (address.dirty || address.touched),
            'text-success': address.valid && (address.dirty || address.touched) }">
            <label for="address">Address</label>
            <input id="address" class="form-control form-control-rounded" type="text" name="address" required
              #address="ngModel" [(ngModel)]="item.address" placeholder="Home Address">
            <small class="form-text text-danger"
              *ngIf="address.errors?.required && (address.dirty || address.touched)"><i class=""></i>Please enter
              address</small>

          </div>

          <btn-loading btnClass="btn-primary btn-rounded btn-block" [loadingText]="'Loading'" [loading]="loading"
            [disabled]="!f.valid || loading">
            Sign Up
          </btn-loading>
        </form>
        <div class="text-center mt-3">
          OR
        </div>
      </div>
    </div>
  <div class="col-md-6">
    <div class="p-2">
      <btn-loading btnClass="btn-outline-primary btn-rounded btn-block" routerLink="/sessions/signin">
        Sign In
      </btn-loading>
    </div>
  </div>
  <div class="col-md-6">
    <div class="p-2">
      <btn-loading btnClass="btn-primary btn-rounded btn-block">
        NHIS code
      </btn-loading>
    </div>
  </div>
</div>
</div>