<div class="">
    <div class="breadcrumb row">
        <h1>Enrollee</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li>Home</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row p-3">
        <div class="col-md-5">
            <h4>{{greeting}}</h4>
        </div>
        <div class="col-md-4 offset-md-3">
            <h4 class="float-right">{{time}}</h4>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-title pa-4">
                    Your HMO Details
                </div> 
                <div class="card-body text-center mx-auto d-block">
                    <img src="{{hmoDetail?.userProfile?.profilePic}}" alt="Hmo-logo" class="img-thumbnail rounded-circle mx-auto d-block" />
                    <br />
                    <p>
                       {{hmoDetail?.hmoName}}
                    </p>
                    <p>
                        <a href="mailto:{{hmoDetail?.hmoEmail}}">{{hmoDetail?.hmoEmail}}</a>
                    </p>
                    <p>
                            <a href="tel:{{hmoDetail?.hmoPhone}}">{{hmoDetail?.hmoPhone}}</a>
                    </p>
                    <p>
                        {{hmoDetail?.hmoAddress}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body text-center">
                    <h4>Generate Visit Code</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-7 col-sm-12 offset-md-2">
                            <img [ngStyle]="{'opacity': !barcode?.barCode ? '0.3':'1'}" class="img-fluid qr_code ml-3" [src]="barcode?.barCode"/>
                        </div>
                    </div>
                    <br/>
                    <btn-loading btnClass="btn-outline-primary btn-block" (click)="generateBarcode()" [type]="'button'" [disabled]="waiting" [loading]="waiting">Generate</btn-loading>
                      
                     
                </div>
            </div>
        </div>
        <!-- 
    <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center">
                            <i class="i-Add-User"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Enrollees</p>
                                <p class="text-primary text-24 line-height-1 mb-2">10</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center">
                            <i class="i-Building"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Organization</p>
                                <p class="text-primary text-24 line-height-1 mb-2">4</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="mb-1">Balance</h6>
                            <p class="text-primary text-24 font-weight-light mb-1">₦1,936,596.00</p>
                            <div class="text-center icon-text">
                                <i class="i-Money-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 p-5 bg-img text-white text-left">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-white">{{greeting}}</h4>
                </div>
                <div class="col-sm-5 offset-sm-1 mb-2">
                    <img :src="/assets/images/icon/{{greetingimage}}.png" width="100px" />
                </div>
                <div class="col-sm-12">
                    <hr class="text-white" style="background: #fff;">
                </div>
                <div class="col-sm-12">
                    <p class="mt-2 text-18 text-white">Current Time: {{time}}</p>
                </div>
            </div>
        </div> -->
    </div>
</div>


<ng-template #modalInvite let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">FUND YOUR WALLET</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="fundAccount()">
            <div class="form-group">
                <label for="amount">How much do you want to fund?</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="amount" min="0" required #amount="ngModel" name="amount" [(ngModel)]="item.amount">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
              <i class="icon-regular i-Mail"></i>
            </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description (optional)</label>
                <textarea id="narration" name="narration" #narration="ngModel" [(ngModel)]="item.narration" class="form-control"></textarea>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <btn-loading [btnClass]="'btn-outline-primary'" [loading]="waiting" [type]="'submit'" (click)="fundAccount()" [disabled]="waiting" [loadingText]="'Processing...'">
            Continue
        </btn-loading>
    </div>
</ng-template>
