<div class="">
    <div class="breadcrumb">
        <h1>Payment Detail</h1>
    </div>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            
            <div class="col-md-3 d-none d-sm-block">
                <div class="card">
                    <div class="card-body text-center mx-auto d-block">
                        <img src="assets/images/profile_enroollee.png" alt="..." class="img-thumbnail rounded-circle mx-auto d-block" />
                        <br />
                        <p>
                            {{response?.name}}
                        </p>
                        
                        <p>
                           {{response?.phoneNumber}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Amount</th>
                                    <td>
                                        NGN {{response?.amount}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Status</th>
                                    <td>
                                            <span class="badge badge-pill  p-2 mr-1" [ngClass]="{'badge-success': response?.hasPaid, 'badge-danger':!response?.hasPaid}">{{response?.hasPaid ? 'Paid': 'Not Paid'}}</span>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Reference</th>
                                    <td>
                                        <code>{{response?.referenceCode}}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Channel</th>
                                    <td>
                                        <code>{{response?.channel}}</code>
                                    </td>
                                </tr>
                   
                                <tr>
                                    <th scope="row">Paid At</th>
                                    <td>
                                        {{response?.paymentDate | date:'long'}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Narration</th>
                                    <td>
                                        {{response?.narration}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>Download</h5>

                        <table class="table table-striped">
                            <tbody>
                                <tr> 
                                        <th scope="row"></th>
                                    <td>
                                       <button (click)="openTab(response?.id)" type="button" class="btn btn-rounded btn-outline-secondary"><i class="fa fa-download"></i> Download Receipt</button>
                                    </td>
                                </tr>
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
