<div class="">
    <div class="breadcrumb">
        <h1>Visits and Claims</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-2">
            <select class="custom-select" id="inputGroupSelect01">
        <option selected>Filter By Status</option>
        <!-- <option *ngFor="let type of status; index as i" [value]="type">
          {{ type }}
        </option>-->
      </select>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input id="email" placeholder="Search Enrollee or Health Care Provider" name="email" class="form-control form-control-rounded" type="email" />
            </div>
        </div>
        <div class="col-md-12">
            <p class="clickable-item text-muted" (click)="toggleFilter()"><i class="fa" [ngClass]="{'fa-angle-up':hideFilter, 'fa-angle-down':!hideFilter}"></i> Show advanced filters</p>
            <form role="form" #f="ngForm" (ngSubmit)="setupPaginations()" *ngIf="hideFilter" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <label>Name </label>
                            <input id="email" placeholder="Search Enrollee or Health Care Provider" name="email" class="form-control form-control-rounded" type="email" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <label>Date From </label>
                            <div class="input-group">

                                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateFrom" name="dateFrom" ngbDatepicker #df="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-default calendar" (click)="df.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <label>Date To </label>
                            <div class="input-group">

                                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateTo" name="dateTo" ngbDatepicker #dt="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-default calendar" (click)="dt.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="clearfix">

                </div>
                <div class="row">


                    <div class="col-md-6">
                        <div class="float-right"> <button type="submit" class="btn btn-sm pull-right btn-primary">Search</button>
                        </div>

                    </div>
                    <div class="d-flex mb-1 float-right">
                        <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="setupPaginations()"> Search
            </button>
                        <button class="btn btn-outline-danger btn-sm btn-rounded m-1" (click)="reloadComponent()">Reset </button>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-md-12">
            <div class="card  o-hidden">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Visit Code</th>
                                <th scope="col">Enrollee Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date Visited</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of logs; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td> 
                                    <ngx-avatar [name]="log.name"></ngx-avatar>
                                </td>
                                <td>
                                    {{ log.visit_code }}
                                </td>
                                <td>
                                    {{ log.name }}
                                </td>
                                <td *ngIf="log.status === 'approved'">
                                    <button class="btn" style="background:#7bcb4d;color:#fff;">
                    Approved
                  </button>
                                </td>
                                <td *ngIf="log.status === 'pending'">
                                    <button class="btn" style="background: #36a3f7;color:#fff;">
                    Waiting For Approval
                  </button>
                                </td>
                                <td *ngIf="log.status === 'declined'">
                                    <button class="btn" style="background: #f4516c;color:#fff;">
                    Declined
                  </button>
                                </td>
                                <td>{{ log.date }}</td>
                                <td>
                                    <a [routerLink]="['/hmo/claims', log.visit_code, 'detail']">
                                        <button class="btn btn-outline-secondary">
                      Process Claim
                    </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Confirm Action</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p><strong>Do you want to continue?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">
      NO
    </button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">
      YES
    </button>
    </div>
</ng-template>

<ng-template #modalLong let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Create New Company
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="row row-xs">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img width="300" id="Company_Logo_src" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                    />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-12 input-group mb-3">
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event)" #uploader class="custom-file-input" id="inputGroupFile02" />
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{ filename ? filename : "Company logo" }}</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                    </div>
                    <small class="form-text" style="width:100%;" *ngIf="isUploading">
            <div class="loader-bubble loader-bubble-light m-2"></div>
          </small>
                </div>
                <input type="text" required [(ngModel)]="item.logoUrl" name="logoUrl" hidden class="form-control hidden" />

                <div class="col-md-6 mb-3" [ngClass]="{
            'text-danger':
              orgName.invalid && (orgName.dirty || orgName.touched),
            'text-success': orgName.valid && (orgName.dirty || orgName.touched)
          }">
                    <input type="text" class="form-control" name="orgName" required #orgName="ngModel" [(ngModel)]="item.orgName" placeholder="Company Name" />
                    <small class="form-text text-danger" *ngIf="
              orgName.errors?.required && (orgName.dirty || orgName.touched)
            ">This field is required</small>
                </div>
                <div class="col-md-6 mb-3" [ngClass]="{
            'text-danger':
              orgEmail.invalid && (orgEmail.dirty || orgEmail.touched),
            'text-success':
              orgEmail.valid && (orgEmail.dirty || orgEmail.touched)
          }">
                    <input type="email" class="form-control" name="orgEmail" required #orgEmail="ngModel" [(ngModel)]="item.orgEmail" placeholder="Company Email" />
                    <small class="form-text text-danger" *ngIf="
              orgEmail.errors?.required && (orgEmail.dirty || orgEmail.touched)
            ">This field is required</small>
                </div>
                <div class="col-md-12 mb-3" [ngClass]="{
            'text-danger':
              orgPhone.invalid && (orgPhone.dirty || orgPhone.touched),
            'text-success':
              orgPhone.valid && (orgPhone.dirty || orgPhone.touched)
          }">
                    <input type="text" class="form-control" name="orgPhone" required #orgPhone="ngModel" [(ngModel)]="item.orgPhone" placeholder="Company Phone Number" />
                    <small class="form-text text-danger" *ngIf="
              orgPhone.errors?.required && (orgPhone.dirty || orgPhone.touched)
            ">This field is required</small>
                </div>
                <div class="col-md-12 input-group mb-3" [ngClass]="{
            'text-danger':
              orgLocation.invalid && (orgLocation.dirty || orgLocation.touched),
            'text-success':
              orgLocation.valid && (orgLocation.dirty || orgLocation.touched)
          }">
                    <select class="custom-select" name="orgLocation" required #orgLocation="ngModel" [(ngModel)]="item.orgLocation" id="inputGroupSelect01">
            <option selected>Company Location</option>
            <option *ngFor="let state of states | sort: 'name'" [value]="state.name">{{ state.name }}</option>

            <!--        <option *ngFor="let state of states; index as i" [value]="state">
              {{ state }}
            </option> -->
          </select>
                    <small class="form-text text-danger" *ngIf="
              orgLocation.errors?.required &&
              (orgLocation.dirty || orgLocation.touched)
            ">This field is required</small>
                </div>
                <div class="col-md-12 input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
            <option selected>Company Sector</option>
            <option *ngFor="let sector of sectors; index as i" [value]="sector">
              {{ sector }}
            </option>
          </select>
                </div>
                <div class="col-md-12 mb-3" [ngClass]="{
            'text-danger':
              orgAddress.invalid && (orgAddress.dirty || orgAddress.touched),
            'text-success':
              orgAddress.valid && (orgAddress.dirty || orgAddress.touched)
          }">
                    <input type="text" name="orgAddress" required #orgAddress="ngModel" [(ngModel)]="item.orgAddress" class="form-control" placeholder="Company Address" />
                    <small class="form-text text-danger" *ngIf="
              orgAddress.errors?.required &&
              (orgAddress.dirty || orgAddress.touched)
            ">This field is required</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <btn-loading [btnClass]="'btn-dark btn-rounded'" [loading]="waiting" [type]="'button'" [disabled]="waiting || isUploading" [loadingText]="'Loading...'" (click)="submit()">
            Save
        </btn-loading>
    </div>
</ng-template>