<div class="breadcrumb">
    <h1>Detail</h1>
  </div>
  <div class="d-flex">
      <button (click)="goBack()" class="btn btn-sm rounded-circle btn-icon float-right btn-outline-primary">
        <i class="icon i-Arrow-Back"></i>
      </button>
    </div>
  <div class="row"> 
    <div class="col-md-9 col-sm-12 col-xs-12">
    <div class="card card-ecommerce-3 o-hidden mb-4">
      <div class="d-flex"> 
        <div class="flex-grow-1 p-4">
          <h2 class="m-0 font-weight-bold text-muted">{{item?.title}}</h2>
          <p class="text-muted">Published {{item?.dateCreated | date:'medium'}} | &nbsp;
              <small style="font-size: 13px;">By {{item?.author}}</small>
            </p>
          <p class="m-0 text-small text-muted">{{item?.startDate}}</p>
          <img alt="user" class="img-fluid animated filpInX w-100" [src]="item?.eventFlyer" style="height: auto;">
          <!-- <p class="m-0">{{package?.formattedValue}}</p> -->
          <p class="mt-3 text-18" [innerHtml]="item?.description"></p>
         
        </div>
      </div>
      
    </div>
  
  </div>


  <div class="col-md-3" *ngIf="role==='Enrolleew'">
      <div class="card">
              <div class="card-body">
                      <h3 class="card-title font-weight-bold">Attend Event By Registering</h3>
                      <p class="font-weight-bold text-17 mb-2">Be Descriptive</p>
                      <p class="text-14 mb-3">A good title immediately gives people an idea of what the event is about.</p>

                      <p class="font-weight-bold text-17 mb-2">Get organized</p>
                      <p class="text-14 mb-3">Describe things in a clear order so it's easy to digest. Start with an overall description of the event and include a basic agenda, before you move into really specific details.</p>


                      <p class="font-weight-bold text-17 mb-2">Add an image</p>
                      <p class="text-14 mb-3">Upload a photo or image to give members a better feel for the event.</p>
              </div>        
      </div>
  </div>
  </div>
  
<app-loader [isLoadingData]="waiting"></app-loader>
