<div grid class="auth">
      <div card="back">
        <p class="headline">Welcome !</p>
        <p class="txt-body">Material Login Form #02</p>
        <p class="txt-body txt-b">Designed By @ygohel18</p>
      </div>
      <div card="front">
        <p class="title">Log In</p>
        <form action="#" method="post" class="grid xl-1">
          <input type="text" placeholder="Enter Username"/>
          <input type="password" placeholder="Enter Password"/>
          <a href="#" btn="primary">SUBMIT</a>
          <a href="#"><div btn="trans submit">Don't Have Account? Signup</div></a>
        </form>
        <a href="#" class="subtitle">Forgot Password ?</a>
      </div>
    </div>