<div class="card o-hidden" [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
  <div class="row">
    <div class="col-md-12">
      <div class="p-4">
        <div class="auth-logo text-center mb-4">
          <img src="https://storage.googleapis.com/healthkonnet/assets/logo-2x.png" alt="HealthKonnet Logo">
        </div>
        <h1 class="mb-3 text-18">Sign In</h1>
        <form [formGroup]="signinForm" autocomplete="off" (ngSubmit)="signin()">
          <p *ngIf="errorText" class="alert alert-danger text-center">{{errorText}}</p>

          <div class="form-group"
            [ngClass]="{'text-danger': signinForm.get('email').errors && signinForm.get('email').touched}">
            <label for="email">Email address</label>
            <input id="email" class="form-control form-control-rounded" formControlName="email" type="email">
            <small class="help-block text-danger"
              *ngIf="signinForm.get('email').hasError('validateemail') && signinForm.get('email').touched">
              Invalid email address
            </small>
            <small class="help-block text-danger"
              *ngIf="signinForm.get('email').hasError('required') && signinForm.get('email').touched">
              Email Field is required
            </small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control form-control-rounded" formControlName="password" type="password" />
            <small class="help-block text-danger"
              *ngIf="signinForm.get('password').hasError('required') && signinForm.get('password').touched">
              Password field is required
            </small>
            <small class="help-block text-danger"
              *ngIf="signinForm.get('password').hasError('invalidpassword') &&  signinForm.get('password').touched">
              Password must contain at least one Uppercase letter, digits and special character (@1!#$)
            </small>
          </div>
          <!-- <button class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button> -->
          <btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="loadingText" [loading]="loading"
            [disabled]="!signinForm.valid || loading">
            Sign In
          </btn-loading>
        </form>

        <div class="mt-3 text-center">
          <a href="" class="text-muted" routerLink="/sessions/forgot"><u>Forgot Password</u></a>
        </div>

        <div class="text-center mt-3">
            OR
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-4">
        <btn-loading btnClass="btn-outline-primary btn-rounded btn-block" routerLink="/sessions/signup">
          Register
        </btn-loading>
      </div>
    </div>
    <div class="col-md-6 hidden">
      <div class="p-4">
        <btn-loading btnClass="btn-primary btn-rounded btn-block">
          NHIS code
        </btn-loading>
      </div>
    </div>
  </div>
</div>