<div class="row">
    <div class="col-md-12 mb-3">
        <div class="d-flex mb-1">

            <button class="btn btn-outline-primary btn-rounded m-1" (click)="open(modalSelectHospital)"><i class="i-Add-User"></i> New Plan Type</button>

        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">


            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                    Plan types not avaliable. create one now<br/>
                    <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="open(modalSelectHospital)"> Create</button>
                </p>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-4 col-sm-12 mt-3" *ngFor="let item of items; let i=index">
                <div class="card p-4 text-center">
                    <h2 class="text-primary icon-text"><i class="i-Gift-Box"></i></h2>
                    <h4>{{item.planName}}</h4>
                    <hr class="mt-2">
                    <h4>₦500,000.00</h4>
                    <hr class="mt-2">
                    <ul>
                        <li>
                            <h6>Enrollee Best Plan
                            </h6>
                        </li>
                        <li>
                            <h6>Enrollee Best Plan
                            </h6>
                        </li>
                        <li>
                            <h6>Enrollee Best Plan
                            </h6>
                        </li>
                    </ul>
                    <hr class="mt-4">
                    <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="open(modalSelectHospital)"><i class="i-Edit"></i> Update</button>
                </div>
            </div> -->
        </div>
        <div class=" card o-hidden " *ngIf="items?.length> 0">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>

                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of items; let i=index">
                            <td>{{i + 1}}</td>
                            <td>{{item.planName}}</td>
                            <td>
                                <button (click)="open(modalSelectHospital,item)" ngbTooltip="Edit Post Plan " type="button" class="btn btn-sm btn-success">
                              <span class=" label label-success">  <i class="fa fa-edit"></i></span>
                        </button>


                            </td>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
<app-loader [isLoadingData]="waiting"></app-loader>
<ng-template #modalSelectHospital let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{!edit ? 'Create New Plan Type': 'Update Plan Type'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form #f="ngForm" (ngSubmit)="!edit ? createPlan(f) : updatePlan(f)">
            <div class="form-group mb-2" [ngClass]="{
                    'has-danger': planName.invalid && (planName.dirty || planName.touched),
                    'has-success': planName.valid && (planName.dirty || planName.touched)
                }">
                <label for="Plan">Plan Name</label>
                <input type="text" class="form-control" name="planName" placeholder="Plan Name" [(ngModel)]="item.planName" required #planName="ngModel">
                <small class="form-text text-danger" *ngIf="planName.errors?.required && (planName.dirty || planName.touched)">This field is required</small>

            </div>
            <!-- <div class="form-group mb-2" [ngClass]="{
                    'has-danger': planName.invalid && (planName.dirty || planName.touched),
                    'has-success': planName.valid && (planName.dirty || planName.touched)
                }">
                <label for="Plan">Plan Worth</label>
                <input type="text" class="form-control" name="planName" placeholder="Plan Worth" [(ngModel)]="item.planName" required #planName="ngModel">
                <small class="form-text text-danger" *ngIf="planName.errors?.required && (planName.dirty || planName.touched)">This field is required</small>

            </div> -->
            <br/>
            <!-- <btn-loading [btnClass]="'btn btn-rounded btn-outline-dark'" (click)="addSub()" [type]="'button'" [disabled]="waiting" [loadingText]="'Loading...'" (click)="!edit ? createPlan(f) : updatePlan(f)">
                <i class="i-Add"></i> Add Plan Benefits
            </btn-loading>
            <br/>
            <br/>
            <div class="form-group mb-2" [ngClass]="{
              'has-danger': planName.invalid && (planName.dirty || planName.touched),
              'has-success': planName.valid && (planName.dirty || planName.touched)
          }">
                <label for="Plan">Plan Benefits</label>
                <div *ngFor="let item of itemSub">
                    <input type="text" class="form-control" name="planName" placeholder="Plan Benefit" [(ngModel)]="item.planName" required #planName="ngModel">
                    <br>
                </div>
            </div> -->
        </form>

    </div>
    <div class="modal-footer">
        <btn-loading [btnClass]="'btn btn-rounded btn-outline-dark'" [loading]="waiting" [type]="'button'" [disabled]="waiting" [loadingText]="'Loading...'" (click)="!edit ? createPlan(f) : updatePlan(f)">
            <i class="i-Add-User"></i> Save
        </btn-loading>
    </div>
</ng-template>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title"> Plan Delete</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
</ng-template>