<div class="">
    <div class="breadcrumb">
        <h1>Health Cares</h1>
        <ul>
            <li><a [routerLink]="['/systemadmin/dashboard']">Dashboard </a></li>
            <li>List of Provider</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="d-flex mb-5">
                <button class="btn btn-outline-primary btn-rounded m-1" (click)="open(modalhealthcareupload,true)"> Load from file </button>
                <button class="btn btn-outline-secondary btn-rounded m-1" (click)="open(modalhealthcareupload,false)">Add new health care provider</button>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12 mb-3">
            <div class="col-md-4">
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filter.address" name="address" (change)="setupPaginations()">
                  <option selected [value]="''">Filter By State</option>
                  <option *ngFor="let state of states|sort:'name'" [value]="state.name">{{state.name}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <p class="clickable-item text-muted" (click)="toggleFilter()"><i class="fa" [ngClass]="{'fa-angle-up':hideFilter, 'fa-angle-down':!hideFilter}"></i> Show advanced filters</p>

            </div>
            <form role="form" #f="ngForm" (ngSubmit)="setupPaginations()" *ngIf="hideFilter" class="form-horizontal col-md-12 p-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="email" placeholder="Search by code" name="code" [(ngModel)]="filter.code" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="name" placeholder="Search by name" name="name" [(ngModel)]="filter.name" class="form-control" type="text">
                        </div>

                    </div>
                    <div class="d-flex mb-1 float-right">
                        <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="setupPaginations()"> Search </button>
                        <button class="btn btn-outline-danger btn-sm btn-rounded m-1" (click)="reloadComponent()">Reset </button>
                    </div>
                </div>

                <div class="clearfix">

                </div>
            </form>

        </div>
        <div class="col-md-12">
            <div class="card  o-hidden">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">HCP Code</th>
                                <th scope="col">PRI/SEC HCP CODE</th>
                                <th scope="col">NAME</th>
                                <th scope="col">ADDRESS</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items; let i= index">
                                <th scope="row">{{i + 1}}</th>
                                <td>
                                    {{item.hcpCd}}
                                </td>
                                <td> {{item.secHcpCd}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.address}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary mr-3"><i class="i-Eye"></i></button>
                                    <button class="btn btn-sm btn-outline-danger" (click)="deleteInvoice(4, deleteConfirmModal)">
                           <i class="i-Remove"></i>
                        </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 float-left">
                        <p>{{getPageInfoDescription()}}</p>
                    </div>
                    <div class="col-md-6 float-right">
                        <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<app-loader [isLoadingData]="waiting"></app-loader>


<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Delete Record</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
</ng-template>

<ng-template #modalhealthcareupload let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{isUpload ? 'Upload Health Care list' : 'Add new health care '}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group" *ngIf="isUpload">
                <label for="healthcare_file">Please select the file you want to upload </label>
                <div class="input-group mb-3">

                    <div class="custom-file">
                        <input type="file" accept=".csv" class="custom-file-input" id="healthcare_file" #uploader (change)="onFileChange($event)" aria-describedby="logodescription">
                        <label class="custom-file-label" for="healthcare_file">{{filename}}</label>
                    </div>
                    <small class="form-text" style="width:100%;" *ngIf="waiting">
                  <div class="loader-bubble loader-bubble-light m-2"></div>
              </small>
                </div>
            </div>
            <div *ngIf="!isUpload">

                <div class=" form-group mb-3" [ngClass]="{
              'text-danger': name.invalid && (name.dirty || name.touched),
              'text-success': name.valid && (name.dirty || name.touched) }">
                    <label for="name">Name </label>
                    <input class="form-control" id="name" name="name" required #name="ngModel" [(ngModel)]="item.name" placeholder="Health care provider name">
                    <small class="form-text text-danger" *ngIf="name.errors?.required && (name.dirty || name.touched)">This field is required</small>

                </div>
                <div class=" form-group mb-3" [ngClass]="{
                'text-danger': hcpCode.invalid && (hcpCode.dirty || hcpCode.touched),
                'text-success': hcpCode.valid && (hcpCode.dirty || hcpCode.touched) }">
                    <label for="hcpCode">HCP Code</label>
                    <input class="form-control" id="hcpCode" name="hcpCd" required #hcpCode="ngModel" [(ngModel)]="item.hcpCd" placeholder="HCP Code">
                    <small class="form-text text-danger" *ngIf="hcpCode.errors?.required && (hcpCode.dirty || hcpCode.touched)">This field is required</small>

                </div>

                <div class="  form-group mb-3" [ngClass]="{
                  'text-danger': type.invalid && (type.dirty || type.touched),
                  'text-success': type.valid && (type.dirty || type.touched) }">
                    <label for="type"> Type of health care</label>
                    <select class="form-control" id="type" name="type" required #type="ngModel" [(ngModel)]="item.type">
                        <option [ngValue]="1"> Primary </option>
                        <option [ngValue]="2"> Secondary </option>
                         
                    </select>
                    <small class="form-text text-danger" *ngIf="type.errors?.required && (type.dirty || type.touched)">This field is required</small>

                </div>

                <div class=" form-group mb-3" [ngClass]="{
                  'text-danger': secHcpCode.invalid && (secHcpCode.dirty || secHcpCode.touched),
                  'text-success': secHcpCode.valid && (secHcpCode.dirty || secHcpCode.touched) }">

                    <label for="secHcpCode">{{item.type === 1 ? 'Primary' : 'Secondary'}} HCP Code</label>
                    <input class="form-control" id="secHcpCode" name="secHcpCd" required #secHcpCode="ngModel" [(ngModel)]="item.secHcpCd" placeholder="Sec/Pri HCP Code">
                    <small class="form-text text-danger" *ngIf="secHcpCode.errors?.required && (secHcpCode.dirty || secHcpCode.touched)">This field is required</small>
                </div>

                <div class=" form-group mb-3" [ngClass]="{
                  'text-danger': address.invalid && (address.dirty || address.touched),
                  'text-success': address.valid && (address.dirty || address.touched) }">
                    <label for="address">Address</label>
                    <input class="form-control" id="address" name="address" required #address="ngModel" [(ngModel)]="item.address" placeholder="Address">
                    <small class="form-text text-danger" *ngIf="address.errors?.required && (address.dirty || address.touched)">This field is required</small>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <btn-loading [btnClass]="'btn-outline-dark'" [loading]="waiting" [type]="'button'" [disabled]="waiting" [loadingText]="'Loading...'" (click)="submit(isUpload)">
            Send
        </btn-loading>
    </div>
</ng-template>