<div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex mb-2 float-right">
        <button class="btn btn-outline-secondary btn-rounded m-1" (click)="reloadComponent()"><i
            class="fa fa-refresh"></i> Refresh</button>
      </div>
      
        <div class="d-flex mb-2 float-left">
            <select name="count" [(ngModel)]="paginationConfig.count" (change)="setupPaginations()" class="form-control">
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
          </div>  
        
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
              Filter By
                <form role="form" #f="ngForm" (ngSubmit)="setupPaginations()"   class="form-horizontal">
        
              <div class="row row-xs">
                  <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label>Enrollee Name/Email </label>
                        <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search by Name or Email" class="form-control form-control-rounded">
                      </div>
                    </div>
                  <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label>Organization </label>
                        <select class="form-control form-control-rounded"(change)="setupPaginations()" name="organizationId" [(ngModel)]="filter.organizationId">
                          <option value="0">Filter by Organization</option>
                          <option *ngFor="let org of orgs" value="{{org.id}}">{{org.name}}</option> 
                        </select>
                      </div>
                    </div>
      
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                          <label>Health Maintenance Organization</label>
                          <select class="form-control form-control-rounded" (change)="setupPaginations()" name="hmoId" [(ngModel)]="filter.hmoId">
                           <option value="0">Filter by Hmo</option>
                            <option *ngFor="let hmo of hmos" value="{{hmo.id}}">{{hmo.name}}</option> 
                          </select>
                        </div>
                      </div>
                     
               
                <div class="col-md-4 mt-3 float-right">
                  <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary btn-block btn-rounded">Search</button>
                </div>
              </div>
              </form>
            </div>
          </div>
    </div>
   
     
       
    <div class="col-md-12">

      <div class="card  o-hidden">
        
        <div class="table-responsive">
          <table class="table  table-hover">
              <thead>
                  <tr>
                    <th>Enrollee Name</th>
                    <th>Visit Code</th>
                    <th>Claim Amount</th>
                    <th>Status</th> 
                     
                    <th>Date Submitted</th>
                    <th>Action</th>
                  </tr>
                  </thead>
            <tbody>

                <tr class="cursor" *ngFor="let user of items | grdFilter: {enrolleeName: searchText, visitCode: searchText}; let i=index">
                    <td>
                        <ngx-avatar size="35" [name]="user.enrolleeName" class="float-left avatar-align"></ngx-avatar>
                        <span class="ml-2">{{user.enrolleeName}}</span> 
                       </td>
                  <td><code>{{user.visitCode}}</code></td>
                  
                  <td>{{user.formattedCost}}</td>
                  <td><label class="label label-success">{{'Pending'}}</label></td>
                  <td>{{user.dateOfClaimRequest| date:'medium'}}</td>
                  
                  <td> 
                    <a class="btn btn-sm btn-success text-white" (click)="gotoRoute('provider/claims/batched',user.visitCode, 'detail')" ngbTooltip="View Detail"><i class="fa fa-list"></i> Detail</a>
                      
                  </td>
    
                </tbody>
    
                
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 float-left">
            <p>{{getPageInfoDescription()}}</p>
          </div>
          <div class="col-md-6 float-right">
            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count"
              [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)"
              [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>
  </div>


<app-loader [isLoadingData]="waiting"></app-loader>