
<div class="">
    <div class="breadcrumb row">
        <div class="col-md-5">
            <h1>Enrollee Details</h1>
        </div>
        <div class="col-md-4 offset-md-3">
             <a class="btn btn-sm btn-success text-white float-right" (click)="goBack()"><i class="i-Arrow-Back"></i>Go Back</a>
        </div>
    </div>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="container">
    <div class="row" *ngIf="!waiting">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-body text-center mx-auto d-block">
                    <img src="{{response?.userProfile?.profilePic}}" alt="..." class="img-thumbnail rounded-circle mx-auto d-block" />
                    <br />
                    <h4 class="font-weight-500">
                       {{response?.userProfile?.firstName}} {{response?.userProfile?.lastName}}
                       <code class="block">{{response?.enrolleeId}}</code>
                       <small>{{response.plan}}</small>
                       <p *ngIf="response" class="badge block" [ngClass]="{'badge-success': response.isActive, 'badge-danger':!response.isActive}">{{response.isActive ? 'Active': 'UnActive'}}</p>
                   
                       </h4>
                    <hr/>
                    <p> 
                           
                            {{response?.uhmoName}}
                    </p>
                    <p>
                            {{response?.package}}
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                        <h4>Personal Information</h4>
                         
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Name</p>
                                    <span>{{response.userProfile?.lastName}}  {{response.userProfile?.firstName}}</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Email</p>
                                    <span>{{response.userProfile?.email}}</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="fa fa-phone text-16 mr-1"></i> Phone</p>
                                    <span>{{response.userProfile?.phoneNumber}}</span>
                                </div>
                              
                               
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Lives In</p>
                                    <span>{{response.userProfile?.address}} {{response.userProfile?.state}}</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Gender</p>
                                    <span>{{response.userProfile?.gender}}</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Edit-Map text-16 mr-1"></i> Date Of Birth</p>
                                    <span>{{response.userProfile?.dateOfBirth | date:'dd-m-yyyy' }}</span>
                                </div>
                               
                            </div>
    
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="fa fa-drop text-16 mr-1"></i> Blood Group </p>
                                    <span>{{response?.bloodGroup}} </span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Geno Type</p>
                                    <span>{{response?.genoType}}</span>
                                </div>
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="fa fa-building text-16 mr-1"></i> Health Condition</p>
                                    <span>{{response?.healthStatus}}</span>
                                </div>
                              
                               
                            </div>
                            
                        </div>
                       <!--  <hr>
                        <h4>Other Information</h4>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="fa fa-barcode text-16 mr-1"></i> Enrollee ID </p>
                                    <span>{{response?.enrolleeId}} </span>
                                </div>
                                 
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="fa fa-building text-16 mr-1"></i> Current HMO</p>
                                    <span>{{response?.uhmoName}}</span>
                                </div>
                              
                               
                            </div>
                            <div class="col-md-4 col-6">
                               
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Enrollee Type</p>
                                    <span>{{response.plan}}</span>
                                </div>
                                
                              
                               
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="mb-4">
                                    <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Plan</p>
                                    <span>{{response?.package}}</span>
                                </div> 
                            </div>
                            
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader [isLoadingData]="waiting"></app-loader>