<div class="">
  <div class="breadcrumb">
    <h1>Audit Trail</h1>
    <ul>
      <li><a [routerLink]="['/systemadmin/dashboard']">Dashboard </a></li>
      <li>List Operation Logs</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex mb-2 float-right">
        <button class="btn btn-outline-secondary btn-rounded m-1" (click)="reloadComponent()"><i
            class="fa fa-refresh"></i> Refresh</button>
      </div>
      
          <div class="d-flex mb-2 float-left">
            <select name="count" [(ngModel)]="paginationConfig.count" (change)="setupPaginations()" class="form-control">
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
          </div>
        
    </div>
    <div class="row col-md-12 col-sm-12 mb-3">

      <div class="col-md-4">
        <select class="form-control" (change)="setupPaginations()" name="browserName" [(ngModel)]="filter.browserName">
          <option value="" selected>Filter by Browser</option>
          <option value="Chrome">Chrome</option>
          <option value="FireFox">FireFox</option>
          <option value="Safari">Safari</option>
        </select>
      </div>

      <div class="col-md-4">
        <select class="form-control" (change)="setupPaginations()" name="deviceOs" [(ngModel)]="filter.deviceOs">
          <option value="" selected>Filter by Device</option>
          <option value="Windows">Windows</option>
          <option value="Mac OS">Mac OS</option>
          <option value="Android">Android</option>
          <option value="IPhone">IPhone</option>
        </select>
      </div>

      <div class="col-md-4">
        <select class="custom-select" [(ngModel)]="filter.auditActionId" name="auditActionId"
          (change)="setupPaginations()">
          <option selected [value]="0">Filter by Audit Actions</option>
          <option *ngFor="let action of actions|sort:'name'" [value]="action.value">{{action.name}}</option>

        </select>
      </div>

      <div class="col-md-12">
          <p class="clickable-item text-muted" (click)="toggleFilter()"><i class="fa"
            [ngClass]="{'fa-angle-up':hideFilter, 'fa-angle-down':!hideFilter}"></i> Show advanced filters</p>
  
      </div>
      <form role="form" #f="ngForm" (ngSubmit)="setupPaginations()" *ngIf="hideFilter" class="form-horizontal">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Name </label>
              <input type="text" [(ngModel)]="filter.name" name="name" placeholder="Name" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Browser </label>
              <select class="form-control" (change)="setupPaginations()" name="browser" [(ngModel)]="filter.browser">
                <option>Select Browser Type</option>
                <option value="Chrome">Chrome</option>
                <option value="FireFox">FireFox</option>
                <option value="Safari">Safari</option>
              </select>
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Device </label>
              <select class="form-control" (change)="setupPaginations()" name="deviceOs" [(ngModel)]="filter.deviceOs">
                <option>Select Device Type</option>
                <option value="Windows">Windows</option>
                <option value="Mac OS">Mac OS</option>
                <option value="Android">Android</option>
                <option value="IPhone">IPhone</option>
              </select>
            </div>
          </div>


          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Email </label>
              <input type="text" [(ngModel)]="filter.email" name="email" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Date From </label>
              <div class="input-group">

                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateFrom" name="dateFrom"
                  ngbDatepicker #df="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-default calendar" (click)="df.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Date To </label>
              <div class="input-group">

                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateTo" name="dateTo"
                  ngbDatepicker #dt="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-default calendar" (click)="dt.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="clearfix">

        </div>
        <div class="row">


          <div class="col-md-6">
            <div class="float-right"> <button type="submit" class="btn btn-sm pull-right btn-primary">Search</button>
            </div>

          </div>
          <div class="d-flex mb-1 float-right">
            <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="setupPaginations()"> Search
            </button>
            <button class="btn btn-outline-danger btn-sm btn-rounded m-1" (click)="reloadComponent()">Reset </button>
          </div>
        </div>


      </form>
    </div>
   
    <div class="col-md-12">

      <div class="card  o-hidden">
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>

                <th>Name</th>
                <th>Detail</th>
                <th>Ip Address</th>
                <th>Action</th>
                <th>Section</th>
                <th>Browser</th>
                <th>Device</th>
                <th>Login Date</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let log of items; let i=index">

                <td>
                  {{log.firstName}} {{log.lastName}}
                  <p class="small">
                    Mobile Device:
                    <span class="badge badge-pill p-2"
                      [ngClass]="{'badge-success':log.isMobile, 'badge-info':!log.isMobile}">{{log.isMobile ? 'Yes': 'No'}}</span>
                  </p>
                </td>
                <td>{{log.details}}</td>
                <td>{{log.userIP}}</td>
                <td>{{log.auditAction}}</td>
                <td>{{log.auditSection}}</td>
                <td>{{log.browserName}}</td>
                <td>{{log.deviceOs}}</td>
                <td>{{log.timestamp | date:'short'}}</td>

            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 float-left">
            <p>{{getPageInfoDescription()}}</p>
          </div>
          <div class="col-md-6 float-right">
            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count"
              [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)"
              [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<app-loader [isLoadingData]="waiting"></app-loader>