.authForm{
    width: 32%;
}
.auth-layout-wrap{
    background: url(/assets/images/log.jpg)no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (max-width: 760px) {
    .authForm{
        width: 50%;
    }
  }
  @media only screen and (max-width: 560px) {
    .authForm{
        width: 70%;
    }
  }