<div class="row">
  <div class="col-md-12">
      <div class="card mb-4">
          <div class="card-body animated fadeIn">

              <div class="card-title mb-3">Other Information</div>
              <form #f="ngForm" (ngSubmit)="submit()">
                  <div class="row">
                     
                      <div class="col-md-6 form-group mb-3">
                          <label for="employeeId">Service Identity Number</label>
                          <input type="text" name="employeeId" #employeeId="ngModel" [(ngModel)]="item.employeeId" class="form-control form-control-rounded" id="employeeId" placeholder="Enter your first name">
                      </div>

                      <div class="col-md-6 form-group mb-3">
                        <label for="bloodGroup">Blood Group</label>
                        <input type="text" name="bloodGroup" #bloodGroup="ngModel" [(ngModel)]="item.bloodGroup" class="form-control form-control-rounded" id="bloodGroup" placeholder="A, B, B+, A+, O, O+">
                    </div>

                    <div class="col-md-6 form-group mb-3">
                      <label for="genoType">Geno Type</label>
                      <input type="text" name="genoType" #genotype="ngModel" [(ngModel)]="item.genoType" class="form-control form-control-rounded" id="genoType" placeholder="Geno type">
                     
                  </div>

                      <div class="col-md-6 form-group mb-3">
                          <label for="healthStatus">Tell us about your current health condition</label>
                          <input type="text" class="form-control form-control-rounded" name="healthStatus" #healthStatus="ngModel" [(ngModel)]="item.healthStatus" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Tell us about your current health condition"/>
                      </div>
                        
                    
                      <div class="col-md-6 form-group mb-3">
                          <label for="credit">Plan Type</label>
                          <select class="form-control form-control-rounded" name="planId" #planId="ngModel" [(ngModel)]="item.planId">
                            <option [value]="0">Select Plan Type</option>
                            <option *ngFor="let plan of plans" [value]="plan.planId">{{plan.planName}}</option>
                          </select> 
                      </div>
                      <div class="col-md-6 form-group mb-3">
                          <label for="credit">State</label>
                          <select class="form-control form-control-rounded" (change)="getProviderByState()" name="state" #state="ngModel" [(ngModel)]="item.state">
                            <option *ngFor="let state of states| sort:'name'" [value]="state.name">{{state.name}}</option>
                          </select>
                         
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label for="credit">Choose your best health care provider</label>
                        <select class="form-control form-control-rounded" name="providerId" #providerId="ngModel" [(ngModel)]="item.providerId">
                            <option *ngFor="let provider of providers| sort:'name'" [value]="provider.id">{{provider.name}}</option>
                          </select>
                    </div>
                    <div class="col-md-6 form-group mb-3" *ngIf="profile.isPersonal">
                        <label for="credit">Choose from our list of health maintenance organization (HMO)</label>
                        <select class="form-control form-control-rounded" name="hmoId" #hmoId="ngModel" [(ngModel)]="item.hmoId">
                            <option *ngFor="let hmo of hmos| sort:'name'" [value]="hmo.id">{{hmo.name}}</option>
                          </select>
                    </div>
                    <div class="col-md-12">
                      <btn-loading btnClass="btn-primary btn-rounded float-right btn-block" [type]="'submit'" [disabled]="waiting" [loading]="waiting">Save Changes</btn-loading>
                      
                 </div>
                    
                 
                  </div>
                  
                     
              </form>

          </div>
      </div>
  </div>
</div>
<app-loader [isLoadingData]="loading"></app-loader>