.bg-img {
    background: linear-gradient(to right, #2f47c2, #2f47c2);
    border-radius: 10px;
}

#quickLinks #sub-link:hover {
    background: #faf8f8;
    border-radius: 10px;
}

.dashboard-item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.dashboard-item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.closed {
    border-radius: 50%;
    background: rgba(103, 161, 231, 0.4);
    width: fit-content;
    padding: 13px;
}