<div class="">
    <div class="breadcrumb row">
        <div class="col-md-8">
            <h1>Client</h1>
            <ul>
                <li><a href="">Dashboard</a></li>
                <li>Home</li>
            </ul>
        </div>
        <div class="col-md-3 offset-md-1">
            <div class="d-flex float-right">
                <button class="btn btn-outline-info" (click)="open(modalInvite)"> Fund Wallet</button>
            </div>
        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row p-3">
        <div class="col-md-5">
            <h4>{{greeting}}</h4>
        </div>
        <div class="col-md-4 offset-md-3">
            <h4 class="float-right">{{time}}</h4>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-8">

                        <b><span class="text-22">0</span></b>
                        <br />
                        <h6>Staff</h6>
                    </div>
                    <div class="col-md-4">

                        <h3 class="text-19 closed"><i class="i-Add-User"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-8">

                        <b><span class="text-22">0</span></b>
                        <br />
                        <h6>-</h6>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-19 closed"><i class="i-Building"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-9">
                        <b><span class="text-22">{{counter?.walletValue}}</span></b>
                        <br />
                        <h6>Balance</h6>
                    </div>
                    <div class="col-md-3">
                        <h3 class="text-19 closed"><i class="i-Money-2"></i></h3>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- 
      <div class="col-lg-7 col-md-12 col-sm-12">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                          <div class="card-body text-center">
                              <i class="i-Add-User"></i>
                              <div class="content">
                                  <p class="text-muted mt-2 mb-0">Enrollees</p>
                                  <p class="text-primary text-24 line-height-1 mb-2">10</p>
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                          <div class="card-body text-center">
                              <i class="i-Building"></i>
                              <div class="content">
                                  <p class="text-muted mt-2 mb-0">Organization</p>
                                  <p class="text-primary text-24 line-height-1 mb-2">4</p>
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="card mb-4">
                          <div class="card-body">
                              <h6 class="mb-1">Balance</h6>
                              <p class="text-primary text-24 font-weight-light mb-1">₦1,936,596.00</p>
                              <div class="text-center icon-text">
                                  <i class="i-Money-2"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-5 p-5 bg-img text-white text-left">
              <div class="row">
                  <div class="col-sm-6">
                      <h4 class="text-white">{{greeting}}</h4>
                  </div>
                  <div class="col-sm-5 offset-sm-1 mb-2">
                      <img :src="/assets/images/icon/{{greetingimage}}.png" width="100px" />
                  </div>
                  <div class="col-sm-12">
                      <hr class="text-white" style="background: #fff;">
                  </div>
                  <div class="col-sm-12">
                      <p class="mt-2 text-18 text-white">Current Time: {{time}}</p>
                  </div>
              </div>
          </div> -->
    </div>

    <div class="row">
        <div class="col-lg-9 offset-lg-1 col-md-12">
             
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-amount">
                        Staff Health Care Providers
                    </div>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalInvite let-modal>
    <div class="modal-header">
        <h4 class="modal-amount" id="modal-basic-amount">FUND YOUR WALLET</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="fundAccount(f)">
            <div class="form-group" [ngClass]="{
                'has-danger': amount.invalid && (amount.dirty || amount.touched),
                'has-success': amount.valid && (amount.dirty || amount.touched)
                 }">
                <label for="amount">How much do you want to fund?</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="amount" min="0" required #amount="ngModel" name="amount" [(ngModel)]="item.amount">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
              <i class="icon-regular i-Mail"></i>
            </button>
                    </div>
                </div>
                <div class="form-control-feedback" *ngIf="amount.errors && (amount.dirty || amount.touched)">
                    <p *ngIf="amount.errors.required" class="text-danger">This field is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description (optional)</label>
                <textarea id="narration" name="narration" #narration="ngModel" [(ngModel)]="item.narration" class="form-control"></textarea>

            </div>
            <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="isProcessing" [disabled]="isProcessing || !f.valid">{{isProcessing ? 'Processing':'Fund Wallet'}}</btn-loading>


        </form>
    </div>
    <div class="modal-footer">
      
    </div>
</ng-template>