<div class="card">
  <div class="card-body">
    <h5 class="card-title">Payment Gateway Config</h5>
    <h6 class="card-subtitle text-danger danger_text">
      <!--  This is the bank account that your payment is sent to whenever you
          decide to withdraw -->
    </h6>
    <form role="form" #f="ngForm" (ngSubmit)="ActionHandler()">
      <label class="switch switch-success mr-3">
        <span>Live</span>
        <input checked="" name="isLive" [(ngModel)]="item.isLive" type="checkbox">
        <span class="slider"></span>
      </label>
      <div *ngIf="!item.isLive">
        <div class="form-group">
          <label>Paystack Demo Public Key</label>
          <input type="text" name="paystackDemoPublicKey" required [(ngModel)]="item.paystackDemoPublicKey"
            placeholder="Paystack Demo Public Key" class="form-control" />

        </div> 
        <div class="form-group">
          <label> Paystack Demo Secret Key</label>
          <input type="text" name="paystackDemoSecretKey" placeholder="Paystack Demo Secret Key"
            [(ngModel)]="item.paystackDemoSecretKey" class="form-control" />
        </div>
      </div>

      <div *ngIf="item.isLive">
        <div class="form-group">
          <label>Paystack Live Public Key</label>
          <input type="text" name="paystackLivePublicKey" required [(ngModel)]="item.paystackLivePublicKey"
            placeholder="Paystack Live Public Key" class="form-control" />
        </div>

        <div class="form-group">
          <label> Paystack Live Secret Key</label>
          <input type="text" name="paystackLiveSecretKey" placeholder="Paystack Live Secret Key"
            [(ngModel)]="item.paystackLiveSecretKey" class="form-control" />
        </div>
      </div>

      <btn-loading [btnClass]="'btn btn-rounded btn-outline-dark float-right'" [loading]="isSaving" [type]="'submit'" [disabled]="waiting" [loadingText]="'Loading...'">
          <i class="fa fa-save"></i> Save Configuration
      </btn-loading>
    </form>
  </div>
</div>