<div class="app-footer">
	<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
         
        <a class="btn btn-warning btn-rounded mb-3 mb-sm-0" 
        href="https://goo.gl/forms/dwQGMJrnk4Q5XEBG3" 
        target="_blank">Feedback</a>
        
		<span class="flex-grow-1"></span>
		<div class="d-flex align-items-center">
			<img class="logo" src="./assets/images/logo-text.png" alt="">
			<div>
				<p class="m-0">&copy; {{currentYear}} Health Konnet</p>
				<p class="m-0">All rights reserved</p>
			</div>
		</div>
	</div>
</div>