<div class="">
    <div class="breadcrumb">
        <h1>Hospital Change Request</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>
<app-shared-change-provider
[role]="userRole"
(reload)="refresh($event)"
(sendData)="changeProviderHandler($event)"
></app-shared-change-provider>
    
</div>
