<div class="">
  <div class="breadcrumb">
    <h1>Pay Health Care Bill</h1>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-2">
      <select
        class="custom-select"
        id="inputGroupSelect01"
        
      >
        <option selected>Filter By status</option>
        
      </select>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input
          id="email"
          placeholder="Search Products"
          name="email"
         
          class="form-control form-control-rounded"
          type="email"
        />
      </div>
    </div>
    <div class="col-md-2 offset-md-3">
      <div class="form-group">
        <button
          type="button"
          (click)="open(modalLong)"
          class="btn btn-info btn-rounded m-1"
        >
          Settle Health Care Bill
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card  o-hidden">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <br />
                <h5>Health Care Settlement Transaction History</h5>
              </tr>
              <tr>
                <th scope="col">Ref Code</th>
                <th scope="col">Description</th>
                <th scope="col">Paid To (Health Care Provider)</th>
                <th scope="col">Amount</th>
                <th scope="col">Date Payed</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions; index as i">
                <td>
                  {{ transaction.ref_code }}
                </td>
                <td>{{ transaction.desc }}</td>
                <td>{{ transaction.merchant }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-loader [isLoadingData]="waiting"></app-loader> -->

<ng-template #modalLong let-modal>
  <div class="modal-header">
    <h4 class="modal-title align-left" id="modal-basic-title">
      Health Care Payment Form
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="modal-title align-right" id="modal-basic-title">
      Wallet Balance: #1,000,000
    </h6>
    <br />
    <label for="exampleFormControlSelect1">Health Care Provider</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Lagos University Teaching Hospital</option>
      <option>Adegbeimle</option>
    </select>
    <br />
    <label for="exampleFormControlInput1">Amount</label>
    <input
      type="number"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="100,000"
    />
    <br />
    <label for="exampleFormControlInput1">Narration</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Description of payment"
    />
  </div>
  <div class="modal-footer">
    <btn-loading
      [btnClass]="'btn-dark btn-rounded'"
      [loading]="waiting"
      [type]="'button'"
      [disabled]="waiting || isUploading"
      [loadingText]="'Loading...'"
      (click)="submit()"
    >
      Pay
    </btn-loading>
  </div>
</ng-template>
