<div class="row">
    <div class="col-md-12 mb-3">
        <div class="d-flex mb-2 float-right">
            <button class="btn btn-outline-secondary btn-rounded m-1" (click)="refresh()"><i
                class="fa fa-refresh"></i> Refresh</button>

                <button class="btn btn-outline-primary btn-rounded m-1"
                (click)="open(modalRequest)"><i class="fa fa-plus"></i> Change Health Care Provider </button>
          </div>
       
    </div>

<!-- 
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <form role="form" #f="ngForm" (ngSubmit)="filterData()"  class="form-horizontal">
        
              <div class="row row-xs">
                <div class="col-md-4">
                    <label>Period From </label>
                    <div class="input-group">
      
                      <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateCreatedFrom" name="dateCreatedFrom"
                        ngbDatepicker #dt="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="dt.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                    <label>Period To </label>
                    <div class="input-group">
      
                      <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateCreatedTo" name="dateCreatedTo"
                        ngbDatepicker #df="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="df.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                </div>
                <div class="col-md-4  mt-3 mt-md-0">
                  <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary btn-block btn-rounded">Search</button>
                </div>
              </div>
              </form>
            </div>
          </div>
    </div> -->
    <div class="col-md-12">
        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                   Change Provider Request<br/>
                    <button class="btn btn-outline-primary btn-sm btn-rounded m-1"  (click)="open(modalRequest)"> Request</button>
                </p>
            </div>
        </div>
      <div class="card o-hidden" *ngIf="items?.length > 0">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                  <tr>  
                    <th *ngIf="role === 'HMO'">Enrollee Name</th>
                    <th scope="col">Requested Provider</th>
                    <th scope="col">Current Provider</th>
                    <th scope="col">Status</th> 
                    <th scope="col">Date Requested</th> 
                    <th scope="col" >Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of items; let i = index"> 
                    
                 <td *ngIf="role === 'HMO'">{{item.enrolleeName}}</td>
                
                    <td>
                        {{item.providerName}}
                      </td>
                    <td> {{item.oldProvider}}</td>
                    <td> <label [class]="item.isApproved ? 'badge badge-pill p-2 mr-1 badge-success': 'badge badge-pill p-2 mr-1 badge-warning'">{{item.isApproved ? 'Approved': 'Pending'}}  <i [class]="item.isApproved ? 'fa fa-check' : 'fa fa-times'"></i></label></td>
                    <td>
                       {{item.dateCreated | date:'medium'}}
                      </td> 
                       
                        <td >
                          <button (click)="open(content,item)" type="button" class="btn btn-sm btn-success"><i class="fa fa-list"></i></button> &nbsp;&nbsp;
                          <button *ngIf="role === 'HMO' && !item.isApproved"  (click)="approveAction(item)"  type="button"  class="btn btn-sm btn-success"><i class="fa fa-check"></i></button>
                          </td>
                  </tr>
                  </tbody>
                </table>
          </div>
   
      </div>
    </div>

  </div>
  <app-loader [isLoadingData]="waiting"></app-loader>
  <ng-template #modalRequest let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Fill the form below to request for change health care provider</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
              <form #f="ngForm" (ngSubmit)="submitData()">
                  <div class=" form-group mb-3" *ngIf="role == 'HMO'" [ngClass]="{
                    'text-danger': enrolleeId.invalid && (enrolleeId.dirty || enrolleeId.touched),
                    'text-success': enrolleeId.valid && (enrolleeId.dirty || enrolleeId.touched) }">
                    <label for="name">Enrollee</label>
                    <ng-select [items]="enrollees$ | async" bindLabel="name" bindValue="id"
                      [multiple]="false" required [hideSelected]="false" placeholder="Search by enrollee Name or Enrollee ID"
                      [loading]="people3Loading" #enrolleeId="ngModel" [(ngModel)]="item.enrolleeId" [typeahead]="textinput$" name="enrolleeId">
                    </ng-select>
                  
                      <small class="form-text text-danger" *ngIf="enrolleeId.errors?.required && (enrolleeId.dirty || enrolleeId.touched)">This field is required</small>
      
                  </div>
                  <div class="form-group">
                      <label for="state"> Select State</label>
                      <select class="form-control" id="state" (change)="getProviderByState($event.target.value)" name="hmoLocation" required>
                          <option>States list</option>
                          <option *ngFor="let state of states|sort:'name'" value="{{state.name}}">{{state.name}}</option>
                     
                      </select>
                    
                  </div>
                    <div  class="form-group" [ngClass]="{
                      'text-danger': providerId.invalid && (providerId.dirty || providerId.touched),
                      'text-success': providerId.valid && (providerId.dirty || providerId.touched) }">
                      <label>Hospital </label>
                      <select class="form-control" #providerId="ngModel" name="providerId" [(ngModel)]="item.providerId">
                         
                          <option *ngFor="let name of nameAndIds" [value]="name.id">{{name.name}}</option>
                      </select>
                      <small class="form-text text-danger" *ngIf="providerId.errors?.required && (providerId.dirty || providerId.touched)">This field is required</small>
    
                    </div>
                   

                

              <div class="form-group mb-2"  [ngClass]="{
                'has-danger': reason.invalid && (reason.dirty || reason.touched),
                'has-success': reason.valid && (reason.dirty || reason.touched)
            }">
            <label for="reason"> Why do you want to change</label>
            <textarea class="form-control" name="reason" required #reason="ngModel" [(ngModel)]="item.reason" placeholder="Tell us why you want to change your current health care provider">

            </textarea>
               
                <small class="form-text text-danger" *ngIf="reason.errors?.required && (reason.dirty || reason.touched)">This field is required</small>

            </div>
         
              </form>
             
      </div>
      <div class="modal-footer">
          <btn-loading  
          [btnClass]="'btn btn-rounded btn-outline-dark'" 
          [loading]="waiting" 
          [type]="'button'"
          [disabled]="waiting"
          [loadingText]="'Loading...'"
          (click)="submitData()">
            <i class="i-Add-User"></i> Save
          </btn-loading>
            </div>
    </ng-template>

    