<div class="">
    <div class="breadcrumb">
      <h1>Transactions</h1>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
    <app-payment-transaction
    [items]="items" 
   [role]="userRole"
  [waiting]="waiting" 
  (reload)="refresh($event)"
  (filterAction)="init($event)">
</app-payment-transaction>
</div>  