<div class="breadcrumb">
    <h1>Health Tips</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="">
   <app-health-tips-list
   [items]="items"
   [waiting]="waiting"
   >
</app-health-tips-list>
</div>

<ng-template #editHealthTips modal-lg>
    <!-- <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              ...
            </div>
          </div>
        </div> -->
    <div class="modal-header modal-xl">
        <h4 class="modal-title" id="modal-title">Edit Health Tips</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text " class="form-control " name="packageName " placeholder="Name (e.g Gold,Silver)">

        </div>
        <div class="form-group">
            <label>Sub Title</label>
            <input type="text " class="form-control " name="packageName " placeholder="Name (e.g Gold,Silver)">

        </div>
        <div class="form-group " ngClass="has-success ">
            <label>Health Tips</label>
            <quill-editor class="rounded " name="packageDescription " required></quill-editor>

        </div>

    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-secondary btn-rounded " (click)="modal.dismiss( 'cancel') ">
            NO
        </button>
        <button type="button " ngbAutofocus class="btn btn-wide btn-danger btn-rounded " (click)="modal.close( 'Ok') ">
            YES
        </button>
    </div>
</ng-template>

<ng-template #deleteHealthTips let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-title ">Confirm Action</h4>
        <button type="button " class="close " aria-label="Close button " aria-describedby="modal-title "
            (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <p><strong>Do you want to continue?</strong></p>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-secondary btn-rounded " (click)="modal.dismiss( 'cancel') ">
            NO
        </button>
        <button type="button " ngbAutofocus class="btn btn-wide btn-danger btn-rounded " (click)="modal.close( 'Ok') ">
            YES
        </button>
    </div>
</ng-template>