#editMan {
    background: transparent !important;
    border: none !important;
    cursor: pointer !important;
}

#HealthTipsCard,
#HealthTipsCard1,
#HealthTipsCard2 {
    margin-top: 1em;
}

#HealthTipsCard {
    background: #8E2DE2 !important;
    /* fallback for old browsers */
    color: #fff !important;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-link {
    color: #c0df10
}

.card-title {
    color: #fff;
    font-weight: bold;
}

#HealthTipsCard1 {
    background: url('../../../../../assets/images/cardbg/benefitsCard.jpg');
    /* fallback for old browsers */
    color: #fff !important;
}

#HealthTipsCard2 {
    color: #fff !important;
    background: url('../../../../../assets/images/cardbg/benefitsCard1.jpg');
    //* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-link:hover {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

.search-ui {
    width: 100% !important;
}