.dashboard-item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.closed {
    border-radius: 50%;
    background: rgba(103, 161, 231, 0.4);
    width: fit-content;
    padding: 13px;
}