<div class="">
  <div class="breadcrumb">
    <h1>Client</h1>
    <ul>
      <li><a href="">Dashboard</a></li>
      <li>Home</li>
    </ul>
    <p class="text-muted mt-2 text-18 float-right">Current Time: {{time}}</p>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <!-- ICON BG -->
    <div class="col-md-12">
      <div class="col-md-5 float-left">
          <p class="text-muted text-18 mt-2 float-left">{{greeting}}</p>
      </div>
     
        <div class="d-flex mb-2 float-right">
            <button class="btn btn-outline-primary btn-rounded" (click)="openVerticallyCentered(modalInvite)">Fund wallet</button>
        </div>
    
    
    </div>

  <div class="row">

        <div class="col-md-4 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-8">

                        <b><span class="text-22">{{counter?.enrollees}}</span></b>
                        <br />
                        <h6>Enrollees</h6>
                    </div>
                    <div class="col-md-4">

                        <h3 class="text-19 closed"><i class="i-Add-User"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-8">

                        <b><span class="text-22">{{counter?.organization}}</span></b>
                        <br />
                        <h6>Clients</h6>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-19 closed"><i class="i-Building"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item">
                <div class="card mb-2">
                    <div class="card-body row">
                        <div class="col-md-8">
    
                            <b><span class="text-22">{{counter?.provider}}</span></b>
                            <br />
                            <h6>Registered Hospitals</h6>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-19 closed"><i class="i-Building"></i></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/claims/list')">
                    <div class="card mb-2">
                        <div class="card-body row">
                            <div class="col-md-9">
                                <b><span class="text-22">{{counter?.claims}}</span></b>
                                <br />
                                <h6>Claims for this month</h6>
                            </div>
                            <div class="col-md-3">
                                <h3 class="text-19 closed"><i class="i-Money-2"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/transactions/index')">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-9">
                        <b><span class="text-22">{{counter?.totalPaymentMade}}</span></b>
                        <br />
                        <h6>Balance</h6>
                    </div>
                    <div class="col-md-3">
                        <h3 class="text-19 closed"><i class="i-Money-2"></i></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 dashboard-item">
                <div class="card mb-2">
                    <div class="card-body row">
                        <div class="col-md-8">
    
                            <b><span class="text-22">{{counter?.pendingClaimRequests}}</span></b>
                            <br />
                            <h6>Pending Claim Requests</h6>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-19 closed"><i class="i-Building"></i></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/claims/list')">
                    <div class="card mb-2">
                        <div class="card-body row">
                            <div class="col-md-9">
                                <b><span class="text-22">{{counter?.pendingAuthorizationRequests}}</span></b>
                                <br />
                                <h6>Pending Authorization Request</h6>
                            </div>
                            <div class="col-md-3">
                                <h3 class="text-19 closed"><i class="i-Money-2"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/transactions/index')">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-9">
                        <b><span class="text-22">{{counter?.totalPaymentMade}}</span></b>
                        <br />
                        <h6>Change Health Care Provider Request</h6>
                    </div>
                    <div class="col-md-3">
                        <h3 class="text-19 closed"><i class="i-Money-2"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-8 col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title row">
            <div class="col-md-3">Enrollee Visits</div>
            <div class="col-md-3 offset-md-6">
              <select class="custom-select" id="inputGroupSelect01">
                <option value="">
                  Last 7 days
                </option>
                <option value="">
                  Last 30 days
                </option>
              </select>
            </div>
          </div>
          <div
            echarts
            [options]="chartLineOption3"
            [autoResize]="true"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title">
            Package Analytics
            <h6>Different Packages used by Enrollees</h6>
          </div>
          <div
            echarts
            [options]="salesChartPie"
            [autoResize]="true"
            style="height: 300px;"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #modalInvite let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">FUND YOUR WALLET</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="fundAccount()">
        <div class="form-group">
          <label for="amount">How much do you want to fund?</label>
          <div class="input-group">
              <input type="number" class="form-control" id="amount" min="0" required #amount="ngModel" name="amount" [(ngModel)]="item.amount" >
              <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="icon-regular i-Mail"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group"> 
                <label for="description">Description (optional)</label>
                <textarea id="narration" name="narration" #narration="ngModel" [(ngModel)]="item.narration" class="form-control"></textarea>
                 
          </div>
      </form>
    </div>
    <div class="modal-footer">
        <btn-loading  
        [btnClass]="'btn-outline-primary'" 
        [loading]="waiting" 
        [type]="'submit'"
        (click)="fundAccount()"
        [disabled]="waiting"
        [loadingText]="'Processing...'">
           Continue
        </btn-loading>
    </div>
  </ng-template>
  