<div class="breadcrumb">
    <h1>Create Benefits</h1>
</div>

<div class="row">
    <div class="col-md-9 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Benefit Packages</h5>

                <form role="form" #f="ngForm" (ngSubmit)="createPack(f)">

                    <div class="form-group" [ngClass]="{
                  'has-danger': packageName.invalid && (packageName.dirty || packageName.touched),
                  'has-success': packageName.valid && (packageName.dirty || packageName.touched) }">
                        <label>Title</label>
                        <input type="text" class="form-control" name="packageName" placeholder="Name (e.g Gold,Silver)" [(ngModel)]="item.packageName" required #packageName="ngModel">
                        <div class="form-control-feedback" *ngIf="packageName.errors && (packageName.dirty || packageName.touched)">
                            <p *ngIf="packageName.errors.required" class="text-danger">This field is required</p>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{
                'has-danger': packageName.invalid && (packageName.dirty || packageName.touched),
                'has-success': packageName.valid && (packageName.dirty || packageName.touched)
            }">
                        <label>Tagline Sub-title</label>
                        <input type="text" class="form-control" name="subTitle" placeholder="Sub title tagline for benefit" [(ngModel)]="item.subTitle" required #subTitle="ngModel" />
                        <div class="form-control-feedback" *ngIf="subTitle.errors && (subTitle.dirty || subTitle.touched)">
                            <p *ngIf="subTitle.errors.required" class="text-danger">This field is required</p>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{
                  'has-danger': packageValue.invalid && (packageValue.dirty || packageValue.touched),
                  'has-success': packageValue.valid && (packageValue.dirty || packageValue.touched)
              }">
                        <label>Cost of Benefit</label>
                        <input type="number" class="form-control" name="packageValue" placeholder="Cost of Benefit" [(ngModel)]="item.packageValue" required #packageValue="ngModel">
                        <div class="form-control-feedback" *ngIf="packageValue.errors && (packageValue.dirty || packageValue.touched)">
                            <p *ngIf="packageValue.errors.required" class="text-danger">This field is required</p>

                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{
                  'has-danger': packageDescription.invalid && (packageDescription.dirty || packageDescription.touched),
                  'has-success': packageDescription.valid && (packageDescription.dirty || packageDescription.touched)
              }">
                        <label>Benefit Full Features</label>
                        <quill-editor class="rounded" name="packageDescription" #packageDescription="ngModel" required [(ngModel)]="item.packageDescription"></quill-editor>

                        <div class="form-control-feedback" *ngIf="packageDescription.errors && (packageDescription.dirty || packageDescription.touched)">
                            <p class="text-danger" *ngIf="packageDescription.errors.required">This field is required</p>

                        </div>
                    </div>

                    <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting">{{waiting ? 'Processing':'Create'}}</btn-loading>


                </form>
            </div>
        </div>

    </div>
</div>