<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input id="email" placeholder="Search Products" name="email" class="form-control form-control-rounded" type="email">
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                    Staff List Empty
                </p>
            </div>
        </div>
        <div class="card o-hidden" *ngIf="items?.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">ROLE</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; let i= index">
                            <td>
                                {{item.surName}} {{item.firstName}}
                                <p><code>{{item.phoneNumber}}</code></p>
                            </td>
                            <td>{{item.state}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.address}}</td>
                            <td>
                                {{item.dateCreated | date:'short'}}
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary mr-3"><i class="i-Eye"></i></button>
                                <button class="btn btn-sm btn-outline-danger" (click)="deleteInvoice(4, deleteConfirmModal)">
                                    <i class="i-Remove"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-5 float-left">
                    <p>{{getPageInfoDescription()}}</p>
                </div>
                <div class="col-md-4 float-right">
                    <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>