<div class="breadcrumb">
    <h1>Events & Programs</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="">
   <app-shared-event-list
   [items]="items"
   [waiting]="waiting">
</app-shared-event-list>
</div>

