<div class="">
    <div class="breadcrumb">
      <h1>Verify Enrollee</h1>
       
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="d-flex mb-2">
         
        </div>
      </div>
  
      <div class="col-md-12">
       
            <div class="card mb-2">
                <div   class="card-body">
                    <form #f="ngForm" (ngSubmit)="verifyEnrollee()">
  
                  <div class="row row-xs">
                     
     
                    <div class="col-md-5 offset-md-2">
  
                        <input class="form-control" id="name" name="name" required #name="ngModel"
                        [(ngModel)]="item.name" placeholder="Enter Enrollee Name / Enrollee ID/ Email">
                      <small class="form-text text-danger"
                        *ngIf="name.errors?.required && (name.dirty || name.touched)">This field is required</small>
                        <p *ngIf="error.isError" class="form-text text-danger"><i class="fa fa-close"></i> {{error.Message}}</p>
                      </div>
                  
                    <div class="col-md-3 mt-3 mt-md-0">
                        <btn-loading [btnClass]="'btn btn-outline-primary btn-rounded'" [loading]="waiting" [type]="'submit'" [disabled]="waiting || !f.valid"
                        [loadingText]="'Loading...'">
                        <i class="fa fa-search"></i>  Verify
                      </btn-loading>
                        </div>
                       
                  </div>
                </form>
                </div>
              </div> 
              <div class="card mt-2" *ngIf="response">
                <div class="card-body">
                   
                    <h4>Personal Information</h4>
                    <div class="col-md-12 mb-1">
                        <div class="d-flex mb-2">
                            <div class="avatar box-shadow-2 mb-3 ">
                                <img src="{{response.userProfile?.profilePic}}">
                              </div>
                        </div>
                      </div>
                    
                     
                    <hr>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Name</p>
                                <span>{{response.userProfile?.lastName}}  {{response.userProfile?.firstName}}</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Email</p>
                                <span>{{response.userProfile?.email}}</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="fa fa-phone text-16 mr-1"></i> Phone</p>
                                <span>{{response.userProfile?.phoneNumber}}</span>
                            </div>
                          
                           
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Lives In</p>
                                <span>{{response.userProfile?.address}} {{response.userProfile?.state}}</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Gender</p>
                                <span>{{response.userProfile?.gender}}</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-Edit-Map text-16 mr-1"></i> Date Of Birth</p>
                                <span>{{response.userProfile?.dateOfBirth | date:'medium' }}</span>
                            </div>
                           
                        </div>

                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="fa fa-drop text-16 mr-1"></i> Blood Group </p>
                                <span>{{response?.bloodGroup}} </span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Geno Type</p>
                                <span>{{response?.genoType}}</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="fa fa-building text-16 mr-1"></i> Health Condition</p>
                                <span>{{response?.healthStatus}}</span>
                            </div>
                          
                           
                        </div>
                        
                    </div>
                    <hr>
                    <h4>Other Information</h4>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="fa fa-barcode text-16 mr-1"></i> Enrollee ID </p>
                                <span>{{response?.enrolleeId}} </span>
                            </div>
                             
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="fa fa-building text-16 mr-1"></i> Current HMO</p>
                                <span>{{response?.uhmoName}}</span>
                            </div>
                          
                           
                        </div>
                        <div class="col-md-4 col-6">
                           
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Plan Type</p>
                                <span>{{response.plan}}</span>
                            </div>
                            
                          
                           
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Plan</p>
                                <span>{{response?.package}}</span>
                            </div> 
                        </div>
                        
                    </div>
                   <!--  <hr>
                    <h4>Visit History</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore labore
                        reiciendis
                        ab quo ducimus reprehenderit natus debitis, provident ad iure sed aut animi dolor incidunt
                        voluptatem. Blanditiis, nobis aut.</p>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-6 text-center">
                            <i class="i-Plane text-32 text-primary"></i>
                            <p class="text-16 mt-1">Travelling</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-6 text-center">
                            <i class="i-Camera text-32 text-primary"></i>
                            <p class="text-16 mt-1">Photography</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-6 text-center">
                            <i class="i-Car-3 text-32 text-primary"></i>
                            <p class="text-16 mt-1">Driving</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-6 text-center">
                            <i class="i-Gamepad-2 text-32 text-primary"></i>
                            <p class="text-16 mt-1">Gaming</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-6 text-center">
                            <i class="i-Music-Note-2 text-32 text-primary"></i>
                            <p class="text-16 mt-1">Music</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-6 text-center">
                            <i class="i-Shopping-Bag text-32 text-primary"></i>
                            <p class="text-16 mt-1">Shopping</p>
                        </div>
                    </div> -->
                </div>
              </div>
        
      </div>
    </div>
  </div>
  
  <app-loader [isLoadingData]="waiting"></app-loader>
  
 