<div class="">
    <div class="breadcrumb">
      <h1>Users Log</h1>
      <ul>
        <li><a [routerLink]="['/systemadmin/dashboard']" >Dashboard </a></li>
        <li>Users log</li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input id="email" placeholder="Search Products" name="email"  class="form-control form-control-rounded" type="email">
        </div>
      </div>
      <div class="col-md-12">
          <div class="card  o-hidden">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                      
                        <th>Ip Address</th>
                        <th>Email</th>
                        <th>Browser</th>
                        <th>Device</th>
                        <th>Login Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of items; let i= index">
                        
                        <td>
                          {{item.name}}
                         <p><code>{{item.phoneNumber}}</code></p>
                        </td>
                        <td>  {{item.roleName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.address}}</td>
                        <td>
                          <button class="btn btn-sm btn-outline-secondary mr-3"><i class="i-Eye"></i></button>
                          <button class="btn btn-sm btn-outline-danger" (click)="deleteInvoice(4, deleteConfirmModal)">
                             <i class="i-Remove"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
              </div>
              <div class="col-md-12">
                  <div class="col-md-5 float-left">
                    <p>{{getPageInfoDescription()}}</p>
                  </div>
                  <div class="col-md-4 float-right">
                    <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)"  [(page)]="paginationConfig.page"  aria-label="Default pagination"></ngb-pagination>
                  </div>
                </div>
            
          </div>
      </div>
    </div>
  </div>   

  <ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Invoice deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure?</strong></p>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
  </ng-template>