<div style="margin-top:15%;">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" style="margin: auto;">
        <div class="col-sm-12 col-xs-12 mailbox-sidenav"> 
          <div class="card">
            <div class="card-body">
              <!-- <h4><i class="fa fa-check-circle"></i></h4> -->
              
              <div class="padding-20 text-center" *ngIf="!isLoading">
                <!-- <div class="rounded-circle mar-btm margin-b-10 circle-border img-fluid "><i class="fa fa-check-circle fa-2x"></i></div> -->
              <img  alt="Profile Picture" style="width:40%;" class="rounded-circle mar-btm margin-b-10 img-fluid " src="assets/images/icon/check.gif">
  
                 <p  class="lead font-500 margin-b-0">Your payment of <strong class="bolder">{{amount | currency:'&#8358;'}}</strong> have been made succesfully</p>
                 <br/>
  
                 <p class="text-sm margin-b-0"> <button class="btn btn-primary" (click)="goToApplication()"><i class="fa fa-share"></i> Return to application</button> </p>
  
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  
   
  
    
  
  
  <!-- Add Beneficiary Modal -->
   
  