<div class="breadcrumb">
    <h1>Users</h1>
    <ul>
        <li><a href="">Form</a></li>
        <li>Create</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="d-flex mb-5">
            <button class="btn btn-outline-primary btn-rounded" (click)="open(modalInvite)">Invite by Link</button>

        </div>
     </div>
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-3">Create New Hmo</div>
                <form #f="ngForm" (ngSubmit)="submit(f)">
                    <div class="row">

                        <div class="col-md-6 form-group mb-3" [ngClass]="{
                          'text-danger': hmoName.invalid && (hmoName.dirty || hmoName.touched),
                          'text-success': hmoName.valid && (hmoName.dirty || hmoName.touched)
                      }">
                            <label for="name">HMO Organization Name *</label>
                            <input type="text" autofocus class="form-control" required #hmoName="ngModel" id="name" name="hmoName" [(ngModel)]="item.hmoName" placeholder="Name of your organization"/>
                            <small class="form-text text-danger" *ngIf="hmoName.errors?.required && (hmoName.dirty || hmoName.touched)">This field is required</small>
                    
                        </div>

                        <div class="col-md-6 form-group mb-3"[ngClass]="{
                          'text-danger': hmoEmail.invalid && (hmoEmail.dirty || hmoEmail.touched),
                          'text-success': hmoEmail.valid && (hmoEmail.dirty || hmoEmail.touched)
                      }">
                            <label for="email">Official Email *</label>
                            <input type="email" class="form-control" id="email" required #hmoEmail="ngModel" name="hmoEmail" [(ngModel)]="item.hmoEmail" placeholder="Active official email address">
                            <small class="form-text text-danger" *ngIf="hmoEmail.errors?.required && (hmoEmail.dirty || hmoEmail.touched)">This field is required</small>
  
                        </div>

                        <div class="col-md-6 form-group mb-3" [ngClass]="{
                          'text-danger': hmoPhone.invalid && (hmoPhone.dirty || hmoPhone.touched),
                          'text-success': hmoPhone.valid && (hmoPhone.dirty || hmoPhone.touched) }">
                            <label for="phone">Official Phone Number *</label>
                            <input type="number" min="0"  class="form-control" id="phone" name="hmoPhone" required #hmoPhone="ngModel" [(ngModel)]="item.hmoPhone" aria-describedby="phone"
                                placeholder="Enter Phone number">
                                <small class="form-text text-danger" *ngIf="hmoPhone.errors?.required && (hmoPhone.dirty || hmoPhone.touched)">This field is required</small>
  
                            </div>
                        <div class="col-md-6 form-group mb-3" [ngClass]="{
                          'text-danger': hmoLocation.invalid && (hmoLocation.dirty || hmoLocation.touched),
                          'text-success': hmoLocation.valid && (hmoLocation.dirty || hmoLocation.touched) }">
                            <label for="state"> Select State *</label>
                            <select class="form-control" id="state" name="hmoLocation" required #hmoLocation="ngModel" [(ngModel)]="item.hmoLocation">
                                <option>States list</option>
                                <option *ngFor="let state of states|sort:'name'" value="{{state.name}}">{{state.name}}</option>
                           
                            </select>
                            <small class="form-text text-danger" *ngIf="hmoLocation.errors?.required && (hmoLocation.dirty || hmoLocation.touched)">This field is required</small>
  
                        </div>
                        <div class="col-md-6 form-group mb-3" [ngClass]="{
                          'text-danger': hmoAddress.invalid && (hmoAddress.dirty || hmoAddress.touched),
                          'text-success': hmoAddress.valid && (hmoAddress.dirty || hmoAddress.touched) }">
                            <label for="address">Office Address *</label>
                            <input class="form-control" id="address" name="hmoAddress" required #hmoAddress="ngModel" [(ngModel)]="item.hmoAddress" placeholder="Office Address">
                            <small class="form-text text-danger" *ngIf="hmoAddress.errors?.required && (hmoAddress.dirty || hmoAddress.touched)">This field is required</small>
  
                          </div>
                       
                        <div class="col-md-6 form-group mb-3">
                            <label for="regnumber">Registration number *</label>
                            <input type="number" min="0"  class="form-control" id="regnumber" name="registrationNumber" #registrationNumber="ngModel" [(ngModel)]="item.registrationNumber" placeholder="Registration number">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="nhis">NHIS number *</label>
                            <input type="number" min="0"  class="form-control" id="nhis" name="nhisHmoNo" #nhisHmoNo="ngModel" [(ngModel)]="item.nhisHmoNo" placeholder="NHIS number">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="hmcan">HMCAN number *</label>
                            <input type="number" min="0"  class="form-control" id="hmcan" name="hmcanHmoNo" #hmcanHmoNo="ngModel" [(ngModel)]="item.hmcanHmoNo" placeholder="HMCAN number">
                        </div>
                       
                        <div class="col-md-6 form-group mb-3">
                            <label for="logo">Official Logo *</label> 
                        <div class="input-group mb-3">
                         
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="logo" #uploader (change)="onFileChange($event)" aria-describedby="logodescription">
                                <label class="custom-file-label" for="logo">Choose file</label>
                            </div>
                            <small class="form-text" style="width:100%;" *ngIf="waiting">
                                <div class="loader-bubble loader-bubble-light m-2"></div>
                            </small>
                          </div>
                          <input type="text" required [(ngModel)]="item.hmoUrl" name="hmoUrl" hidden class="form-control hidden"/>
 
                       </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="description">Brief description about your organization</label>
                            <textarea id="description" name="businessDescription" #businessDescription="ngModel" [(ngModel)]="item.businessDescription" class="form-control"></textarea>
                           
                        </div>
 
                        <div class="col-md-12">
                            <btn-loading btnClass="btn-primary btn-rounded float-right" [loading]="waiting" [disabled]="!f.valid || waiting">Submit</btn-loading>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 
</div> 
<ng-template #modalInvite let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Generate Referral Link</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
              <input type="email" class="form-control" id="email" required #sentTo="ngModel" name="sentTo" [(ngModel)]="item.sentTo" placeholder="Email Address">
              <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="icon-regular i-Mail"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  