 
    <div class="card"> 
      <div class="card-body">
        <h5 class="card-title">My Bank Settings</h5>
        <h6 class="card-subtitle text-danger danger_text">
          This is the bank account that your payment is sent to whenever you
          decide to withdraw
        </h6>
        <form role="form" #f="ngForm"  (ngSubmit)="bankActionHandler()">
          <div class="form-group"[ngClass]="{
            'has-danger': accountNumber.invalid && (accountNumber.dirty || accountNumber.touched),
            'has-success': accountNumber.valid && (accountNumber.dirty || accountNumber.touched)
        }">
            <label>Bank Account Number</label>
            
            <input type="text" #accountNumber="ngModel" name="accountNumber" required [(ngModel)]="item.accountNumber" 
             minlength="0" maxlength="10" placeholder="Bank Account Number" class="form-control"/>
             <div class="form-control-feedback" *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched)">
                <p class="text-danger" *ngIf="accountNumber.errors.required">Account Number is required</p> 
              </div>
          </div>
          <div class="form-group ">
            <label>Select Your Bank</label> 
            <select name="bankCode" required [(ngModel)]="item.bankCode" (change)="bankChange()" class="form-control"> 
              <option [value]="" selected="selected">Select bank</option>
              <option *ngFor="let item of banks" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
          <p *ngIf="message" class="text-danger bolder"> {{message}}</p>
          <btn-loading *ngIf="!isVerified"  btnClass="btn-danger btn-rounded float-right"  (click)="verifyAccount()" [loading]="loading" [disabled]="loading">{{loading ? 'Verifying from your bank..':'Click to Verify Account'}}</btn-loading>
  
        
          <div *ngIf="isVerified">
              <div class="form-group" *ngIf="isVerified">
                  <label>Account Name (received from your bank)</label>
                  <input type="text" name="accountName" [(ngModel)]="item.accountName" class="form-control"/>
                </div>
               
              <button type="submit" [disabled]='isSaving' class="btn btn-primary"><i [class]="isSaving? 'fa fa-gear fa-spinner fa-spin':'fa fa-gear'"></i>{{isSaving ? 'Processing': 'Update Bank Settings'}} </button>
           
          </div>
          </form>
      </div>
    </div>

  
