<div class="row">
     
    <div class="col-md-3">
        <div class="panel px-1">
            <div style="padding-left:10px">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Select Type</h6>
                    </div>
                    <div class="pull-right">
                        <a (click)="reloadComponent()" class="btn btn-sm btn-circle " href="" tooltip="Reload">
                            <i class="i-Restore-Window"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="">
                    <div class="panel-body">
                        <div *ngFor="let type of emailTypes">
                            <a (click)="emailTypeChanged(type.value)" href="javascript:;">
                                <span class="pull-left inline-block capitalize-font txt-dark"> {{type.name}}</span>
                            </a>

                            <div class="clearfix"></div>
                            <hr class="light-grey-hr row mt-10 mb-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
           
           
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                  No Email Template Available<br/>
                    <button class="btn btn-outline-primary btn-sm btn-rounded m-1"  (click)="open(modalSelectHospital)"> Create</button>
                </p>
            </div>
        </div>
      <div class="card o-hidden" *ngIf="items?.length > 0">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                  <tr> 
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Active</th>
                    <th scope="col">Date Created</th>
                    
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let item of items | grdFilter: {category: searchText}; let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{item.subject}}</td> 
                        <td>
                            <label class="label" [ngClass]="{'label-success':item.isActive, 'label-default':!item.isActive}">
                                <span>{{item.isActive?'Active':'Deactivated'}}</span>
                            </label>
                        </td> 
                        <td>{{item.dateCreated|date:'short'}}</td> 
                        <td> 
                           <button  (click)="go('/systemadmin/appsetting/email/detail', item.id)" ngbTooltip="View Details" type="button" class="btn btn-sm btn-secondary">
                              <span class=" label label-success">  <i class="i-Newspaper"></i></span>
                           </button> &nbsp;&nbsp;
      
                           <button  (click)="go('/systemadmin/appsetting/email/edit',item.id)" ngbTooltip="Edit Template" type="button" class="btn btn-sm btn-outline-success">
                              <span class=" label label-danger">  <i class="i-Edit"></i></span>
                           </button>
                        </td>
      
                    </tbody>
                </table>
          </div>
          
        <div class="col-md-12">
            <div class="col-md-4 float-left">
              <p>{{getPageInfoDescription()}}</p>
            </div>
            <div class="col-md-6 float-right">
              <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true"
                [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page"
                aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>
      </div>
    </div>

  </div>
  <app-loader [isLoadingData]="waiting"></app-loader>
   

     