<div class="breadcrumb">
    <h1>Template Detail for {{item?.subject}}</h1>
  </div>
  <div class="row">
    <div class="col-md-9">
<div class="col-lg-12">
    <div class="card card-ecommerce-3 o-hidden mb-4">
      <div class="d-flex"> 
        <div class="flex-grow-1 p-4">
          <h5 class="m-0 font-weight-bold text-muted">{{item?.subject}}</h5>
          
          <p class="text-muted mt-3" [innerHtml]="item?.body"></p>
          <div class="actions">
            <button class="btn btn-sm rounded-circle btn-icon float-right btn-outline-primary">
              <i class="icon i-Arrow-Back"></i>
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  </div>
  
<app-loader [isLoadingData]="loading"></app-loader>
