<div class="">
    <div class="breadcrumb row">
        <h1>HMO</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li>Home</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <div class="row p-3">
        <div class="col-md-5">
            
            <h4>{{greeting}}</h4>
        </div>
        <div class="col-md-4 offset-md-3">
            <h4 class="float-right">{{time}}</h4>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-8">

                        <b><span class="text-22">{{counter?.enrollees}}</span></b>
                        <br />
                        <h6>Enrollees</h6>
                    </div>
                    <div class="col-md-4">

                        <h3 class="text-19 closed"><i class="i-Add-User"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 dashboard-item" (click)="goToNav('/hmo/configuration/healthcare-selection')">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-8">

                        <b><span class="text-22">{{counter?.organization}}</span></b>
                        <br />
                        <h6>Clients</h6>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-19 closed"><i class="i-Building"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-12 dashboard-item" (click)="goToNav('/hmo/configuration/healthcare-selection')">
                <div class="card mb-2">
                    <div class="card-body row">
                        <div class="col-md-8">
    
                            <b><span class="text-22">{{counter?.provider}}</span></b>
                            <br />
                            <h6>Registered Hospitals</h6>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-19 closed"><i class="fa fa-hospital-o"></i></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/claims/list')">
                    <div class="card mb-2">
                        <div class="card-body row">
                            <div class="col-md-9">
                                <b><span class="text-22">{{counter?.claims}}</span></b>
                                <br />
                                <h6>Claims for this month</h6>
                            </div>
                            <div class="col-md-3">
                                <h3 class="text-19 closed"><i class="fa fa-credit-card"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/transactions/index')">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-9">
                        <b><span class="text-22">{{counter?.totalPaymentMade}}</span></b>
                        <br />
                        <h6>Balance</h6>
                    </div>
                    <div class="col-md-3">
                        <h3 class="text-19 closed"><i class="i-Money-2"></i></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 dashboard-item" (click)="goToNav('/hmo/transactions/index')">
                <div class="card mb-2">
                    <div class="card-body row">
                        <div class="col-md-8">
    
                            <b><span class="text-22">{{counter?.pendingClaimRequests}}</span></b>
                            <br />
                            <h6>Pending Claim Requests</h6>
                        </div>
                        <div class="col-md-4">
                            <h3 class="text-19 closed"><i class="fa fa-bookmark"></i></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/claims/authorization-codes')">
                    <div class="card mb-2">
                        <div class="card-body row">
                            <div class="col-md-9">
                                <b><span class="text-22">{{counter?.pendingAuthorizationRequests}}</span></b>
                                <br />
                                <h6>Pending Authorization Request</h6>
                            </div>
                            <div class="col-md-3">
                                <h3 class="text-19 closed"><i class="fa fa-ellipsis-h"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4 col-sm-12 cursor dashboard-item" (click)="goToNav('/hmo/provider-requests')">
            <div class="card mb-2">
                <div class="card-body row">
                    <div class="col-md-9">
                        <b><span class="text-22">{{counter?.changeProvidersCount}}</span></b>
                        <br />
                        <h6>Change Health Care Provider Request</h6>
                    </div>
                    <div class="col-md-3">
                        <h3 class="text-19 closed"><i class="fa fa-exchange"></i></h3>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 
        <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                            <div class="card-body text-center">
                                <i class="i-Add-User"></i>
                                <div class="content">
                                    <p class="text-muted mt-2 mb-0">Enrollees</p>
                                    <p class="text-primary text-24 line-height-1 mb-2">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                            <div class="card-body text-center">
                                <i class="i-Building"></i>
                                <div class="content">
                                    <p class="text-muted mt-2 mb-0">Organization</p>
                                    <p class="text-primary text-24 line-height-1 mb-2">4</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h6 class="mb-1">Balance</h6>
                                <p class="text-primary text-24 font-weight-light mb-1">₦1,936,596.00</p>
                                <div class="text-center icon-text">
                                    <i class="i-Money-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 p-5 bg-img text-white text-left">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="text-white">{{greeting}}</h4>
                    </div>
                    <div class="col-sm-5 offset-sm-1 mb-2">
                        <img :src="/assets/images/icon/{{greetingimage}}.png" width="100px" />
                    </div>
                    <div class="col-sm-12">
                        <hr class="text-white" style="background: #fff;">
                    </div>
                    <div class="col-sm-12">
                        <p class="mt-2 text-18 text-white">Current Time: {{time}}</p>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title row">
                        <div class="col-md-4">Enrollee Visits</div>
                        
                        <div class="col-md-4 offset-md-4">
                            <select [(ngModel)]="filter.days" (change)="switchChartData()"  class="custom-select" id="inputGroupSelect01">
                                    <option selected value="7">Last 7days</option>
                                    <option value="30">Last 30 days</option>
                                    <option value="365">This Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="alert-card mb-4 alert alert-warning alert-dismissible"  *ngIf="isEmpty">Not available at the moment</div>
                    <div *ngIf="!isEmpty" echarts [options]="chartLineOption3" [ngStyle]="{'height': isEmpty ? '0px' : '300px'}"></div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">
                        Package Analytics
                        <h6>Different Packages used by Enrollees</h6>
                    </div>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title row">
                        <div class="col-md-8">Claims By gender</div>
                    </div>
                    <div echarts [options]="chartLineOption4" style="height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader [isLoadingData]="waiting"></app-loader>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>