<div class="">
    <div class="breadcrumb">
        <h1>Hospital Change Request</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>
<app-shared-change-provider
(reload)="refresh($event)"
(sendData)="changeProviderHandler($event)"
(approve)="approveProviderRequest($event)"
(reload)="refresh()"
[isClose]='isClose'
[waiting]='waiting'
></app-shared-change-provider>
    
</div>
