<div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex mb-2 float-right">
        <button class="btn btn-outline-secondary btn-rounded m-1"  ><i
            class="fa fa-refresh"></i> Refresh</button>
      </div>
      
    <!--       <div class="d-flex mb-2 float-left">
            <select name="count" [(ngModel)]="paginationConfig.count" (change)="filterData()" class="form-control">
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
          </div> -->
        
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
              Filter By
                <form role="form" #f="ngForm"    class="form-horizontal">
        
              <div class="row row-xs">
                  <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label>Organization </label>
                        <select class="form-control form-control-rounded"(change)="setupPaginations()" name="orgId" [(ngModel)]="filter.orgId">
                          
                          <option *ngFor="let org of orgs" value="{{org.id}}">{{org.name}}</option>
                          
                        </select>
                      </div>
                    </div>
      
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                          <label>Health Maintenance Organization</label>
                          <select class="form-control form-control-rounded" (change)="setupPaginations()" name="ultimateHmoId" [(ngModel)]="filter.ultimateHmoId">
                           
                            <option *ngFor="let hmo of hmos" value="{{hmo.id}}">{{hmo.name}}</option>
                         
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-4">
                          <div class="form-group">
                            <label>Enrollee Name/Email </label>
                            <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search by Name or Email" class="form-control form-control-rounded">
                          </div>
                        </div>
               
                <div class="col-md-4  mt-3 mt-md-0">
                  <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary btn-block btn-rounded">Search</button>
                </div>
              </div>
              </form>
            </div>
          </div>
    </div>
   
     
       
    <div class="col-md-12">

      <div class="card  o-hidden">
        
        <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                    
                    <th>Name</th>
                    <th>Email</th>
                    <th>Organization</th>
                  
                    <th>Hmo</th>
                    <th>Plan</th>
                    <th>Action</th>
                  </tr>
                  </thead>
            <tbody>

                <tr *ngFor="let user of items | grdFilter: {name: searchText, enrolleeEmail: searchText}; let i=index">
                  
                  <td>
                   <b>{{user.name}}</b>
                    <p><small> {{user.userModel.address}}</small></p>
                  </td>
                  <td>{{user.enrolleeEmail}}</td>
                  <td>{{user.orgName ? user.orgName:'-'}}</td>
                  <td>{{user.uhmoName}}</td>
                  <td><label class="label label-success">{{user.plan}}</label></td>
                  
                  <td>
    
                    <a (click)="_enrolleeCards(user)" class="btn btn-sm btn-success" ngbTooltip="Open Card"><i class="fa fa-address-card-o"></i> </a>
                     
    
                  </td>
    
                </tbody>
    
                
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 float-left">
            <p>{{getPageInfoDescription()}}</p>
          </div>
          <div class="col-md-6 float-right">
            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count"
              [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)"
              [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>
  </div>


<app-loader [isLoadingData]="waiting"></app-loader>