  <div class="row">

    <div class="col-md-12 mb-1">
      <div class="card mt-2">
        <div class="card-body">

          <h4>Claim Details</h4>
          <button *ngIf="role==='HMO'" type="button" (click)="open(modalApproval)" class="btn btn-success float-right">
              <span class="badge badge-danger">{{response?.unreadApprovalCounts}}</span>
            <i class="fa fa-check"></i> Approve Claim</button>
          <br />
          <hr>
          <div class="row">
            <div class="col-md-4 col-6">
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Name</p>
                <span>{{response?.enrolleeName}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Enrollee ID</p>
                <span>{{response?.enrolleeCode}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="fa fa-phone text-16 mr-1"></i> Claim Cost</p>
                <span>{{response?.formattedCost}}</span>
              </div>


            </div>
            <div class="col-md-7 col-6">
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Investigation Note</p>
                <span>{{response?.investigation?.description ? response?.investigation?.description : ''}}</span>
              </div>

              <div class="mb-4">
                <p class="text-primary mb-1"><i class="fa fa-phone text-16 mr-1"></i> Generated Visit Code</p>
                <h2 class="lead">{{response?.visitCode}}</h2>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="fa fa-phone text-16 mr-1"></i> Approval Status</p>
                <h2 class="lead">{{response?.statusName}}</h2>
              </div>
            </div>



          </div>
          <hr>
        
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="card-title">Diagnosis</div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <th>Name</th>
                      <th>Description</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of response?.diagnosisModels">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="card-title">Services</div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <th>Description </th>
                      <th>Cost</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of response?.serviceRenderModels">
                        <td>{{item.description}}</td>
                        <td>{{item.cost | currency:'&#8358;'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="card-title">Medications</div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Cost</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of response?.medicationModels">
                        <td>{{item.name}}</td>
                        <td>{{item.dosageDescription}}</td>
                        <td>{{item.cost | currency:'&#8358;'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



          </div>
          <!--  <hr>
                          <h4>Visit History</h4>
                          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore labore
                              reiciendis
                              ab quo ducimus reprehenderit natus debitis, provident ad iure sed aut animi dolor incidunt
                              voluptatem. Blanditiis, nobis aut.</p>
                          <div class="row">
                              <div class="col-md-2 col-sm-4 col-6 text-center">
                                  <i class="i-Plane text-32 text-primary"></i>
                                  <p class="text-16 mt-1">Travelling</p>
                              </div>
                              <div class="col-md-2 col-sm-4 col-6 text-center">
                                  <i class="i-Camera text-32 text-primary"></i>
                                  <p class="text-16 mt-1">Photography</p>
                              </div>
                              <div class="col-md-2 col-sm-4 col-6 text-center">
                                  <i class="i-Car-3 text-32 text-primary"></i>
                                  <p class="text-16 mt-1">Driving</p>
                              </div>
                              <div class="col-md-2 col-sm-4 col-6 text-center">
                                  <i class="i-Gamepad-2 text-32 text-primary"></i>
                                  <p class="text-16 mt-1">Gaming</p>
                              </div>
                              <div class="col-md-2 col-sm-4 col-6 text-center">
                                  <i class="i-Music-Note-2 text-32 text-primary"></i>
                                  <p class="text-16 mt-1">Music</p>
                              </div>
                              <div class="col-md-2 col-sm-4 col-6 text-center">
                                  <i class="i-Shopping-Bag text-32 text-primary"></i>
                                  <p class="text-16 mt-1">Shopping</p>
                              </div>
                          </div> -->
        </div>
      </div>

    </div>


  </div>

  <app-loader [isLoadingData]="waiting"></app-loader>
  <ng-template #modalApproval let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Approval Claims Comments </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-default"> <span class="pull-right">
          <!--<a class="btn btn-sm btn-primary" (click)="addAccount(content)" ngbTooltip="Add New User"><i class="fa fa-plus"></i></a>-->
          <a class="btn btn-sm btn-primary" ngbTooltip="Refresh" (click)="reloadComponent()"><i
              class="fa fa-refresh"></i></a>
        </span></p>


      <div class="col-md-12">
        <div *ngFor="let comment of comments" class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
          <img alt="" class="avatar-md rounded mr-3" src="./assets/images/faces/2.jpg">
          <div class="flex-grow-1">
            <h6 class="m-0">{{comment?.name}}</h6>
            <p style="word-break: break-word;" class="m-0 text-small text-muted">{{comment?.comment}}</p>
          </div>
          <div><span class="badge badge-pill  p-2 mr-1" [ngClass]="{'badge-success': comment.isApprove, 'badge-danger': !comment.isApprove}">{{comment.isApprove ? 'Approved': 'Rejected'}}</span></div>
        </div>
      </div>
      <form #msgForm="ngForm" class="inputForm">
        <div class="form-group">
          <textarea class="form-control form-control-rounded" [(ngModel)]="claimApprovalCommentModel.comment"
            placeholder="Type your message" name="message" id="message" cols="30" rows="3"></textarea>
        </div>
        <div class="d-flex">
          <div class="flex-grow-1"></div>
          <button (click)="approveClaim()" [disabled]="isLoading" ngbTooltip="Approve"
            class="btn btn-icon btn-rounded btn-primary mr-2">
            <i class="fa fa-check"></i>
          </button>
          <button (click)="rejectClaim()" [disabled]="isLoading" ngbTooltip="Reject"
            class="btn btn-icon btn-rounded btn-outline-danger" type="button">
            <i class="fa fa-reply"></i>
          </button>
        </div>
      </form>

    </div>

  </ng-template>