/* Add application styles & imports to this file! */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~animate.css/animate.min.css";
.ng-select {
    height: 40px !important;
  }
  .ng-select-container.ng-has-value {
    height: 37px !important;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.dropdown-menu-tb{
  left: -169px !important;
}
.block{
  display: block;
}
.inline{
  display: inline;
}
.cursor{
  cursor: pointer !important;
}
.avatar-align{
  margin-top:-9px;
}


.benefitsCard-1{
  background: url('assets/images/cardbg/benefitsCard1.jpg');
  /* fallback for old browsers */
  color: #fff !important;
}

.benefitsCard-2 {
  color: #fff !important;
  background: url('assets/images/cardbg/benefitsCard1.jpg');
  //* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.benefitsCard-3 {
  color: #fff !important;
  background: url('assets/images/cardbg/benefitsCard.jpg');
  //* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.benefitsCard-4 {
  color: #fff !important;
  background: url('assets/images/cardbg/benefitsCard1.jpg');
  //* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}