<div class="breadcrumb">
    <h1>Event Creation</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create New Event</h5>

                <form role="form" #f="ngForm" (ngSubmit)="submitEvent()">

                    <div class="form-group" [ngClass]="{
                  'has-danger': title.invalid && (title.dirty || title.touched),
                  'has-success': title.valid && (title.dirty || title.touched)
                   }">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title" [(ngModel)]="item.title" required #title="ngModel">
                        <div class="form-control-feedback" *ngIf="title.errors && (title.dirty || title.touched)">
                            <p *ngIf="title.errors.required" class="text-danger">This field is required</p>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{
                        'has-danger': venue.invalid && (venue.dirty || venue.touched),
                        'has-success': venue.valid && (venue.dirty || venue.touched)
                         }">
                              <label>Venue</label>
                              <input type="text" class="form-control" name="venue" placeholder="venue" [(ngModel)]="item.venue" required #venue="ngModel">
                              <div class="form-control-feedback" *ngIf="venue.errors && (venue.dirty || venue.touched)">
                                  <p *ngIf="venue.errors.required" class="text-danger">This field is required</p>
                              </div>
                          </div>

                          <div class="form-group" [ngClass]="{
                            'has-danger': startDate.invalid && (startDate.dirty || startDate.touched),
                            'has-success': startDate.valid && (startDate.dirty || startDate.touched)
                             }">
                                  <label>Start</label>
                                  <input type="text" class="form-control" name="startDate"  [(ngModel)]="item.startDate" placeholder="yyyy-mm-dd" (click)="dc.toggle()" required #startDate="ngModel" ngbDatepicker #dc="ngbDatepicker">
                                  <div class="form-control-feedback" *ngIf="startDate.errors && (startDate.dirty || startDate.touched)">
                                      <p *ngIf="startDate.errors.required" class="text-danger">This field is required</p>
                                  </div>
                              </div>

                              <div class="form-group" [ngClass]="{
                                'has-danger': endDate.invalid && (endDate.dirty || endDate.touched),
                                'has-success': endDate.valid && (endDate.dirty || endDate.touched)
                                 }">
                                      <label>End</label>
                                      <input type="text" class="form-control" name="endDate"  [(ngModel)]="item.endDate" placeholder="yyyy-mm-dd" (click)="de.toggle()" required #endDate="ngModel" ngbDatepicker #de="ngbDatepicker">
                                      <div class="form-control-feedback" *ngIf="endDate.errors && (endDate.dirty || endDate.touched)">
                                          <p *ngIf="endDate.errors.required" class="text-danger">This field is required</p>
                                      </div>
                                  </div>

                     <div class="form-group">
                            <label>Featured Photo</label>
                            <div class="form-group input-group">
                               
                                    <div class="custom-file">
                                      <input type="file" (change)="onFileChange($event)" #uploader class="custom-file-input" id="inputGroupFile02" />
                                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{filename ? filename : 'Choose file'}}</label>
                                    </div>
                                     
                                    <div class="col-md-12 text-center" *ngIf="isUploading">
                                        <div class="spinner spinner-primary mr-3 text-center"></div>
                                    </div>
                                   
                                     
                                  </div>
                     </div>
                       

                    <div class="form-group" [ngClass]="{
                  'has-danger': description.invalid && (description.dirty || description.touched),
                  'has-success': description.valid && (description.dirty || description.touched)
                   }">
                        <label>Description<br/>
                            <small class="text-muted text-10">
                                Let your attendees know what to expect, including the agenda, what they need to bring, and how to find the group.
                            </small>
                        </label>
                        <quill-editor class="rounded" name="description" #description="ngModel" required [(ngModel)]="item.description"></quill-editor>

                        <div class="form-control-feedback" *ngIf="description.errors && (description.dirty || description.touched)">
                            <p class="text-danger" *ngIf="description.errors.required">This field is required</p>

                        </div>
                    </div>
                   <!--  <label  class="checkbox checkbox-outline-primary">
                        <input  checked=""  [(ngModel)]="item.isPublished" type="checkbox">
                        <span>Publish now</span>
                        <span  class="checkmark"></span>
                    </label> -->
                    <label  class="checkbox checkbox-outline-primary">
                            <input (change)="toggleCheck($event)" name="isSentToEnrollees" [(ngModel)]="item.isSentToEnrollees" type="checkbox">
                            <span>Invite all my enrollees</span>
                            <span  class="checkmark"></span>
                        </label>
                    <btn-loading btnClass="btn-primary btn-rounded btn-outline float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting || !f.valid">{{waiting ? 'Processing':'Create'}}</btn-loading>


                </form>
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="card">
                <div class="card-body">
                        <h3 class="card-title font-weight-bold">Tips for a great event</h3>
                        <p class="font-weight-bold text-17 mb-2">Be Descriptive</p>
                        <p class="text-14 mb-3">A good title immediately gives people an idea of what the event is about.</p>

                        <p class="font-weight-bold text-17 mb-2">Get organized</p>
                        <p class="text-14 mb-3">Describe things in a clear order so it's easy to digest. Start with an overall description of the event and include a basic agenda, before you move into really specific details.</p>


                        <p class="font-weight-bold text-17 mb-2">Add an image</p>
                        <p class="text-14 mb-3">Upload a photo or image to give members a better feel for the event.</p>
                </div>        
        </div>
    </div>
</div>