<div class="">
    <div class="breadcrumb">
      <h1>Claims Control</h1>
       
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="d-flex mb-2">
         
        </div>
      </div> 
<div  class="col-md-12">
  <div  class="card mb-4">
    <div  class="card-body">
      <div  class="card-title m-0">Batched Claims Section</div>
      <p  class="text-small text-muted">Claim batch management</p>
      <div  class="row">
        <div  class="col-md-3 mb-3 cursor" (click)="gotoRoute('provider/claims/batched',item.batchCode, 'list')" *ngFor="let item of items">
          <div  class="p-2 border border-light rounded d-flex align-items-center "><i
               class="i-Folder text-32 mr-3"></i> 
            <div>
              <h4  class="text-18 mb-1">{{item.batchName}}</h4>
              <span class="text-10 block"><code>{{item.batchCode}}</code></span>
              <span>Total Claims: <span class="badge badge-primary">{{item.totalClaimForms}}</span></span>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div> 
</div>
</div>
<app-loader [isLoadingData]="waiting"></app-loader>
