<div class="row">
    <div class="col-md-12 mb-3">
        <div class="d-flex mb-2 float-right">
            <button class="btn btn-outline-secondary btn-rounded m-1" (click)="reloadComponent()"><i class="fa fa-refresh"></i> Refresh</button>
            <button class="btn btn-outline-success btn-rounded m-1" (click)="goToNav('/hmo/claims/add-claim')"><i class="fa fa-plus"></i> Create Claim</button>
        </div>
        <div class="d-flex mb-2 float-left">
            
            <select name="count" [(ngModel)]="paginationConfig.count" (change)="setupPaginations()" class="form-control">
                <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                Filter By
                <form role="form" #f="ngForm" (ngSubmit)="setupPaginations()" class="form-horizontal">
                    <div class="row row-xs">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Enrollee Name </label>
                                <input type="text" [(ngModel)]="filter.enrolleeName" name="enrolleeName" placeholder="Search by Enrollee Name" class="form-control form-control-rounded">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Enrollee ID </label>
                                <input type="text" [(ngModel)]="filter.enrolleeCode" name="enrolleeCode" placeholder="Search by Enrollee ID" class="form-control form-control-rounded">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Hospital </label>
                                <select class="form-control form-control-rounded" (change)="setupPaginations()" name="providerId" [(ngModel)]="filter.providerId">
                                    <option value=""> Hospital </option>
                                    <option *ngFor="let name of nameAndIds" [value]="name.id">{{name.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label>Status </label>
                                <select class="form-control form-control-rounded" (change)="setupPaginations()" name="statusId" [(ngModel)]="filter.statusId">
                                    <option value=""> Status </option>
                                    <option *ngFor="let status of statuses" [value]="status.value">{{status.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>Period From </label>
                            <div class="input-group">
                                <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.DateCreatedFrom" name="DateCreatedFrom" ngbDatepicker #dt="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="dt.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3 mt-md-0">
                            <label>Period To </label>
                            <div class="input-group">
                                <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.DateCreatedTo" name="DateCreatedTo" ngbDatepicker #df="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="df.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12  mt-3 mt-md-0 ">
                            <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary  float-right btn-rounded">Search</button>
                            <button type="reset" style="margin-top:26px;" class="btn btn-outline-danger mr-2 float-right btn-rounded">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card o-hidden" *ngIf="items?.length > 0">
            <div class="table-responsive">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th>Enrollee Name</th>
                            <th>Visit Code</th>
                            <th>Claim Amount</th>
                            <th>Status</th>
                            <th>Date Submitted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor" *ngFor="let user of items | grdFilter: {enrolleeName: searchText, visitCode: searchText}; let i=index">
                            <td>
                                <ngx-avatar size="35" [name]="user.enrolleeName" class="float-left avatar-align"></ngx-avatar>
                                <span class="ml-2">{{user.enrolleeName}}</span>
                            </td>
                            <td><code>{{user.visitCode}}</code></td>
                            <td>{{user.formattedCost}}</td>
                            <td><label class="label label-success">{{user.statusName}}</label></td>
                            <td>{{user.dateOfClaimRequest| date:'medium'}}</td>
                            <td>
                                <a class="btn btn-sm btn-success text-white" (click)="gotoRoute('hmo/claims',user.visitCode, 'detail')" ngbTooltip="View Detail"><i class="fa fa-list"></i> Detail</a>
                            </td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <p>{{getPageInfoDescription()}}</p>
                </div>
                <div class="col-md-6 float-right">
                    <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>

        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                    No Claim<br />
                </p>
            </div>
        </div>
    </div>
</div>
<app-loader [isLoadingData]="waiting"></app-loader>