<div class="breadcrumb">
    <h1>Event</h1>
    <ul>

        <li>Management</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="offset-md-9 col-md-3 mb-3">
        <button class="btn btn-outline-info" (click)="open(addevent)">Create Event</button>
    </div>
    <div class="col-md-4 animated fadeIn">
        <div class="card text-white o-hidden mb-3" (click)="open(addevent)">
            <img class="card-img" src="assets/images/products/headphone-1.jpg" alt="">
            <div class="card-img-overlay">
                <h5 class="card-title text-white">Event title</h5>
                <div class="p-1 text-left card-footer font-weight-light d-flex">
                    <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                        12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 animated fadeIn">
        <div class="card text-white o-hidden mb-3" (click)="open(addevent)">
            <img class="card-img" src="assets/images/products/headphone-1.jpg" alt="">
            <div class="card-img-overlay">
                <h5 class="card-title text-white">Event title</h5>
                <div class="p-1 text-left card-footer font-weight-light d-flex">
                    <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                        12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 animated fadeIn">
        <div class="card text-white o-hidden mb-3" (click)="open(addevent)">
            <img class="card-img" src="assets/images/products/headphone-1.jpg" alt="">
            <div class="card-img-overlay">
                <h5 class="card-title text-white">Event title</h5>
                <div class="p-1 text-left card-footer font-weight-light d-flex">
                    <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                        12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #addevent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create / Update Event</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="row">

                <div class="col-md-12 form-group mb-3">
                    <label for="name">Event Name</label>
                    <input class="form-control" id="address" name="providerAddress" required autocorrect="off" autocapitalize="off" spellcheck="off" #mapSearch placeholder="Event Name">
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label for="address">Event Address</label>
                    <input class="form-control" id="address" name="providerAddress" required autocorrect="off" autocapitalize="off" spellcheck="off" #mapSearch placeholder="Office Address">
                </div>

                <div class="col-md-12 form-group mb-3">
                    <label for="logo">Event Image</label>
                    <div class="input-group mb-3">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="logo" #uploader (change)="onFileChange($event)" aria-describedby="logodescription">
                            <label class="custom-file-label" for="logo">Choose file</label>
                        </div>
                    </div>
                    <input type="text" required name="providerUrl" hidden class="form-control hidden" />

                </div>
                <div class="col-md-12 form-group mb-3">
                    <label for="description">Brief description about your Event</label>
                    <textarea id="description" name="businessDescription" class="form-control"></textarea>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>