<div class="row">
    <div class="col-md-12 mb-3">
        <div class="d-flex mb-2 float-right">
            <button class="btn btn-outline-secondary btn-rounded m-1" (click)="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
            <button class="btn btn-outline-primary btn-rounded m-1" (click)="open(modalRequest)"><i class="fa fa-plus"></i> Request Authorization Code</button>
        </div>
    </div>
    <div class="col-md-12" *ngIf="items?.length > 0">
        <div class="card mb-3">
            <div class="card-body">
                <form role="form" #f="ngForm" (ngSubmit)="filterData()" class="form-horizontal">
                    <div class="row row-xs">
                        <div class="col-md-4">
                            <label>Period From </label>
                            <div class="input-group">
                                <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateCreatedFrom" name="dateCreatedFrom" ngbDatepicker #dt="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="dt.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3 mt-md-0">
                            <label>Period To </label>
                            <div class="input-group">
                                <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.dateCreatedTo" name="dateCreatedTo" ngbDatepicker #df="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="df.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mt-3 mt-md-0">
                            <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary btn-block btn-rounded">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro">
                <div class="border rounded-circle big-bubble">
                    <i class="i-Dropbox"></i>
                </div>
                <p class="text-16">
                    Request Authorization Code<br />
                    <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="open(modalRequest)"> Request</button>
                </p>
            </div>
        </div>
        <div class="card o-hidden" *ngIf="items?.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Enrollee Name</th>
                            <th scope="col">Enrollee ID</th>
                            <th scope="col">Authorization Code</th>
                            <th scope="col">Service Cost</th>
                            <th scope="col">Requested By</th>
                            <th scope="col">Date Requested</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; let i= index">
                            <td>
                                {{item.enrolleeName}}
                            </td>
                            <td>
                                {{item.enrolleeCode}}
                            </td>
                            <td> {{item.code ? item.code : 'Awaiting Approval' }}</td>
                            <td>
                                {{item.formattedCost}}
                            </td>
                            <td>
                                {{item.requestingOfficer}}
                            </td>
                            <td>
                                {{item.dateRequested | date:'medium'}}
                            </td>
                            <td>
                                <button *ngIf="role === 'Provider' && item.code && item.isApproved" (click)="gotoClaim(item)" type="button" class="btn btn-sm btn-success" ngbTooltip="Add Claim"><i class="fa fa-plus"></i></button>
                                <div ngbDropdown *ngIf="role === 'HMO'">
                                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Action</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-tb">
                                        <li class="dropdown-item" (click)="approveAction(item)" ngbDrowdownItem> <i class="fa fa-check"></i> Approve</li>
                                        <!-- <li class="dropdown-item" (click)="gotoRoute('hmo/clients',organization.orgKey, 'staffs')" ngbDrowdownItem> <i class="fa fa-view"></i> Detail </li>
                                      -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <p>{{getPageInfoDescription()}}</p>
                </div>
                <div class="col-md-6 float-right">
                    <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count" [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)" [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader [isLoadingData]="waiting"></app-loader>
<ng-template #modalRequest let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Request Authorization Code </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="submitData()">
            <div class="  form-group mb-3" [ngClass]="{
                  'text-danger': enrolleeId.invalid && (enrolleeId.dirty || enrolleeId.touched),
                  'text-success': enrolleeId.valid && (enrolleeId.dirty || enrolleeId.touched) }">
                <label for="name">Enrollee</label>
                <ng-select [items]="enrollees$ | async" bindLabel="name" bindValue="id" [multiple]="false" required [hideSelected]="false" placeholder="Search by enrollee Name or Enrollee ID" [loading]="people3Loading" #enrolleeId="ngModel" [(ngModel)]="item.enrolleeId" [typeahead]="textinput$" name="enrolleeId">
                </ng-select>
                <small class="form-text text-danger" *ngIf="enrolleeId.errors?.required && (enrolleeId.dirty || enrolleeId.touched)">This field is required</small>
            </div>
            <div *ngIf="role === 'HMO'" class="form-group" [ngClass]="{
                      'text-danger': providerId.invalid && (providerId.dirty || providerId.touched),
                      'text-success': providerId.valid && (providerId.dirty || providerId.touched) }">
                <label>Hospital </label>
                <select class="form-control" #providerId="ngModel" name="providerId" [(ngModel)]="item.providerId">
                    <option *ngFor="let name of nameAndIds" [value]="name.id">{{name.name}}</option>
                </select>
                <small class="form-text text-danger" *ngIf="providerId.errors?.required && (providerId.dirty || providerId.touched)">This field is required</small>
            </div>
            <div class="form-group mb-2" [ngClass]="{
                  'has-danger': cost.invalid && (cost.dirty || cost.touched),
                  'has-success': cost.valid && (cost.dirty || cost.touched)
              }">
                <label for="category"> Service Cost</label>
                <input type="number" min="0" class="form-control" name="cost" placeholder="Service Cost" [(ngModel)]="item.cost" required #cost="ngModel">
                <small class="form-text text-danger" *ngIf="cost.errors?.required && (cost.dirty || cost.touched)">This field is required</small>
            </div>
            <div class="form-group mb-2" [ngClass]="{
                'has-danger': specialistClass.invalid && (specialistClass.dirty || specialistClass.touched),
                'has-success': specialistClass.valid && (specialistClass.dirty || specialistClass.touched)
            }">
                <label for="specialistClass"> Specialist Class</label>
                <input type="text" class="form-control" name="specialistClass" placeholder="specialistClass Name" [(ngModel)]="item.specialistClass" required #specialistClass="ngModel">
                <small class="form-text text-danger" *ngIf="specialistClass.errors?.required && (specialistClass.dirty || specialistClass.touched)">This field is required</small>
            </div>
            <div class="form-group mb-2" [ngClass]="{
              'has-danger': specialistClass.invalid && (specialistClass.dirty || specialistClass.touched),
              'has-success': specialistClass.valid && (specialistClass.dirty || specialistClass.touched)
          }">
                <label for="requestingOfficer"> Requested by</label>
                <input type="text" class="form-control" name="requestingOfficer" placeholder="Requesting Officer Name" [(ngModel)]="item.requestingOfficer" required #requestingOfficer="ngModel">
                <small class="form-text text-danger" *ngIf="requestingOfficer.errors?.required && (requestingOfficer.dirty || requestingOfficer.touched)">This field is required</small>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <btn-loading [btnClass]="'btn btn-rounded btn-outline-dark'" [loading]="waiting" [type]="'button'" [disabled]="waiting" [loadingText]="'Loading...'" (click)="submitData()">
            <i class="i-Add-User"></i> Save
        </btn-loading>
    </div>
</ng-template>