
 <div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex mb-2 float-right">
        <button class="btn btn-outline-secondary btn-rounded m-1" (click)="refresh()"><i
            class="fa fa-refresh"></i> Refresh</button>
      </div>  

      <div class="d-flex mb-2 float-left">
            <select name="count" [(ngModel)]="paginationConfig.count" (change)="filterData()" class="form-control">
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
          </div>  
        
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <form role="form" #f="ngForm" (ngSubmit)="filterData()"   class="form-horizontal">
        
              <div class="row row-xs">
                <div class="col-md-4">
                    <label>Period From </label>
                    <div class="input-group">
      
                      <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.paymentDateFrom" name="paymentDateFrom"
                        ngbDatepicker #dt="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="dt.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                    <label>Period To </label>
                    <div class="input-group">
      
                      <input class="form-control form-control-rounded" placeholder="yyyy-mm-dd" [(ngModel)]="filter.paymentDateTo" name="paymentDateTo"
                        ngbDatepicker #df="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-default btn-rounded calendar" (click)="df.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                </div>
                <div class="col-md-4  mt-3 mt-md-0">
                  <button type="submit" style="margin-top:26px;" class="btn btn-outline-primary btn-block btn-rounded">Search</button>
                </div>
              </div>
              </form>
            </div>
          </div>
    </div>
   
     
       
    <div class="col-md-12">

      <div class="card  o-hidden">
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ref. Code</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Channel</th>
                    
                    <th>Status</th>
                    <th>Date Payed</th>
                    <th *ngIf="role != 'HMO'">Action</th>
                  </tr>
            </thead>
            <tbody>

                <tr *ngFor="let sub of items; let i=index">
                  <td>{{i + 1}}</td>
                  <td><code>{{sub.referenceCode |   uppercase }}</code></td>
                  <td><p>{{sub.narration}}</p></td>
                  <td><b>{{sub.formattedAmount}}</b></td>
                  <td class="text-muted">{{sub.channel}}</td> 
                  <td><label [class]="sub.hasPaid? 'label label-success':'label label-danger'">{{sub.hasPaid ? 'Paid':'Not Paid'}}</label></td>
    
                  <td>
                    {{sub.paymentDate | date:'short'}}
                  </td>
                  <td *ngIf="role !== 'HMO'">
                    <button  (click)="openTab(sub.id)" type="button" class="btn btn-sm btn-success text-white mr-2" ngbTooltip="Print Receipt"><i class="fa fa-file-pdf-o"></i></button>
                    <a class="btn btn-sm btn-success text-white" (click)="role && role === 'Organization' ? gotoRoute('/client/transactions',sub.id, 'detail') : gotoRoute('/hmo/transactions', sub.id, 'detail')" ngbTooltip="View Payment Transaction Detail"><i class="fa fa-list"></i></a>
                    
                  </td> 
                  <td *ngIf="role === 'HMO'">
                      <a class="btn btn-sm btn-success text-white" (click)="gotoRoute('hmo/transactions',sub.id, 'detail')" ngbTooltip="View Payment Transaction Detail"><i class="fa fa-list"></i></a>
                   
                  </td>
</tr>
    
                </tbody>
                <tfoot *ngIf="role === 'HMO'">
                    <tr>
                      
                      <td colspan="5"><h2 class="bolder">Total: {{totalPaid | currency:'&#8358;'}}</h2></td>
                    </tr>
                    </tfoot>
          </table>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 float-left">
            <p>{{getPageInfoDescription()}}</p>
          </div>
          <div class="col-md-6 float-right">
            <ngb-pagination [collectionSize]="paginationConfig.total" [maxSize]="3" [pageSize]="paginationConfig.count"
              [boundaryLinks]="true" [directionLinks]="true" (pageChange)="pageChanged($event)"
              [(page)]="paginationConfig.page" aria-label="Default pagination"></ngb-pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
 

  <app-loader [isLoadingData]="waiting"></app-loader>  