<div class="">
    <div class="breadcrumb row">
        <h1>Package</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li>Home</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>

    <div class="col-md-7 col-sm-12 mt-3 offset-md-2">
        <div class="card p-4 text-center"> 
            <h2 class="text-primary icon-text"><i class="i-Gift-Box"></i></h2>
            <h4>{{items?.packageName}}</h4>
            <hr class="mt-2" />
            <h4>{{items?.packageValue}}</h4>
            <hr class="mt-2" />
            <div>
              <p [innerHtml]="items?.description"></p>   
            </div>
            <hr class="mt-4" />
            <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="open(updatePackage)">
        <i class="i-Edit"></i> Update
      </button>
        </div>
    </div>
</div>

<ng-template #updatePackage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Change Benefit Package</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm">
            <div class="form-group mb-2">
                <label for="Plan">Packages</label>
                <select class="custom-select" id="inputGroupSelect01">
        <option value="">
          Gold - NGN 30,000
        </option>
        <option value="">
          Basic Plus - NGN 5,000
        </option>
        <option value="">
          Basic - NGN 1,000
        </option>
      </select>
                <br>
                <ul>
                    <li>
                        <h6>Enrollee Best Plan</h6>
                    </li>
                </ul>
            </div>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <btn-loading [btnClass]="'btn btn-rounded btn-outline-dark'" [loading]="waiting" [type]="'button'" [disabled]="waiting" [loadingText]="'Loading...'" (click)="!edit ? createPlan(f) : updatePlan(f)">
            <i class="i-Edit"></i> Choose
        </btn-loading>
    </div>
</ng-template>