<div class="breadcrumb">
    <h1>View Benefits</h1>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="items?.length == 0" class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
                <!-- Intro screen -->
                <div class="app-inro-circle inbox-intro">
                    <div class="border rounded-circle big-bubble">
                        <i class="i-Dropbox"></i>
                    </div>
                    <p class="text-16">
                        No record<br />
                        <button class="btn btn-outline-primary btn-sm btn-rounded m-1" (click)="goToNav('hmo/benefits/create')"> Create</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteBenefits let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Confirm Action</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Do you want to continue?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">
            NO
        </button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded" (click)="modal.close('Ok')">
            YES
        </button>
    </div>
</ng-template>
<app-loader [isLoadingData]="waiting"></app-loader>
<ng-template #modalLong let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Edit Benefit
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" #f="ngForm" (ngSubmit)="updatePack(f)">
            <div class="form-group" [ngClass]="{
            'has-danger': packageName.invalid && (packageName.dirty || packageName.touched),
            'has-success': packageName.valid && (packageName.dirty || packageName.touched)
        }">
                <label>Title</label>
                <input type="text" class="form-control" name="packageName" placeholder="Name (e.g Gold,Silver)" [(ngModel)]="item.packageName" required #packageName="ngModel">
                <div class="form-control-feedback" *ngIf="packageName.errors && (packageName.dirty || packageName.touched)">
                    <p *ngIf="packageName.errors.required" class="text-danger">This field is required</p>
                </div>
            </div>
            <div class="form-group" [ngClass]="{
          'has-danger': packageName.invalid && (packageName.dirty || packageName.touched),
          'has-success': packageName.valid && (packageName.dirty || packageName.touched)
      }">
                <label>Tagline Sub-title</label>
                <input type="text" class="form-control" name="subTitle" placeholder="Sub title tagline for benefit" [(ngModel)]="item.subTitle" required #subTitle="ngModel" />
                <div class="form-control-feedback" *ngIf="subTitle.errors && (subTitle.dirty || subTitle.touched)">
                    <p *ngIf="subTitle.errors.required" class="text-danger">This field is required</p>
                </div>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger': packageValue.invalid && (packageValue.dirty || packageValue.touched),
            'has-success': packageValue.valid && (packageValue.dirty || packageValue.touched)
        }">
                <label>Cost of Benefit</label>
                <input type="number" class="form-control" name="packageValue" placeholder="Cost of Benefit" [(ngModel)]="item.packageValue" required #packageValue="ngModel">
                <div class="form-control-feedback" *ngIf="packageValue.errors && (packageValue.dirty || packageValue.touched)">
                    <p *ngIf="packageValue.errors.required" class="text-danger">This field is required</p>
                </div>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger': packageDescription.invalid && (packageDescription.dirty || packageDescription.touched),
            'has-success': packageDescription.valid && (packageDescription.dirty || packageDescription.touched)
        }">
                <label>Benefit Full Features</label>
                <quill-editor class="rounded" name="packageDescription" #packageDescription="ngModel" required [(ngModel)]="item.packageDescription"></quill-editor>
                <div class="form-control-feedback" *ngIf="packageDescription.errors && (packageDescription.dirty || packageDescription.touched)">
                    <p class="text-danger" *ngIf="packageDescription.errors.required">This field is required</p>
                </div>
            </div>
            <btn-loading btnClass="btn-rounded btn-outline-primary float-right" [type]="'submit'" [loading]="waiting" [disabled]="waiting">{{waiting ? 'Processing':'Edit'}}</btn-loading>
        </form>
    </div>
</ng-template>