<div class="">
    <div class="breadcrumb">
        <h1>Profile Setting</h1>

        <ul>
            <li>
                <a href="">Settings</a>
            </li>

            <li>Profile Setting</li>
        </ul>
    </div>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card user-profile o-hidden mb-4">
    <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>

    <div class="user-info">
        <img class="profile-picture avatar-xl mb-2" src="assets/images/faces/1.jpg" alt="">

        <p class="m-0 text-24">Ebuka Obi</p>
    </div>

    <div class="card-body">
        <ngb-tabset class="nav-center">
            <ngb-tab title="About">
                <ng-template ngbTabContent="ngbTabContent">
                    <h4>Personal Information</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi quam! Provident quis voluptate asperiores ullam, quidem odio pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, nulla eos? Cum non ex voluptate corporis
                        id asperiores doloribus dignissimos blanditiis iusto qui repellendus deleniti aliquam, vel quae eligendi explicabo.
                    </p>

                    <hr>

                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <i class="i-Calendar text-16 mr-1"></i> Birth Date
                                </p>

                                <span>1 Jan, 1994</span>
                            </div>

                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <i class="i-Edit-Map text-16 mr-1"></i> Birth Place
                                </p>

                                <span>Dhaka, DB</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <i class="i-MaleFemale text-16 mr-1"></i> Gender
                                </p>

                                <span>1 Jan, 1994</span>
                            </div>

                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <i class="i-Globe text-16 mr-1"></i> Lives In
                                </p>

                                <span>Dhaka, DB</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1">
                                    <i class="i-MaleFemale text-16 mr-1"></i> Email
                                </p>

                                <span>eobi@appzonegroup.com</span>
                            </div>
                        </div>
                    </div>

                    <hr>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Update Profile">
                <ng-template ngbTabContent="ngbTabContent">
                    <h5 class="card-title">Update Profile</h5>

                    <img src="assets/images/faces/1.jpg" alt="Avatar" class="img-thumbnail">
                    <br/>
                    <button class="btn btn-info">Upload Avatar</button>

                    <br>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Firstname</label>

                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ebuka">
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Lastname</label>

                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Obi">
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Email</label>

                            <input type="email" class="form-control" placeholder="eobi@appzonegroup.com" id="exampleFormControlInput1">
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Mobile Number:</label>

                            <input type="number" class="form-control" placeholder="08130770663" id="exampleFormControlInput1">
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Gender:</label>

                            <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Male</option>
    
                                    <option>Female</option>
                                </select>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Address:</label>

                            <textarea class="form-control" aria-label="With textarea" placeholder="41 Olasonoye Street Ijegun Satellite Town Lagos"></textarea>
                        </div>
                        <div class="col-md-6 col-sm-12 mt-2">
                            <p>
                                <button class="btn btn-info">Update Profile</button>
                            </p>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Change Password">
                <ng-template ngbTabContent="ngbTabContent">
                    <h5 class="card-title">Change Password</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Current Password</label>


                            <input type="password" class="form-control" placeholder="Ebuka" aria-label="Username" aria-describedby="basic-addon1" /></div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">New Password:</label>


                            <input type="password" class="form-control" placeholder="Obi" aria-label="Username" aria-describedby="basic-addon1" /></div>

                        <div class="col-md-6 col-sm-12">
                            <label for="exampleFormControlInput1">Confirm password:</label>

                            <input type="password" class="form-control" placeholder="eobi@appzonegroup.com" aria-describedby="basic-addon1" /></div>

                        <div class="col-md-6 col-sm-12 mt-2">
                            <p>
                                <button class="btn btn-info">Change password</button>
                            </p>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>